{% extends "layouts/main_cy-en.html" %}


{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <!-- English language selected-->
  {% if data['lang'] == "en" %}

    <div class="govuk-grid-column-two-thirds">
  
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>

      <form action="box-b" role="form" method="post">
      
  
        <div class="govuk-form-group">
  
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Provide additional information
            </h1>
          </legend>
  
          <div id="boxB-hint" class="govuk-hint govuk-!-margin-bottom-5">
            Tick if applicable.
          </div>
  
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="boxB" name="boxB" type="checkbox" value="I may be in a position later to give, on application by the Registrar General, additional information as to the cause of death for the purpose of more precise statistical classification.">
                <label class="govuk-label govuk-checkboxes__label" for="boxB">
                  I may be in a position later to give, on application by the Registrar General, additional information as to the cause of death for the purpose of more precise statistical classification.
                </label>
              </div>
  
            </div>
  
        </div>
  
          <button class="govuk-button" type="submit">
            Save and continue
          </button>
        
      </form>


  <!--Welsh language selected-->
  {% elseif data['lang'] == "cy" %}

  <div class="govuk-grid-column-two-thirds">
  
    <a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>

    <form action="box-b" role="form" method="post">

      <div class="govuk-form-group">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Darparu gwybodaeth ychwanegol
          </h1>
        </legend>

        <div id="boxB-hint" class="govuk-hint govuk-!-margin-bottom-5">
          Ticiwch os yn berthnasol.
        </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="boxB" name="boxB" type="checkbox" value="Efallai y byddaf mewn sefyllfa i roi gwybodaeth ychwanegol, ar gais y Cofrestrydd Cyffredinol, ynghylch achos y farwolaeth ar gyfer dosbarthiad ystadegol manylach">
              <label class="govuk-label govuk-checkboxes__label" for="boxB">
                Efallai y byddaf mewn sefyllfa i roi gwybodaeth ychwanegol, ar gais y Cofrestrydd Cyffredinol, ynghylch achos y farwolaeth ar gyfer dosbarthiad ystadegol manylach.
              </label>
            </div>

          </div>

      </div>

        <button class="govuk-button" type="submit">
          Achub a pharhau
        </button>
      
    </form>


  {% endif %}

    


</div>

{% endblock %}