{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% if data['over-under-28'] == 'no' %}
  <div class="govuk-grid-column-full">
    {% else %}
    <div class="govuk-grid-column-two-thirds">
      {% endif %}

<!-- English language selected-->
{% if data['lang'] == "en" %}

      <a href="javascript:history.back()" class="govuk-back-link">Back</a>

      <form action="cause-of-death" role="form" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="cause-death-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What caused the death?
            </h1>
          </legend>
          {% if data['bilingual'] == "true" %}
          <div id="cause-death-hint" class="govuk-hint">
            Do not use abbreviations, vague terms, or symptoms. <br>Enter cause of death in English and Welsh, or in English only. 
          </div>
          {% else %}
          <div id="cause-death-hint" class="govuk-hint">
            Do not use abbreviations, vague terms, or symptoms.
          </div>
          {% endif %}

        <!-- =========================================== -->
        <!-- Over 28 days Form -->
        <!-- =========================================== -->

        {% if data['over-under-28'] == 'no' %}

        <h2 class="govuk-heading-m">Cause of death (1)</h2>
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-two-thirds" style="padding: 0;">
            <div class="govuk-form-group">
            <label class="govuk-label" for="main-cause">
              {% if data['bilingual'] == 'true' %}
              <span class="govuk-visually-hidden">Enter </span>1(a) disease or condition directly leading to death<span><strong> in English</strong></span>
              {% else %}
              <span class="govuk-visually-hidden">Enter </span>1(a) disease or condition directly leading to death
              {% endif %}
            </label>
            <input class="govuk-input" id="main-cause" name="main-cause" type="text">
            </div>
        
          </div>

        <div class="govuk-grid-column-one-third">

          <div class="govuk-form-group">

            <label class="govuk-label" for="duration1">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(a)</span>
            </label>

            <div class="govuk-input__wrapper">
              <input class="govuk-input border-hidden" id="duration1" name="duration1" type="text">

              <!--SELECT TIME UNIT - Duration 1-->
              <select class="govuk-select" id="time-unit-duration-1" name="time-unit-duration-1">
                <option value="select unit" selected>Select unit</option>
                <option value="years before death">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="minutes">Unknown</option>
              </select>
            </div>
          </div>
      {% if data['bilingual'] == 'true' %}
        </div>
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
          <label class="govuk-label" for="main-cause">
            <span class="govuk-visually-hidden">Enter </span>1(a) disease or condition directly leading to death<span><strong> in Welsh</strong></span> (optional)
          </label>
          <input class="govuk-input" id="main-cause" name="main-cause" type="text">
          </div>
      {% endif %}
        </div>
      </fieldset>
      {% if data['bilingual'] == 'true' %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endif %}
      <fieldset class="govuk-fieldset">
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="secondary-cause">
              {% if data['bilingual'] == 'true' %}
              <span class="govuk-visually-hidden">Enter </span>1(b) other disease or condition leading to 1(a)<span><strong> in English</strong></span> (optional)
              {% else %}
              <span class="govuk-visually-hidden">Enter </span>1(b) other disease or condition leading to 1(a) (optional)
              {% endif %}
            </label>
            <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration2">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(b)</span>
            </label>

            <div class="govuk-input__wrapper">
              <input class="govuk-input border-hidden" id="duration2" name="duration2" type="text">

              <!--SELECT TIME UNIT - Duration 2-->
              <select class="govuk-select" id="time-unit-duration-2" name="time-unit-duration-2">
                <option value="select unit" selected>Select unit</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="minutes">Unknown</option>
              </select>

            </div>

          </div>
        </div>
      {% if data['bilingual'] == 'true' %}
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="secondary-cause">
              <span class="govuk-visually-hidden">Enter </span>1(b) other disease or condition leading to 1(a)<span><strong> in Welsh</strong></span> (optional)
            </label>
            <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
          </div>
        </div>
      {% endif %}
      </fieldset>

      {% if data['bilingual'] == 'true' %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endif %}
      <fieldset class="govuk-fieldset">
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-c">
              {% if data['bilingual'] == 'true' %}
              <span class="govuk-visually-hidden">Enter </span>1(c) other disease or condition leading to 1(b)<span><strong> in English</strong></span> (optional)
              {% else %}
              <span class="govuk-visually-hidden">Enter </span>1(c) other disease or condition leading to 1(b) (optional)
              {% endif %}
            </label>
            <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration3">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(c)</span>
            </label>

            <div class="govuk-input__wrapper">
              <input class="govuk-input border-hidden" id="duration3" name="duration3" type="text">

              <!-- SELECT TIME UNIT - Duration 3-->
              <select class="govuk-select" id="time-unit-duration-3" name="time-unit-duration-3">
                <option value="select unit" selected>Select unit</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="minutes">Unknown</option>
              </select>
          </div>
          </div>
        </div>

        {% if data['bilingual'] == 'true' %}
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-c">
              <span class="govuk-visually-hidden">Enter </span>1(c) other disease or condition leading to 1(b)<span><strong> in Welsh</strong></span> (optional)
            </label>
            <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
          </div>
        </div>
        {% endif %}
        </fieldset>

        {% if data['bilingual'] == 'true' %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% endif %}
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-two-thirds" style="padding: 0;">
            <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-d">
              {% if data['bilingual'] == 'true' %}
              <span class="govuk-visually-hidden">Enter </span>1(d) other disease or condition leading to 1(c)<span><strong> in English</strong></span> (optional)
              {% else %}
              <span class="govuk-visually-hidden">Enter </span>1(d) other disease or condition leading to 1(c) (optional)
              {% endif %}
            </label>
            <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration4">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(d)</span>
            </label>
            <div class="govuk-input__wrapper">
              <input class="govuk-input border-hidden" id="duration4" name="duration4" type="text">
              
              <!-- SELECT TIME UNIT - Duration 4-->
              <select class="govuk-select" id="time-unit-duration-4" name="time-unit-duration-4">
                <option value="select unit" selected>Select unit</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="minutes">Unknown</option>
              </select>
          </div>
          </div>
        </div>

        {% if data['bilingual'] == 'true' %}

        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-d">
            <span class="govuk-visually-hidden">Enter </span>1(d) other disease or condition leading to 1(c)<span><strong> in Welsh</strong></span> (optional)
          </label>
          <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
        </div>
      </div>
      {% endif %}
        </fieldset>

        {% if data['bilingual'] == 'true' %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% endif %}

        <h2 class="govuk-heading-m">Cause of death (2)</h2>

        <fieldset class="govuk-fieldset">
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-significant-conditions">
              {% if data['bilingual'] == 'true' %}
              <span class="govuk-visually-hidden">Enter </span>2 Other significant conditions contributing to their death<span><strong> in English</strong></span> (optional)
              {% else %}
              <span class="govuk-visually-hidden">Enter </span>2 Other significant conditions contributing to their death (optional)
              {% endif %}
            </label>
            <input class="govuk-input" id="other-significant-conditions" name="other-significant-conditions"
              type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration5">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 2</span>
            </label>
            <div class="govuk-input__wrapper">
              <input class="govuk-input border-hidden" id="duration5" name="duration5" type="text">
              
              <!-- SELECT TIME UNIT - Duration 5-->
              <select class="govuk-select" id="time-unit-duration-5" name="time-unit-duration-5">
                <option value="select unit" selected>Select unit</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="minutes">Unknown</option>
              </select>
          </div>
          </div>
        </div>

        {% if data['bilingual'] == 'true' %}
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-significant-conditions">
              <span class="govuk-visually-hidden">Enter </span>2 Other significant conditions contributing to their death<span><strong> in Welsh</strong></span> (optional)
            </label>
            <input class="govuk-input" id="other-significant-conditions" name="other-significant-conditions"
              type="text">
          </div>
        </div>
        {% endif %}
      </fieldset>
        {% else %}

        <!-- =========================================== -->
        <!-- Under 28 days Form -->
        <!-- =========================================== -->

        <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="main-cause">
            {% if data['bilingual'] == 'true' %}
            <span class="govuk-visually-hidden">Enter </span>a. Main disease or condition in infant<span><strong> in English</strong></span>
            {% else %}
            <span class="govuk-visually-hidden">Enter </span>a. Main disease or condition in infant
            {% endif %}
          </label>
          <input class="govuk-input" id="main-cause" name="main-cause" type="text">
        </div>

        {% if data['bilingual'] == 'true' %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="main-cause">
            <span class="govuk-visually-hidden">Enter </span>a. Main disease or condition in infant<span><strong> in Welsh</strong></span> (optional)
          </label>
          <input class="govuk-input" id="main-cause" name="main-cause" type="text">
        </div>
      </fieldset>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% else %}
    </fieldset>
      {% endif %}

    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="secondary-cause">
            {% if data['bilingual'] == 'true' %}
            <span class="govuk-visually-hidden">Enter </span>b. Other disease or condition in infant<span><strong> in English</strong></span> (optional)
            {% else %}
            <span class="govuk-visually-hidden">Enter </span>b. Other disease or condition in infant (optional)
            {% endif %}
          </label>
          <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
        </div>
    
        {% if data['bilingual'] == 'true' %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="secondary-cause">
            <span class="govuk-visually-hidden">Enter </span>b. Other disease or condition in infant<span><strong> in Welsh</strong></span> (optional)
          </label>
          <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
        </div>
    </fieldset>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% else %}
  </fieldset>
    {% endif %}

    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-c">
            {% if data['bilingual'] == 'true' %}
            <span class="govuk-visually-hidden">Enter </span>c. Main maternal disease or condition affecting infant<span><strong> in English</strong></span> (optional)
            {% else %}
            <span class="govuk-visually-hidden">Enter </span>c. Main maternal disease or condition affecting infant (optional)
            {% endif %}
          </label>
          <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
        </div>

        {% if data['bilingual'] == 'true' %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-c">
            <span class="govuk-visually-hidden">Enter </span>c. Main maternal disease or condition affecting infant<span><strong> in Welsh</strong></span> (optional)
          </label>
          <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
        </div>
    </fieldset>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% else %}
  </fieldset>
    {% endif %}

    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-d">
            {% if data['bilingual'] == 'true' %}
            <span class="govuk-visually-hidden">Enter </span>d. Other maternal diseases or conditions affecting infant<span><strong> in English</strong></span> (optional)
            {% else %}
            <span class="govuk-visually-hidden">Enter </span>d. Other maternal diseases or conditions affecting infant (optional)
            {% endif %}
          </label>
          <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
        </div>

        {% if data['bilingual'] == 'true' %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-d">
            <span class="govuk-visually-hidden">Enter </span>d. Other maternal diseases or conditions affecting infant<span><strong> in Welsh</strong></span> (optional)
          </label>
          <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
        </div>
    </fieldset>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% else %}
    </fieldset>
      {% endif %}

    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-e">
            {% if data['bilingual'] == 'true' %}
            <span class="govuk-visually-hidden">Enter </span>e. Other relevant factors or circumstances (not diseases of infant or mother) <span><strong>in English</strong></span> (optional)
            {% else %}
            <span class="govuk-visually-hidden">Enter </span>e. Other relevant factors or circumstances (not diseases of infant or mother) (optional)
            {% endif %}
          </label>
          <input class="govuk-input" id="other-conditions-e" name="other-conditions-e" type="text">
        </div>

        {% if data['bilingual'] == 'true' %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-e">
            <span class="govuk-visually-hidden">Enter </span>e. Other relevant factors or circumstances (not diseases of infant or mother)<span><strong> in Welsh</strong></span> (optional)
          </label>
          <input class="govuk-input" id="other-conditions-e" name="other-conditions-e" type="text">
        </div>
        {% endif %}
      </fieldset>


        {% endif %}

        </fieldset>

          <button class="govuk-button" type="submit">
            Save and continue
          </button>


      </form>


<!-- !!! -->
<!--Welsh language selected-->
{% elseif data['lang'] == "cy" %}


<a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>

<form action="cause-of-death" role="form" method="post">

  <fieldset class="govuk-fieldset" aria-describedby="cause-death-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Beth achosodd y farwolaeth?
      </h1>
    </legend>
    <div id="cause-death-hint" class="govuk-hint">
      Peidiwch â defnyddio byrfoddau, termau annelwig, neu symptomau. <br> Rhowch achos y farwolaeth yn Saesneg a Gymraeg, neu yn Saesneg yn unig.
    </div>
  

  <!-- =========================================== -->
  <!-- Over 28 days Form -->
  <!-- =========================================== -->

  {% if data['over-under-28'] == 'no' %}

  <h2 class="govuk-heading-m">Achos farwolaeth (1)</h2>
  <fieldset class="govuk-fieldset">
  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="main-cause">
        1(a) Clefyd neu gyflwr sy'n arwain yn uniongyrchol at farwolaeth <br><span><strong>Ysgrifennwch yn Saesneg</strong>
      </label>
      <input class="govuk-input" id="main-cause" name="main-cause" type="text">
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label" for="duration1">
        Amser rhwng dechreuad a farwolaeth
      </label>

      <div class="govuk-input__wrapper">
        <input class="govuk-input border-hidden" id="duration1" name="duration1" type="text">

        <!--SELECT TIME UNIT - Duration 1-->
        <select class="govuk-select" id="time-unit-duration-1" name="time-unit-duration-1">
          <option value="select unit" selected>Dewiswch uned</option>
          <option value="blynyddoedd">Blynyddoedd</option>
          <option value="misoed">Misoed</option>
          <option value="dyddiau">Dyddiau</option>
          <option value="oriau">Oriau</option>
          <option value="munudau">Munudau</option>
          <option value="Anhysbys">Anhysbys</option>
        </select>
      </div>

    </div>
  </div>
  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="main-cause">
        1(a) Clefyd neu gyflwr sy'n arwain yn uniongyrchol at farwolaeth <br><span><strong>Ysgrifennwch yn Cymraeg</strong></span>  (dewisol) 
      </label>
      <input class="govuk-input" id="main-cause" name="main-cause" type="text">
    </div>
  </div>
</fieldset>
  
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<fieldset class="govuk-fieldset">
  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="secondary-cause">
        1(b) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(a) (dewisol) <br><span><strong>Ysgrifennwch yn Saesneg</strong></span>
      </label>
      <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label" for="duration2">
        Amser rhwng dechreuad a farwolaeth
      </label>

      <div class="govuk-input__wrapper">
        <input class="govuk-input border-hidden" id="duration2" name="duration2" type="text">

        <!--SELECT TIME UNIT - Duration 2-->
        <select class="govuk-select" id="time-unit-duration-2" name="time-unit-duration-2">
          <option value="select unit" selected>Dewiswch uned</option>
          <option value="blynyddoedd">Blynyddoedd</option>
          <option value="misoed">Misoed</option>
          <option value="dyddiau">Dyddiau</option>
          <option value="oriau">Oriau</option>
          <option value="munudau">Munudau</option>
          <option value="Anhysbys">Anhysbys</option>
        </select>

      </div>

    </div>
  </div>

  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="secondary-cause">
        1(b) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(a) (dewisol) <br><span><strong>Ysgrifennwch yn Cymraeg</strong></span> 
      </label>
      <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
    </div>
  </div>
</fieldset>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<fieldset class="govuk-fieldset">
  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-conditions-c">
        1(c) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(b) (dewisol) <br><span><strong>Ysgrifennwch yn Saesneg</strong></span>
      </label>
      <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label" for="duration3">
        Amser rhwng dechreuad a farwolaeth
      </label>

      <div class="govuk-input__wrapper">
        <input class="govuk-input border-hidden" id="duration3" name="duration3" type="text">

        <!-- SELECT TIME UNIT - Duration 3-->
        <select class="govuk-select" id="time-unit-duration-3" name="time-unit-duration-3">
          <option value="select unit" selected>Dewiswch uned</option>
          <option value="blynyddoedd">Blynyddoedd</option>
          <option value="misoed">Misoed</option>
          <option value="dyddiau">Dyddiau</option>
          <option value="oriau">Oriau</option>
          <option value="munudau">Munudau</option>
          <option value="Anhysbys">Anhysbys</option>
        </select>

    </div>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-conditions-c">
        1(c) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(b) (dewisol) <br><span><strong>Ysgrifennwch yn Cymraeg</strong></span> 
      </label>
      <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
    </div>
  </div>
</fieldset>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<fieldset class="govuk-fieldset">
  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-conditions-d">
        1(d) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(c) (dewisol) <br><span><strong>Ysgrifennwch yn Saesneg</strong></span>
      </label>
      <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label" for="duration4">
        Amser rhwng dechreuad a marwolaeth
      </label>
      <div class="govuk-input__wrapper">
        <input class="govuk-input border-hidden" id="duration4" name="duration4" type="text">
        
        <!-- SELECT TIME UNIT - Duration 4-->
        <select class="govuk-select" id="time-unit-duration-4" name="time-unit-duration-4">
          <option value="select unit" selected>Dewiswch uned</option>
          <option value="blynyddoedd">Blynyddoedd</option>
          <option value="misoed">Misoed</option>
          <option value="dyddiau">Dyddiau</option>
          <option value="oriau">Oriau</option>
          <option value="munudau">Munudau</option>
          <option value="Anhysbys">Anhysbys</option>
        </select>

    </div>


    </div>
  </div>

  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-conditions-d">
        1(d) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(c) (dewisol) <br><span><strong>Ysgrifennwch yn Cymraeg</strong></span> 
      </label>
      <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
    </div>
  </div>
</fieldset>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<br>
<div>
  <h2 class="govuk-heading-m">Achos marwolaeth (2)</h2>
</div>

<fieldset class="govuk-fieldset">
  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-significant-conditions">
        2 Cyflyrau arwyddocaol eraill sy'n cyfrannu at eu farwolaeth (dewisol) <br><span><strong>Ysgrifennwch yn Saesneg</strong></span>
      </label>
      <input class="govuk-input" id="other-significant-conditions" name="other-significant-conditions"
        type="text">
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label" for="duration5">
        Amser rhwng dechreuad a marwolaeth
      </label>
      <div class="govuk-input__wrapper">
        <input class="govuk-input border-hidden" id="duration5" name="duration5" type="text">
        
        <!-- SELECT TIME UNIT - Duration 5-->
        <select class="govuk-select" id="time-unit-duration-5" name="time-unit-duration-5">
          <option value="select unit" selected>Dewiswch uned</option>
          <option value="blynyddoedd">Blynyddoedd</option>
          <option value="misoed">Misoed</option>
          <option value="dyddiau">Dyddiau</option>
          <option value="oriau">Oriau</option>
          <option value="munudau">Munudau</option>
          <option value="Anhysbys">Anhysbys</option>
        </select>

    </div>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds" style="padding: 0;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-significant-conditions">
        2 Cyflyrau arwyddocaol eraill sy'n cyfrannu at eu farwolaeth (dewisol) <br><span><strong>Ysgrifennwch yn Cymraeg</strong></span> 
      </label>
      <input class="govuk-input" id="other-significant-conditions" name="other-significant-conditions"
        type="text">
    </div>
  </div>
</fieldset>

  {% else %}

  <!-- =========================================== -->
  <!-- Under 28 days Form -->
  <!-- =========================================== -->


  <div class="govuk-form-group">
    <label class="govuk-label" for="main-cause">
      a. Prif afiechyd neu gyflwr mewn baban<span><strong> yn Saesneg</strong></span>
    </label>
    <input class="govuk-input" id="main-cause" name="main-cause" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="main-cause">
      a. Prif afiechyd neu gyflwr mewn baban <span><strong>yn Cymraeg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="main-cause-cy" name="main-cause-cy" type="text">
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-form-group">
    <label class="govuk-label" for="secondary-cause">
      b. Clefyd neu gyflwr arall mewn babanod <span><strong>yn Saesneg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="secondary-cause">
      b. Clefyd neu gyflwr arall mewn babanod <span><strong>yn Cymraeg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="secondary-cause-cy" name="secondary-cause-cy" type="text">
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-form-group">
    <label class="govuk-label" for="other-conditions-c">
      c. Prif glefyd y fam neu gyflwr sy'n effeithio ar faban <span><strong>yn Saesneg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="other-conditions-c">
      c. Prif glefyd y fam neu gyflwr sy'n effeithio ar faban<span><strong> yn Cymraeg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="other-conditions-c-cy" name="other-conditions-c-cy" type="text">
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-form-group">
    <label class="govuk-label" for="other-conditions-d">
      d. Clefydau neu gyflyrau mamol eraill sy'n effeithio ar fabanod<span><strong> yn Saesneg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="other-conditions-d">
      d. Clefydau neu gyflyrau mamol eraill sy'n effeithio ar fabanod <span><strong> yn Cymraeg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="other-conditions-d-cy" name="other-conditions-d-cy" type="text">
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-form-group">
    <label class="govuk-label" for="other-conditions-e">
      e. Ffactorau neu amgylchiadau perthnasol eraill (nid clefydau’r baban neu’r fam)<span><strong> yn Saesneg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="other-conditions-e" name="other-conditions-e" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="other-conditions-e">
      e. Ffactorau neu amgylchiadau perthnasol eraill (nid clefydau’r baban neu’r fam)<span><strong> yn Cymraeg</strong></span> (dewisol)
    </label>
    <input class="govuk-input" id="other-conditions-e-cy" name="other-conditions-e-cy" type="text">
  </div>



  {% endif %}

  </fieldset>

    <button class="govuk-button" type="submit">
      Achub a pharhau
    </button>


</form>


{% endif %}


    </div>
  </div>

  {% endblock %}