{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-7">

  <div class="govuk-grid-column-two-thirds">

    {% if data['role-type'] == 'meo' %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      Office dashboard
    </h1>

    {% else %}

    <h1 class="govuk-heading-l">
      Your dashboard
    </h1>

    {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">
    {% if data['role-type'] == 'ap' %}
    <a href="confirm-details" class="govuk-button align-right">Create a new MCCD</a>
    {% elseif data['role-type'] == 'me' %}
    <a href="confirm-details" class="govuk-button align-right">Create a new ME MCCD</a>
    {% else %}
    <div></div>
    {% endif %}
  </div>

  <!-- =================================================== -->
  <!-- OFFICE -->
  <!-- =================================================== -->

  {% if data['role-type'] == 'meo' %}
  <div class="govuk-grid-column-two-thirds">

    <p>This dashboard gives you access to Medical certificates of cause of death (MCCDs) being produced. You can forward
      complete certificates to the registrar.
    </p>
  </div>
  
  <div class="govuk-grid-column-full">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Certificates
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#all">
            All certificates
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#in-progress">
            In progress
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#on-hold">
            Ready to share
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#completed">
            Completed
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="all">
        
        <table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Patient details</th>
              <th scope="col" class="govuk-table__header">Place of death</th>
              <th scope="col" class="govuk-table__header">Written by</th>
              <th scope="col" class="govuk-table__header">Date started</th>
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
            </tr>
          </thead>
    
    
    
          <tbody class="govuk-table__body">
    
            <tr class="govuk-table__row">
    
              <td scope="row" class="govuk-table__cell">
                <a href="meo-mccd-summary" class="govuk-link">{{ data.deceased-first-name or 'Aaliyah' }} {{ data.deceased-middle-name or 'Farah' }} {{
                data['deceased-last-name'] or 'Abbas' }}</a><br>
                <span class="govuk-body-s govuk">NHS: 1234556</span>
                </th>
    
              <td class="govuk-table__cell">
                Community
              </td>
    
              <td class="govuk-table__cell">
                Sarah Phillips<br>
                <span class="govuk-body-s govuk">AP</span>
              </td>
    
              <td class="govuk-table__cell">
                17 Jan 2024
              </td>
    
              <td class="govuk-table__cell">
                <a href="meo-mccd-summary">
                  Review
                </a>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--blue">
                  Ready for review
                </strong>
              </td>
            </tr>
    
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                <a href="meo-mccd-summary" class="govuk-link">Joseph William Doyle</a><br>
                <span class="govuk-body-s govuk">NHS: 1234556</span>
              </th>
    
              <td class="govuk-table__cell">
                Hospital
              </td>
    
              <td class="govuk-table__cell">
                Andrea Bartlett<br>
                <span class="govuk-body-s govuk">AP</span>
              </td>
    
              <td class="govuk-table__cell">
                12 Jan 2024
              </td>
              <td class="govuk-table__cell">
                <a href="meo-mccd-summary">
                  View
                </a>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--orange">
                  To be amended
                </strong>
              </td>
            </tr>
    
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                <a href="#" class="govuk-link">Brooke Seidel</a><br>
                <span class="govuk-body-s govuk">NHS: 1234556</span>
              </th>
    
              <td class="govuk-table__cell">
                Community
              </td>
    
              <td class="govuk-table__cell">
                Caleb Greenaway<br>
                <span class="govuk-body-s govuk">AP</span>
              </td>
    
              <td class="govuk-table__cell">
                12 Jan 2024
              </td>
              <td class="govuk-table__cell">
                <a href="ap-mccd-summary">
                  Review
                </a>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--blue">
                  Ready for sign off
                </strong>
              </td>
            </tr>
    
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                <a href="#" class="govuk-link">Jude Perry</a><br>
                <span class="govuk-body-s govuk">NHS: 1234556</span>
              </th>
    
              <td class="govuk-table__cell">
                Community
              </td>
    
              <td class="govuk-table__cell">
                Molly Knowles<br>
                <span class="govuk-body-s govuk">AP</span>
              </td>
    
              <td class="govuk-table__cell">
                12 Jan 2024
              </td>
              <td class="govuk-table__cell">
                <a href="share-mccd">
                  Share
                </a>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--blue">
                  Ready to share
                </strong>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                <a href="#" class="govuk-link">Andrea Garry Wilson</a><br>
                <span class="govuk-body-s govuk">NHS: 1234556</span>
              </th>
    
              <td class="govuk-table__cell">
                Community
              </td>
    
              <td class="govuk-table__cell">
                Myra Jari Adkins<br>
                <span class="govuk-body-s govuk">ME</span>
              </td>
    
              <td class="govuk-table__cell">
                12 Jan 2024
              </td>
              <td class="govuk-table__cell">
                <a href="ap-mccd-summary">
                  Review
                </a>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--default">
                  Completed
                </strong>
              </td>
            </tr>

            
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel" id="completed">
        
        <table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Patient details</th>
              <th scope="col" class="govuk-table__header">Place of death</th>
              <th scope="col" class="govuk-table__header">Written by</th>
              <th scope="col" class="govuk-table__header">Date started</th>
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
            </tr>
          </thead>
    
    
    
          <tbody class="govuk-table__body">
    
            

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                <a href="#" class="govuk-link">Andrea Garry Wilson</a><br>
                <span class="govuk-body-s govuk">NHS: 1234556</span>
              </th>
    
              <td class="govuk-table__cell">
                Community
              </td>
    
              <td class="govuk-table__cell">
                Myra Jari Adkins<br>
                <span class="govuk-body-s govuk">ME</span>
              </td>
    
              <td class="govuk-table__cell">
                12 Jan 2024
              </td>
              <td class="govuk-table__cell">
                <a href="ap-mccd-summary">
                  View
                </a>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--default">
                  Completed
                </strong>
              </td>
            </tr>

            
          </tbody>
        </table>
      </div>
    
  </div>




 <!-- =================================================== -->
  <!-- AP -->
  <!-- =================================================== -->

  {% elseif data['role-type'] == 'ap' %}

  <div class="govuk-grid-column-two-thirds">

    <p>This dashboard allows you to create a new Medical certificate of cause of death (MCCD) and manage current MCCDs.
    </p>
    <p>This dashboard will list MCCDs that:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you have submitted to a medical examiner for approval</li>
      <li>have been approved by a medical examiner and need forwarding to the registrar’s office</li>
      <li>have been rejected by a medical examiner and need amending</li>
    </ul>

  </div>

  <div class="govuk-grid-column-full">

    <!-- If AP Declaration ticked -->
    {% if data['ap-declaration'] %}     

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Certificates created by you</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Deceased name</th>
            <th scope="col" class="govuk-table__header">Date of death</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              {{ data.deceased-first-name or 'Aaliyah' }} {{ data.deceased-middle-name or 'Farah' }} {{ data['deceased-last-name'] or 'Abbas' }}
            </th>
            <td class="govuk-table__cell">
              {{ data['dod-day'] or '15' }} {{ data['dod-month'] or 'November' }} {{ data['dod-year'] or '2023'}}
            </td>
            <td class="govuk-table__cell">
              <a href="ap-mccd-summary">
                View
              </a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag govuk-tag--purple">
                In scrutiny
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Joseph William Doyle
            </th>
            <td class="govuk-table__cell">
              9 November 2023
            </td>
            <td class="govuk-table__cell">
              <a href="ap-mccd-summary">
                View
              </a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag govuk-tag--orange">
                Amendments required
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- If AP Declaration not ticked (Dash Empty State) -->
      {% else %}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Certificates created by you</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Deceased name</th>
            <th scope="col" class="govuk-table__header">Date of death</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4">You have not yet created any certificates</td>
          </tr>
        </tbody>
      </table>

      {% endif %}

    </div>

    

    <!-- =================================================== -->
    <!-- ME  -->
    <!-- =================================================== -->
    {% else %}

    <div class="govuk-grid-column-two-thirds">

      <p>This dashboard gives you access to the Medical certificates of cause of death (MCCDs) assigned to you for
        review and approval.</p>
      <p>An MCCD can only be approved when scrutiny of the proposed cause of death is complete.</p>

    </div>

    <div class="govuk-grid-column-full">

      <!-- if the ME has approved OR rejected a certificate -->
      {% if data['me-decision'] %}

      <table class="govuk-table">

        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
          Certificates assigned to you for approval
        </caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Deceased name</th>
            <th scope="col" class="govuk-table__header">Name of AP</th>
            <th scope="col" class="govuk-table__header">Date submitted</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Thomas Robertson</th>
            <td class="govuk-table__cell">Sarah Phillips</td>
            <td class="govuk-table__cell">29 September 2023</td>
            <td class="govuk-table__cell">
              <a href="#">
                Review
              </a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
          Certificates reviewed by you
        </caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Deceased name</th>
            <th scope="col" class="govuk-table__header">Name of AP</th>
            <th scope="col" class="govuk-table__header">Date submitted</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Jane Edwards</th>
            <td class="govuk-table__cell">Sarah Phillips</td>
            <td class="govuk-table__cell">05 October 2023</td>
            <td class="govuk-table__cell">
              <a href="me-mccd-summary">
                View
              </a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if data['me-decision'] == 'approve' %}
              <strong class="govuk-tag govuk-tag--blue">
                Completed
              </strong>
              {% elif data['me-decision'] == 'reject' %}
              <strong class="govuk-tag govuk-tag--orange">
                Amendments required
              </strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      {% else %}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Certificates assigned to you for
          approval</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Deceased name</th>
            <th scope="col" class="govuk-table__header">Name of AP</th>
            <th scope="col" class="govuk-table__header">Date submitted</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Jane Edwards</th>
            <td class="govuk-table__cell">Sarah Phillips</td>
            <td class="govuk-table__cell">05 October 2023</td>
            <td class="govuk-table__cell">
              <a href="me-mccd-summary">
                Review
              </a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Thomas Robertson</th>
            <td class="govuk-table__cell">Sarah Phillips</td>
            <td class="govuk-table__cell">29 September 2023</td>
            <td class="govuk-table__cell">
              <a href="#">
                Review
              </a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">

              <strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>

            </td>
          </tr>
        </tbody>
      </table>

        {% if data['me-cert-declaration'] %}
        <table class="govuk-table">
        
          <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
            Certificates reviewed by you
          </caption>
          
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Deceased name</th>
              <th scope="col" class="govuk-table__header">Name of AP</th>
              <th scope="col" class="govuk-table__header">Date submitted</th>
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ data['deceased-first-name'] or 'Aaliyah' }} {{ data['deceased-middle-name'] or 'Farah' }} {{ data['deceased-last-name'] or 'Abbas' }}</th> 
              <td class="govuk-table__cell">Alera Singh</td>
              <td class="govuk-table__cell">10 January 2024</td>
              <td class="govuk-table__cell">
                <a href="me-mccd-summary">
                  View
                </a>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--blue">
                  Completed
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
        {% endif %}

      {% endif %}

    </div>

    {% endif %}

  </div>

  {% endblock %}