{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% if data['role-type'] === 'ap' or data['role-type'] === 'me'%}
  
  {% if data['qualifications'] %}
    <!-- NOTHING -->
  {% else %}
    <!-- REDIRECT TO HANDLE QUALIFICATION ENTRY -->
    <script>
      window.addEventListener('DOMContentLoaded', function(){
        window.location.href = 'qualifications?return-to-dashboard=true';
      });
    </script>
  {% endif%}

  
{% endif %}

<div class="govuk-grid-row govuk-!-margin-top-7">


  <!-- English language selected-->
  {% if data['lang'] == "en" %}

  <div class="govuk-grid-column-two-thirds">

    {% if data['role-type'] == 'meo' %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Office dashboard</h1>
    <p>This dashboard gives you access to the Medical certificates of cause of death (MCCDs) currently being completed in your trust.
      You can view the progress of MCCDs and download signed-off MCCDs to send to the registrar.</p>

    {% else %}

    <h1 class="govuk-heading-l">
      Your dashboard
    </h1>

    {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">
    {% if data['role-type'] == 'ap' %}
    <a href="66-or-65" class="govuk-button align-right">Create a new MCCD</a>
    {% elseif data['role-type'] == 'me' %}
    <a href="66-or-65" class="govuk-button align-right">Create a new ME MCCD</a>
    {% else %}
    <div></div>
    {% endif %}
  </div>

  <!-- =================================================== -->
  <!-- OFFICE -->
  <!-- =================================================== -->

  {% if data['role-type'] == 'meo' %}


  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-5">All certificates</h2>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased person</th>
          <th scope="col" class="govuk-table__header">Place of death</th>
          <th scope="col" class="govuk-table__header">Date of death</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>

      <tbody id="data-output" class="govuk-table__body">
        <!-- populated with JS -->
      </tbody>

    </table>

    <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span
            class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span> <svg
            class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
            width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg></a>
      </div>
    </nav>

  </div> <!-- full width -->






  <!-- =================================================== -->
  <!-- AP -->
  <!-- =================================================== -->

  {% elseif data['role-type'] == 'ap' %}

  <div class="govuk-grid-column-two-thirds">

    <p>This dashboard allows you to create a new Medical certificate of cause of death (MCCD) and manage current MCCDs.</p>
    <p>This dashboard will list MCCDs that:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you have submitted to a medical examiner for approval</li>
      <li>a medical examiner has rejected and you must now amend</li>
      <li>a medical examiner has approved and will be forwarded to the registrar’s office by a medical examiner officer</li>
    </ul>

  </div>

  <div class="govuk-grid-column-full">

    <!-- If AP Declaration ticked -->
    {% if data['ap-declaration'] %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Certificates created by you</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased name</th>
          <th scope="col" class="govuk-table__header">Date of death</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            {{ data['deceased-first-name'] or 'Aaliyah' }} {{ data['deceased-middle-name'] or 'Farah' }} {{
            data['deceased-last-name'] or 'Abbas' }}
          </th>
          <td class="govuk-table__cell">
            {{ data['dod-day'] or '15' }} {{ data['dod-month'] or 'November' }} {{ data['dod-year'] or '2023'}}
          </td>
          <td class="govuk-table__cell">
            <a href="ap-mccd-summary">
              View
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--blue">
              For review by MEO
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Joseph William Doyle
          </th>
          <td class="govuk-table__cell">
            6 April 2024
          </td>
          <td class="govuk-table__cell">
            <a href="ap-mccd-summary?ur1=true">
              View
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--blue">
              For review by MEO
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- If AP Declaration not ticked (Dash Empty State) -->
    {% else %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Certificates created by you</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased name</th>
          <th scope="col" class="govuk-table__header">Date of death</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="4">You have not created any certificates</td>
        </tr>
      </tbody>
    </table>

    {% endif %}

  </div>



  <!-- =================================================== -->
  <!-- ME  -->
  <!-- =================================================== -->
  {% else %}

  <div class="govuk-grid-column-two-thirds">

    <p>This dashboard gives you access to the Medical certificates of cause of death (MCCDs) assigned to you for review and approval.</p>
    <p>An MCCD can only be approved when scrutiny of the proposed cause of death is complete.</p>

  </div>

  <div class="govuk-grid-column-full">

    <!-- if the ME has approved OR rejected a certificate -->
    {% if data['me-decision'] %}

    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
        Certificates assigned to you for approval
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased name</th>
          <th scope="col" class="govuk-table__header">Name of AP</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Thomas Robertson</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">29 September 2023</td>
          <td class="govuk-table__cell">
            <a href="#">
              Review
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
        Certificates reviewed by you
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased name</th>
          <th scope="col" class="govuk-table__header">Name of AP</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Jane Edwards</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">05 October 2023</td>
          <td class="govuk-table__cell">
            <a href="me-mccd-summary">
              View
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {% if data['me-decision'] == 'approve' %}
            <strong class="govuk-tag govuk-tag--blue">
              Completed
            </strong>
            {% elif data['me-decision'] == 'reject' %}
            <strong class="govuk-tag govuk-tag--orange">
              Amendments required
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

    {% else %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Certificates assigned to you for
        approval</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased name</th>
          <th scope="col" class="govuk-table__header">Name of AP</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Jane Edwards</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">05 October 2023</td>
          <td class="govuk-table__cell">
            <a href="me-mccd-summary">
              Review
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Thomas Robertson</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">29 September 2023</td>
          <td class="govuk-table__cell">
            <a href="#">
              Review
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">

            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>

          </td>
        </tr>
      </tbody>
    </table>

    {% if data['me-cert-declaration'] %}
    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
        Certificates reviewed by you
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased name</th>
          <th scope="col" class="govuk-table__header">Name of AP</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ data['deceased-first-name'] or 'Aaliyah' }} {{
            data['deceased-middle-name'] }} {{ data['deceased-last-name'] or 'Abbas' }}</th>
          <td class="govuk-table__cell">Alera Singh</td>
          <td class="govuk-table__cell">24 January 2024</td>
          <td class="govuk-table__cell">
            <a href="me-mccd-summary">
              View
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--blue">
              Completed
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}

    {% endif %}

  </div>

  {% endif %}

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!--Welsh language selected-->
  {% elseif data['lang'] == "cy" %}

  <div class="govuk-grid-column-two-thirds">

    {% if data['role-type'] == 'meo' %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">[missing welsh translation] Office dashboard</h1>
    <p>[missing welsh translation] This dashboard gives you access to Medical certificates of cause of death (MCCDs) being produced across your
      trust. You can view progress and, once ready, forward complete certificates to the registrar.</p>

    {% else %}

    <h1 class="govuk-heading-l">
      Eich dangosfwrdd
    </h1>

    {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">
    {% if data['role-type'] == 'ap' %}
    <a href="66-or-65" class="govuk-button align-right">Creu MCCD newydd</a>
    {% elseif data['role-type'] == 'me' %}
    <a href="66-or-65" class="govuk-button align-right">Creu MCCD ME newydd</a>
    {% else %}
    <div></div>
    {% endif %}
  </div>

  <!-- =================================================== -->
  <!-- OFFICE -->
  <!-- =================================================== -->

  {% if data['role-type'] == 'meo' %}


  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-5">[missing welsh translation] All certificates</h2>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Deceased person</th>
          <th scope="col" class="govuk-table__header">Place of death</th>
          <th scope="col" class="govuk-table__header">Date of death</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>

      <tbody id="data-output" class="govuk-table__body">
        <!-- populated with JS -->
      </tbody>

    </table>

    <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span
            class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span> <svg
            class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
            width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg></a>
      </div>
    </nav>

  </div> <!-- full width -->


  <!-- =================================================== -->
  <!-- AP -->
  <!-- =================================================== -->

  {% elseif data['role-type'] == 'ap' %}

  <div class="govuk-grid-column-two-thirds">

    <p>Mae'r dangosfwrdd hwn yn eich galluogi i greu Tystysgrif Feddygol achos marwolaeth (MCCD) newydd a rheoli MCCDs presennol.</p>
    <p>Bydd y dangosfwrdd hwn yn rhestru MCCDs sydd:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>rydych wedi cyflwyno i archwiliwr meddygol i'w gymeradwyo</li>
      <li>wedi’u cymeradwyo gan archwiliwr meddygol ac angen eu hanfon ymlaen i swyddfa’r cofrestrydd</li>
      <li>wedi cael eu gwrthod gan archwiliwr meddygol ac angen eu diwygio</li>
    </ul>

  </div>

  <div class="govuk-grid-column-full">

    <!-- If AP Declaration ticked -->
    {% if data['ap-declaration'] %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Tystysgrifau a grëwyd gennych chi</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Enw'r ymadawedig</th>
          <th scope="col" class="govuk-table__header">Dyddiad marw</th>
          <th scope="col" class="govuk-table__header">Gweithred</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Statws</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            {{ data.deceased-first-name or 'Aaliyah' }} {{ data.deceased-middle-name or 'Farah' }} {{
            data['deceased-last-name'] or 'Abbas' }}
          </th>
          <td class="govuk-table__cell">
            {{ data['dod-day'] or '15' }} {{ data['dod-month'] or 'Tachwedd' }} {{ data['dod-year'] or '2023'}}
          </td>
          <td class="govuk-table__cell">
            <a href="ap-mccd-summary">
              Golwg
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--blue">
              I'w adolygu gan MEO
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Joseph William Doyle
          </th>
          <td class="govuk-table__cell">
            6 April 2024
          </td>
          <td class="govuk-table__cell">
            <a href="ap-mccd-summary?ur1=true">
              Golwg
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--blue">
              I'w adolygu gan MEO
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- If AP Declaration not ticked (Dash Empty State) -->
    {% else %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">Tystysgrifau a grëwyd gennych chi</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Enw'r ymadawedig</th>
          <th scope="col" class="govuk-table__header">Dyddiad marw</th>
          <th scope="col" class="govuk-table__header">Gweithred</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Statws</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="4">Nid ydych wedi creu unrhyw dystysgrifau</td>
        </tr>
      </tbody>
    </table>

    {% endif %}

  </div>


  <!-- =================================================== -->
  <!-- ME  -->
  <!-- =================================================== -->
  {% else %}

  <div class="govuk-grid-column-two-thirds">

    <p>Mae'r dangosfwrdd hwn yn rhoi mynediad i chi at y Tystysgrifau Meddygol o achos marwolaeth (MCCDs) a neilltuwyd i chi i'w hadolygu a'u cymeradwyo.</p>
    <p>Dim ond pan fydd y gwaith o graffu ar yr achos marwolaeth arfaethedig wedi'i gwblhau y gellir cymeradwyo MCCD.</p>

  </div>

  <div class="govuk-grid-column-full">

    <!-- if the ME has approved OR rejected a certificate -->
    {% if data['me-decision'] %}

    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
        Tystysgrifau a neilltuwyd i chi i'w cymeradwyo
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Enw'r ymadawedig</th>
          <th scope="col" class="govuk-table__header">Enw'r AP</th>
          <th scope="col" class="govuk-table__header">Dyddiad cyflwyno</th>
          <th scope="col" class="govuk-table__header">Gweithred</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Statws</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Thomas Robertson</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">29 Medi 2023</td>
          <td class="govuk-table__cell">
            <a href="#">
              Adolygu
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey">
              Heb ddechrau
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
        Tystysgrifau wedi'u hadolygu gennych chi
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Enw'r ymadawedig</th>
          <th scope="col" class="govuk-table__header">Enw'r AP</th>
          <th scope="col" class="govuk-table__header">Dyddiad cyflwyno</th>
          <th scope="col" class="govuk-table__header">Gweithred</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Statws</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Jane Edwards</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">05 Hydref 2023</td>
          <td class="govuk-table__cell">
            <a href="me-mccd-summary">
              Golwg
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {% if data['me-decision'] == 'approve' %}
            <strong class="govuk-tag govuk-tag--blue">
              Cwblhawyd
            </strong>
            {% elif data['me-decision'] == 'reject' %}
            <strong class="govuk-tag govuk-tag--orange">
              Gwelliannau yn yr arfaeth
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey">
              Heb ddechrau
            </strong>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

    {% else %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
        Tystysgrifau a neilltuwyd i chi i'w cymeradwyo
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Enw'r ymadawedig</th>
          <th scope="col" class="govuk-table__header">Enw'r AP</th>
          <th scope="col" class="govuk-table__header">Dyddiad cyflwyno</th>
          <th scope="col" class="govuk-table__header">Gweithred</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Statws</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Jane Edwards</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">05 Hydref 2023</td>
          <td class="govuk-table__cell">
            <a href="me-mccd-summary">
              Adolygu
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey">
              Heb ddechrau
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Thomas Robertson</th>
          <td class="govuk-table__cell">Ashley Phillips</td>
          <td class="govuk-table__cell">29 Medi 2023</td>
          <td class="govuk-table__cell">
            <a href="#">
              Adolygu
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">

            <strong class="govuk-tag govuk-tag--grey">
              Heb ddechrau
            </strong>

          </td>
        </tr>
      </tbody>
    </table>

    {% if data['me-cert-declaration'] %}
    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-5">
        Tystysgrifau wedi'u hadolygu gennych chi
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Enw'r ymadawedig</th>
          <th scope="col" class="govuk-table__header">Enw'r AP</th>
          <th scope="col" class="govuk-table__header">Dyddiad cyflwyno</th>
          <th scope="col" class="govuk-table__header">Gweithred</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Statws</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ data['deceased-first-name'] or 'Aaliyah' }} {{
            data['deceased-middle-name'] }} {{ data['deceased-last-name'] or 'Abbas' }}</th>
          <td class="govuk-table__cell">Alera Singh</td>
          <td class="govuk-table__cell">24 Anhysbys 2024</td>
          <td class="govuk-table__cell">
            <a href="me-mccd-summary">
              Golwg
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--blue">
              Cwblhawyd
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}

    {% endif %}

  </div>
  {% endif %}

{% endif %}

  

</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/patients.js"></script>
{% endblock %}