{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <!-- English language selected-->
    {% if data['lang'] == "en" %}

    <div class="govuk-grid-column-two-thirds">

      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  
      <h1 class="govuk-heading-l">
        Has a post-mortem been held?
      </h1>
  
      {% if data['role-type'] == 'ap' %}
  
      <form action="death-circumstances-ap" role="form" method="post">
  
        <fieldset class="govuk-fieldset">
  
          <div class="govuk-form-group">
  
            <div class="govuk-radios">
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-1" name="death-circumstances" type="radio"
                  value="The certified cause of death takes account of information obtained from a post-mortem">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-1">
                  The certified cause of death takes account of information obtained from a post-mortem
                </label>
              </div>
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-2" name="death-circumstances" type="radio"
                  value="Information from post-mortem may be available later">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-2">
                  Information from post-mortem may be available later
                </label>
              </div>
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-3" name="death-circumstances" type="radio"
                  value="A post-mortem is not being held">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-3">
                  A post-mortem is not being held
                </label>
              </div>
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-4" name="death-circumstances" type="radio"
                  value="This death was reported to the coroner whose duty to investigate under s1 CJA2009 was not engaged">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-4">
                  This death was reported to the coroner whose duty to investigate under s1 CJA2009 was not engaged
                </label>
              </div>

  
            </div>
          </div>
  
        </fieldset>
  
        {% else %}
        <form action="death-circumstances-me" role="form" method="post">
  
          <fieldset class="govuk-fieldset">
  
            <div class="govuk-form-group">
  
              <div class="govuk-radios">
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="death-circumstances-1" name="death-circumstances" type="radio"
                    value="The certified cause of death takes account of information obtained from a post-mortem">
                  <label class="govuk-label govuk-radios__label" for="death-circumstances-1">
                    The certified cause of death takes account of information obtained from a post-mortem
                  </label>
                </div>
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="death-circumstances-2" name="death-circumstances" type="radio"
                    value="Information from post-mortem may be available later">
                  <label class="govuk-label govuk-radios__label" for="death-circumstances-2">
                    Information from post-mortem may be available later
                  </label>
                </div>
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="death-circumstances-3" name="death-circumstances" type="radio"
                    value="A post-mortem is not being held">
                  <label class="govuk-label govuk-radios__label" for="death-circumstances-3">
                    A post-mortem is not being held
                  </label>
                </div>

  
              </div>
            </div>
  
          </fieldset>
  
          {% endif %}
          <button class="govuk-button" type="submit">
            Save and continue
          </button>
        </form>
  
    </div>


    <!--Welsh language selected-->
    {% elseif data['lang'] == "cy" %}

    <div class="govuk-grid-column-two-thirds">

      <a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>
  
      <h1 class="govuk-heading-l">
        A oes post-mortem wedi'i gynnal?
      </h1>
  
      {% if data['role-type'] == 'ap' %}
  
      <form action="death-circumstances-ap" role="form" method="post">
  
        <fieldset class="govuk-fieldset">
  
          <div class="govuk-form-group">
  
            <div class="govuk-radios">
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-1" name="death-circumstances" type="radio"
                  value="Mae achos ardystiedig y farwolaeth yn ystyried gwybodaeth a gafwyd o’r postmortem">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-1">
                  Mae achos ardystiedig y farwolaeth yn ystyried gwybodaeth a gafwyd o’r postmortem
                </label>
              </div>
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-2" name="death-circumstances" type="radio"
                  value="Efallai y bydd gwybodaeth o’r postmortem ar gael yn ddiweddarach">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-2">
                  Efallai y bydd gwybodaeth o’r postmortem ar gael yn ddiweddarach
                </label>
              </div>
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-3" name="death-circumstances" type="radio"
                  value="Ni chynhelir post-mortem ">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-3">
                  Ni chynhelir post-mortem 
                </label>
              </div>
  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-circumstances-4" name="death-circumstances" type="radio"
                  value="Hysbyswyd y crwner am y farwolaeth hon ac nid oedd ei ddyletswydd i ymchwilio o dan adran 1 o Ddeddf Crwneriaid a Chyfiawnder 2009 yn gymwys">
                <label class="govuk-label govuk-radios__label" for="death-circumstances-4">
                  Hysbyswyd y crwner am y farwolaeth hon ac nid oedd ei ddyletswydd i ymchwilio o dan adran 1 o Ddeddf Crwneriaid a Chyfiawnder 2009 yn gymwys
                </label>
              </div>

  
            </div>
          </div>
  
        </fieldset>
  
        {% else %}
        <form action="death-circumstances-me" role="form" method="post">
  
          <fieldset class="govuk-fieldset">
  
            <div class="govuk-form-group">
  
              <div class="govuk-radios">
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="death-circumstances-1" name="death-circumstances" type="radio"
                    value="Mae achos ardystiedig y farwolaeth yn ystyried gwybodaeth a gafwyd o’r postmortem">
                  <label class="govuk-label govuk-radios__label" for="death-circumstances-1">
                    Mae achos ardystiedig y farwolaeth yn ystyried gwybodaeth a gafwyd o’r postmortem
                  </label>
                </div>
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="death-circumstances-2" name="death-circumstances" type="radio"
                    value="Efallai y bydd gwybodaeth o’r postmortem ar gael yn ddiweddarach">
                  <label class="govuk-label govuk-radios__label" for="death-circumstances-2">
                    Efallai y bydd gwybodaeth o’r postmortem ar gael yn ddiweddarach
                  </label>
                </div>
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="death-circumstances-3" name="death-circumstances" type="radio"
                    value="Ni chynhelir post-mortem">
                  <label class="govuk-label govuk-radios__label" for="death-circumstances-3">
                    Ni chynhelir post-mortem
                  </label>
                </div>

  
              </div>
            </div>
  
          </fieldset>
  
        {% endif %}
          <button class="govuk-button" type="submit">
            Achub a pharhau
          </button>
        </form>
  
    </div>


    {% endif %}

</div>

{% endblock %}