{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<!-- English language selected-->
{% if data['lang'] == "en" %}


    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <form action="death-hospital" role="form" method="post">

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">
                Did the deceased person die in hospital?
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">

                <input class="govuk-radios__input" id="death-hospital-yes" name="death-in-hospital" type="radio" value="yes" data-aria-controls="consultant-name">
                <label class="govuk-label govuk-radios__label" for="death-hospital-yes">
                  Yes
                </label>
              </div>

              <!--<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="consultant-name">
                <div class="govuk-form-group">

                  <label class="govuk-label" for="consultant">
                    Enter the name of the consultant responsible for the named patient (optional)
                  </label>
                  
                  <input class="govuk-input govuk-input--width-20" id="consultant" name="consultant" type="text">
                </div>
              </div>-->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-hospital-no" name="death-in-hospital" type="radio" value="no">
                
                <label class="govuk-label govuk-radios__label" for="death-hospital-no">
                  No
                </label>

              </div>

            </div>
          </fieldset>
        </div>
        

      </fieldset>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

<!--Welsh language selected-->
{% elseif data['lang'] == "cy" %}

    <a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>

    <form action="death-hospital" role="form" method="post">

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">
                A fu farw’r person ymadawedig yn yr ysbyty?
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">

                <input class="govuk-radios__input" id="death-hospital-yes" name="death-in-hospital" type="radio" value="yes" data-aria-controls="consultant-name">
                <label class="govuk-label govuk-radios__label" for="death-hospital-yes">
                  Oes
                </label>
              </div>

              <!-- <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="consultant-name">
                <div class="govuk-form-group">

                  <label class="govuk-label" for="consultant">
                    Rhowch enw’r ymgynghorydd sy’n gyfrifol am y person ymadawedig (dewisol)
                  </label>
                  
                  <input class="govuk-input govuk-input--width-20" id="consultant" name="consultant" type="text">
                </div>
              </div> -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-hospital-no" name="death-in-hospital" type="radio" value="no">
                
                <label class="govuk-label govuk-radios__label" for="death-hospital-no">
                  Nac oes
                </label>

              </div>

            </div>
          </fieldset>
        </div>
        

      </fieldset>

      <button class="govuk-button" type="submit">
        Achub a pharhau
      </button>
    </form>

{% endif %}


  </div>
</div>

{% endblock %}