{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <!-- English language selected-->
    {% if data['lang'] == "en" %}

    <div class="govuk-grid-column-two-thirds">

        <a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <form action="implant" role="form" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Did the deceased person have any implantable medical devices fitted during their lifetime?
                        </h1>

                    </legend>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Examples of implantable medical devices
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                Implantable medical devices include:
                            </p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>
                                    pacemakers
                                </li>
                                <li>
                                    implantable cardioverter defibrillators (ICDs)
                                </li>
                                <li>
                                    cardiac resynchronization therapy devices (CRTDs)
                                </li>
                                <li>
                                    implantable loop recorders
                                </li>
                                <li>
                                    ventricular assist devices (VADs): left ventricular assist devices (LVADs), right
                                    ventricular assist devices (RVADs), or biventricular assist devices BiVADs)
                                </li>
                                <li>
                                    implantable drug pumps including intrathecal pumps
                                </li>
                                <li>
                                    neurostimulators (including for pain and functional electrical stimulation)
                                </li>
                                <li>
                                    bone growth stimulators
                                </li>
                                <li>
                                    hydrocephalus programmable shunts
                                </li>
                                <li>
                                    fixion nails
                                </li>
                                <li>
                                    any other battery powered or pressurised implant
                                </li>
                                <li>
                                    radioactive implants
                                </li>
                                <li>
                                    radiopharmaceutical treatment (via injection)
                                </li>
                            </ul>
                        </div>
                    </details>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="implant-yes" name="implant" type="radio" value="Yes"
                                data-aria-controls="conditional-implant">
                            <label class="govuk-label govuk-radios__label" for="implant-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-implant">
                            <div class="govuk-form-group">
                            {% if data['bilingual'] == "true" %}
                                <div id="implant-details-hint" class="govuk-hint">
                                    In some cases, it may be difficult to know with certainty all of the implantable medical devices that the deceased had fitted. Enter details of any implants using the records and information that you have available. You must enter details in English and Welsh, or in English only.
                                  </div>
                                <label class="govuk-label" for="implant-details">
                                    Enter the details and location of any implants <span><strong>in English</strong></span>
                                </label>
                                <textarea class="govuk-textarea" id="implant-details" name="implant-details"
                                    rows="3"></textarea>
                                    <label class="govuk-label" for="implant-details">
                                        Enter the details and location of any implants <span><strong>in Welsh</strong></span> (optional)
                                    </label>
                                    <textarea class="govuk-textarea" id="implant-details" name="implant-details"
                                        rows="3"></textarea>
                            {% else %}
                                <label class="govuk-label" for="implant-details">
                                    In some cases, it may be difficult to know with certainty all of the implantable medical devices that the deceased had fitted. Enter details of any implants using the records and information that you have available.
                                </label>
                                <textarea class="govuk-textarea" id="implant-details" name="implant-details" rows="3">
                                </textarea>
                            {% endif %}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="implant-no" name="implant" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="implant-no">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>


            <button class="govuk-button" type="submit">
                Save and continue
            </button>
        </form>

    </div>


    <!--Welsh language selected-->
    {% elseif data['lang'] == "cy" %}

    <div class="govuk-grid-column-two-thirds">

        <a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>

        <form action="implant" role="form" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Yn ystod oes yr ymadawedig a osodwyd unrhyw ddyfeisiau wedi eu mewnblannu yn yr madawedig? 
                        </h1>

                    </legend>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Enghreifftiau o ddyfeisiau meddygol y gellir eu mewnblannu
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                Mae dyfeisiau meddygol y gellir eu mewnblannu yn cynnwys:
                            </p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>
                                    rheolyddion calon
                                </li>
                                <li>
                                    diffibrilwyr cardioverter mewnblanadwy (ICDs)
                                </li>
                                <li>
                                    dyfeisiau therapi ailgydamseru cardiaidd (CRTDs)
                                </li>
                                <li>
                                    recordwyr dolen mewnblanadwy
                                </li>
                                <li>
                                    dyfeisiau cymorth fentriglaidd (VADs): dyfeisiau cymorth fentriglaidd chwith (LVADs), dyfeisiau cymorth fentriglaidd dde (RVADs), neu ddyfeisiau cymorth deufentriglaidd (BiVADs)
                                </li>
                                <li>
                                    pympiau cyffuriau mewnblanadwy gan gynnwys pympiau intrathecal
                                </li>
                                <li>
                                    niwrosymbylyddion (gan gynnwys ar gyfer poen ac ysgogiad trydanol gweithredol)
                                </li>
                                <li>
                                    symbylyddion twf esgyrn
                                </li>
                                <li>
                                    siyntiau rhaglenadwy hydrocephalus
                                </li>
                                <li>
                                    ewinedd fixion
                                </li>
                                <li>
                                    unrhyw fewnblaniad arall sy'n cael ei bweru gan fatri neu dan bwysau
                                </li>
                                <li>
                                    mewnblaniadau ymbelydrol
                                </li>
                                <li>
                                    triniaeth radiofferyllol (drwy chwistrelliad)
                                </li>
                            </ul>
                        </div>
                    </details>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="implant-yes" name="implant" type="radio" value="Do"
                                data-aria-controls="conditional-implant">
                            <label class="govuk-label govuk-radios__label" for="implant-yes">
                                Do
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-implant">
                            <div class="govuk-form-group">
                                <div id="implant-details-hint" class="govuk-hint">
                                    Mewn rhai achosion, gall fod yn anodd gwybod yn bendant am yr holl ddyfeisiau meddygol mewnblanadwy yr oedd yr ymadawedig wedi’u gosod. Rhowch fanylion unrhyw fewnblaniadau gan ddefnyddio'r cofnodion a'r wybodaeth sydd ar gael i chi. Rhaid i chi nodi manylion yn Gymraeg a Saesneg, neu yn Saesneg yn unig.
                                  </div>
                                <label class="govuk-label" for="implant-details">
                                    Rhowch fanylion am y ddyfais a’i lleoliad <span><strong>yn Saesneg</strong></span>
                                </label>
                                <textarea class="govuk-textarea" id="implant-details" name="implant-details"
                                    rows="3"></textarea>
                                    <label class="govuk-label" for="implant-details">
                                        Rhowch fanylion am y ddyfais a’i lleoliad <span><strong>yn Gymraeg</strong></span> (devisol)
                                    </label>
                                    <textarea class="govuk-textarea" id="implant-details" name="implant-details"
                                        rows="3"></textarea>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="implant-no" name="implant" type="radio" value="Na do">
                            <label class="govuk-label govuk-radios__label" for="implant-no">
                                Na do
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>


            <button class="govuk-button" type="submit">
                Achub a pharhau
            </button>
        </form>

    </div>

    {% endif %}

    
</div>

{% endblock %}