{% extends "layouts/prototype-main_cy-en.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <!-- English language selected-->
    {% if data['lang'] == "en" %}

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Medical certificate of cause of death (MCCD) service</h1>

        <p class="govuk-body-l govuk-!-margin-bottom-6">You can use this service if you are an attending practitioner, a medical examiner or a medical examiner officer.</p>

        <p class="govuk-body govuk-!-margin-bottom-1">If you are an attending practitioner you can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>create an MCCD</li>
            <li>edit an MCCD after scrutiny by a medical examiner</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-1">If you are a medical examiner you can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>review an MCCD</li>
            <li>accept or reject an MCCD</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-1">If you are a medical examiner officer you can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>review an MCCD</li>
            <li>share an MCCD with the registrar</li>
        </ul>
        
        <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3">Before you register an account</h2>
        <p class="govuk-body">You'll need your work address, GMC number and qualifications.</p>
        <p class="govuk-body">It takes about 10 minutes to register an account with the MCCD service.</p>
        
        <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3">Before you create or review an MCCD</h2>
        <p class="govuk-body">You’ll need to register an account with the MCCD service.</p>
        <p class="govuk-body">You'll need personal details of the deceased person, and medical information relating to the cause of death.</p>


        <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-right-2">
            <a href="auth/login-page?account-creation-journey=no" class="govuk-button">
              Sign in
            </a>
            <a href="#" class="govuk-button govuk-button--secondary">
              Register an account
            </a>
        </div>

    </div>

        <!--Welsh language selected-->
        {% elseif data['lang'] == "cy" %}

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Gwasanaeth tystysgrif feddygol o achos marwolaeth (MCCD).</h1>
    
            <p class="govuk-body-l govuk-!-margin-bottom-6">Gallwch ddefnyddio'r gwasanaeth hwn os ydych yn ymarferydd sy'n mynychu neu'n archwiliwr meddygol.</p>
            
            <p class="govuk-body govuk-!-margin-bottom-1">Os ydych yn ymarferydd sy’n mynychu gallwch ddefnyddio’r gwasanaeth hwn i:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>creu MCCD</li>
                <li>golygu MCCD ar ôl i archwiliwr meddygol graffu arno</li>
            </ul>

            <p class="govuk-body govuk-!-margin-bottom-1">Os ydych yn archwiliwr meddygol gallwch ddefnyddio'r gwasanaeth hwn i:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>adolygu MCCD</li>
                <li>derbyn neu wrthod MCCD</li>
            </ul>
            
            <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3">Cyn i chi gofrestru cyfrif</h2>
            <p class="govuk-body">Bydd angen eich cyfeiriad gwaith, rhif CMC a chymwysterau arnoch.</p>
            <p class="govuk-body">Mae'n cymryd tua 10 munud i gofrestru cyfrif gyda gwasanaeth MCCD.</p>
            
            <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3">Cyn i chi greu neu adolygu MCCD</h2>
            <p class="govuk-body">Bydd angen i chi gofrestru cyfrif gyda gwasanaeth MCCD.</p>
            <p class="govuk-body">Bydd angen i chi gael manylion personol y person sydd wedi marw, a gwybodaeth feddygol yn ymwneud ag achos y farwolaeth.</p>
    
    
            <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-right-2">
                <a href="auth/login-page?account-creation-journey=no" class="govuk-button">
                  Mewngofnodi
                </a>
                <a href="#" class="govuk-button govuk-button--secondary">
                  Cofrestru cyfrif
                </a>
            </div>
    
        </div>
        
        
        <!-- Default En language -->
        {% else %}

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Medical certificate of cause of death (MCCD) service</h1>
    
            <p class="govuk-body-l govuk-!-margin-bottom-6">You can use this service if you are an attending practitioner, a medical examiner or a medical examiner officer.</p>
    
            <p class="govuk-body govuk-!-margin-bottom-1">If you are an attending practitioner you can use this service to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>create an MCCD</li>
                <li>edit an MCCD after scrutiny by a medical examiner</li>
            </ul>
    
            <p class="govuk-body govuk-!-margin-bottom-1">If you are a medical examiner you can use this service to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>review an MCCD</li>
                <li>accept or reject an MCCD</li>
            </ul>
    
            <p class="govuk-body govuk-!-margin-bottom-1">If you are a medical examiner officer you can use this service to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>review an MCCD</li>
                <li>share an MCCD with the registrar</li>
            </ul>
            
            <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3">Before you register an account</h2>
            <p class="govuk-body">You'll need your work address, GMC number and qualifications.</p>
            <p class="govuk-body">It takes about 10 minutes to register an account with the MCCD service.</p>
            
            <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3">Before you create or review an MCCD</h2>
            <p class="govuk-body">You’ll need to register an account with the MCCD service.</p>
            <p class="govuk-body">You'll need personal details of the deceased person, and medical information relating to the cause of death.</p>
    
    
            <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-right-2">
                <a href="auth/login-page?account-creation-journey=no" class="govuk-button">
                  Sign in
                </a>
                <a href="#" class="govuk-button govuk-button--secondary">
                  Register an account
                </a>
            </div>
    
        </div>

        {% endif %}


{% endblock %}