{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full govuk-!-margin-top-5">

        <strong class="govuk-tag govuk-tag--blue">
            Ready for review
        </strong>


        <h1 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-5">MCCD summary</h1>

        <div class="govuk-summary-card">

            <div class="govuk-summary-card__title-wrapper">

                <h2 class="govuk-summary-card__title">
                    Deceased person's details
                </h2>

            </div>

            <div class="govuk-summary-card__content">

                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">

                        <dt class="govuk-summary-list__key">
                            NHS number
                        </dt>

                        <dd class="govuk-summary-list__value">
                            123 455 667
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Joseph William Doyle
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            31 October 1990
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Age
                        </dt>
                        <dd class="govuk-summary-list__value">
                            33 years old
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Ethnicity
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Black
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            10 January 2024
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.location-death or '187 Deans Lane, Surrey, KT20 7TP' }}
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Consultant responsible for care
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Dolores Jonnes
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Actions after death</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Post-mortem
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.death-circumstances or 'No'}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implants in body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.implant or 'Yes'}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implant details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.implant-details or 'Pacemaker, chest'}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implants removed
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.implant-removed or 'No'}}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Cause of death</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(a) Disease or condition directly leading to death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.main-cause or 'Heart attack' }}
                        </dd>
                        <dd class="govuk-summary-list__value">
                            1 hour between onset and death
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(b) Other disease or condition, if any, leading to 1(a)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data.secondary-cause or 'Arteriosclerosis'}}
                        </dd>
                        <dd class="govuk-summary-list__value">
                            2 months between onset and death
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(c) Other disease or condition, if any, leading to 1(b)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['other-conditions-c'] }}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(d) Other disease or condition, if any, leading to 1(c)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['other-conditions-d'] }}
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            2 Other significant conditions contributing to their death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['other-significant-conditions']}}
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Death affected by employment?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['caused-by-employment']}}
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Pregnancy
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['pregnant-at-death']}}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Death affected by pregnancy?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['pregnancy-contributed']}}
                        </dd>
                    </div>

                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Attending practitioner's information</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Ashley Phillips
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GMC number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            12345678
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Work address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            123 Hospital Road, Wing 4,<br>
                            Newcastle,<br>
                            Tyne and Wear,<br>
                            NE12 3AB
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <form action="joseph-review" method="post">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                            Medical examiner officer review
                        </h2>

                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="joseph-review-approve" name="joseph-review" type="radio" value="approve">
                            <label class="govuk-label govuk-radios__label" for="joseph-review-approve">
                                This certificate is ready for Medical Examiner sign off
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="joseph-review-propose-amendments" name="joseph-review" type="radio" value="propose-amendments" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="joseph-review-propose-amendments">
                                This certificate require amendments by the Attending Practitioner
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="joseph-review-pause-mccd" name="joseph-review" type="radio" value="pause-mccd">
                            <label class="govuk-label govuk-radios__label" for="joseph-review-pause-mccd">
                                Pause MCCD
                            </label>
                        </div>


                    </div>
                </fieldset>
            </div>
            <button class="govuk-button govuk-button--primary" href="meo-confirmation" type="submit">Submit</button>
            <button class="govuk-button govuk-button--secondary" href="dashboard?role-type=meo" >Back to dashboard</button>
        </form>
        
    </div>
</div>

{% endblock %}