{% extends "layouts/main_cy-en.html" %}


{% block pageTitle %}
  GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--English language selected -->
        {% if data['lang'] == "en" %}
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
        
        <h1 class="govuk-heading-l">
          What is the deceased person's name?
        </h1>
        
        <form action="name-of-the-deceased" class="form" method="post">
    
          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-first-name">
              {% if data['over-under-28'] == 'no' %}
              First name
              {% else %}
              First name (optional)
              {% endif %}
            </label>
            <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-first-name" name="deceased-first-name" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-middle-name">
              Middle names (optional)
            </label>
            <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-middle-name" name="deceased-middle-name" type="text">
          </div>
    
          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-last-name">
              Last name
            </label>
            <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-last-name" name="deceased-last-name" type="text">
          </div>
    
          <button class="govuk-button" type="submit">
            Save and continue
          </button>
        </form>
      <!--Welsh language selected -->
      {% elseif data['lang'] == "cy" %}
      <a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>
        
      <h1 class="govuk-heading-l">
        Beth yw enw'r ymadawedig?
      </h1>
      
      <form action="name-of-the-deceased" class="form" method="post">
  
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-first-name">
            {% if data['over-under-28'] == 'no' %}
            Enw cyntaf
            {% else %}
            Enw cyntaf (dewisol)
            {% endif %}
          </label>
          <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-first-name" name="deceased-first-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-middle-name">
            Enwau canol (dewisol)
          </label>
          <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-middle-name" name="deceased-middle-name" type="text">
        </div>
  
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-last-name">
            Cyfenw
          </label>
          <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-last-name" name="deceased-last-name" type="text">
        </div>
  
        <button class="govuk-button" type="submit">
           Achub a pharhau
        </button>
      </form>
      
      {% else %}
      <!--no language selected default to english -->
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
        
        <h1 class="govuk-heading-l">
          What is the deceased person's name?
        </h1>
        
        <form action="name-of-the-deceased" class="form" method="post">
    
          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-first-name">
              {% if data['over-under-28'] == 'no' %}
              First name
              {% else %}
              First name (optional)
              {% endif %}
            </label>
            <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-first-name" name="deceased-first-name" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-middle-name">
              Middle names (optional)
            </label>
            <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-middle-name" name="deceased-middle-name" type="text">
          </div>
    
          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-last-name">
              Last name
            </label>
            <input class="govuk-input govuk-input govuk-!-width-three-quarters" id="deceased-last-name" name="deceased-last-name" type="text">
          </div>
    
          <button class="govuk-button" type="submit">
            Save and continue
          </button>
        </form>
        {% endif %}

    </div>
</div>

{% endblock %}
