{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<!-- English language selected-->
{% if data['lang'] == "en" %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <form action="nhs-number" method="post" novalidate>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              
              <h1 class="govuk-heading-l">
                Did the deceased person have an NHS number?
              </h1>

            </legend>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">

                <input class="govuk-radios__input" id="nhs-number-yes" name="nhs-number" type="radio" value="Yes" data-aria-controls="nhs-number-input">
                <label class="govuk-label govuk-radios__label" for="nhs-number-yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="nhs-number-input">
                <div class="govuk-form-group">
                  
                  <label class="govuk-label" for="nhs-number">
                    Enter NHS number
                  </label>

                  <input class="govuk-input govuk-input--width-10" id="nhs-number-input" name="nhs-number-input" type="text" inputmode="numeric" pattern="[0-9]*">
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nhs-number-no" name="nhs-number" type="radio" value="No">
                
                <label class="govuk-label govuk-radios__label" for="nhs-number-no">
                  No
                </label>

              </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

<!--Welsh language selected-->
{% elseif data['lang'] == "cy" %}

<a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>

<form action="nhs-number" method="post" novalidate>

  <fieldset class="govuk-fieldset">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          
          <h1 class="govuk-heading-l">
            A oedd gan y person ymadawedig rif GIG?
          </h1>

        </legend>

        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">

            <input class="govuk-radios__input" id="nhs-number-yes" name="nhs-number" type="radio" value="Yes" data-aria-controls="nhs-number-input">
            <label class="govuk-label govuk-radios__label" for="nhs-number-yes">
              Oedd
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="nhs-number-input">
            <div class="govuk-form-group">
              
              <label class="govuk-label" for="nhs-number">
                Rhowch rif GIG
              </label>

              <input class="govuk-input govuk-input--width-10" id="nhs-number-input" name="nhs-number-input" type="text" inputmode="numeric" pattern="[0-9]*">
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nhs-number-no" name="nhs-number" type="radio" value="No">
            
            <label class="govuk-label govuk-radios__label" for="nhs-number-no">
              Nac oes
            </label>

          </div>

      </div>
    </fieldset>
  </div>

  <button class="govuk-button" type="submit">
    Achub a pharhau
  </button>
</form>

<!-- Default En language -->
{% else %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<form action="nhs-number" method="post" novalidate>

  <fieldset class="govuk-fieldset">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          
          <h1 class="govuk-heading-l">
            Did the deceased person have an NHS number?
          </h1>

        </legend>

        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">

            <input class="govuk-radios__input" id="nhs-number-yes" name="nhs-number" type="radio" value="Yes" data-aria-controls="nhs-number-input">
            <label class="govuk-label govuk-radios__label" for="nhs-number-yes">
              Yes
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="nhs-number-input">
            <div class="govuk-form-group">
              
              <label class="govuk-label" for="nhs-number">
                Enter NHS number
              </label>

              <input class="govuk-input govuk-input--width-10" id="nhs-number-input" name="nhs-number-input" type="text" inputmode="numeric" pattern="[0-9]*">
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nhs-number-no" name="nhs-number" type="radio" value="No">
            
            <label class="govuk-label govuk-radios__label" for="nhs-number-no">
              No
            </label>

          </div>

      </div>
    </fieldset>
  </div>

  <button class="govuk-button" type="submit">
    Save and continue
  </button>
</form>

{% endif %}

  </div>
</div>

{% endblock %}