{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<!-- English language selected-->
{% if data['lang'] == "en" %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <form action="select-hospital-address" method="post" novalidate>
    
      <div class="govuk-form-group">
    
        <div class="govuk-radios">

          
            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                <h1 class="govuk-heading-l">
                  Select a hospital address
                </h1>
              </label>

              <div class="">
                <p>{{ data['hospitalAddresses'] | length }} {% if (data['hospitalAddresses'] | length > 1)  %}addresses{% else %}address{% endif %} found for {{ data['hospital-postcode'] }}. If you can't find the hospital, check the spelling or postcode of the hospital and <a href="another-location-postcode">search again</a>, or enter the address manually.</p>
              </div>
              
              <select class="govuk-select" id="select-address" name="select-hospital-address">
                <option value="choose" selected>Select address</option>
                {% for hospitalAddress in data['hospitalAddresses'] %}
                  <option value="{{ hospitalAddress }}">{{ hospitalAddress }}</option>
                {% endfor %}
              </select>
            </div>
          
    
        </div>
      </div>
    
    </fieldset>

    <button class="govuk-button" type="submit">Use this address</button>

    </form>

    <div class="govuk-form-group">
      <p><a href="location-death-hospital">Enter address manually</a></p>
    </div>

<!--Welsh language selected-->
{% elseif data['lang'] == "cy" %}

<a href="javascript:history.back()" class="govuk-back-link">Yn ôl</a>

<form action="select-hospital-address" method="post" novalidate>

  <div class="govuk-form-group">

    <div class="govuk-radios">

      
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            <h1 class="govuk-heading-l">
              Dewiswch gyfeiriad ysbyty
            </h1>
          </label>

          <div class="">
            <p>{{ data['hospitalAddresses'] | length }} {% if (data['hospitalAddresses'] | length > 1)  %}cyfeiriadau{% else %}cyfeiriad{% endif %} a ddarganfuwyd ar gyfer {{ data['another-location-postcode'] }}. Os na allwch ddod o hyd i'r ysbyty, gwiriwch sillafu neu god post yr ysbyty a <a href="hospital-postcode">chwiliwch eto</a>, neu rhowch y cyfeiriad â llaw.</p>
          </div>
          
          <select class="govuk-select" id="select-address" name="select-hospital-address">
            <option value="choose" selected>Dewiswch gyfeiriad</option>
            {% for hospitalAddress in data['hospitalAddresses'] %}
              <option value="{{ hospitalAddress }}">{{ hospitalAddress }}</option>
            {% endfor %}
          </select>
        </div>
      

    </div>
  </div>

</fieldset>

<button class="govuk-button" type="submit">Defnyddiwch y cyfeiriad hwn</button>

</form>

<div class="govuk-form-group">
  <p><a href="location-death-hospital">Rhowch y cyfeiriad â llaw</a></p>
</div>

<!-- Default En language -->
{% else %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<form action="select-hospital-address" method="post" novalidate>

  <div class="govuk-form-group">

    <div class="govuk-radios">

      
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            <h1 class="govuk-heading-l">
              Select a hospital address
            </h1>
          </label>

          <div class="">
            <p>{{ data['hospitalAddresses'] | length }} {% if (data['hospitalAddresses'] | length > 1)  %}addresses{% else %}address{% endif %} found for {{ data['hospital-postcode'] }}. If you can't find the hospital, check the spelling or postcode of the hospital and <a href="another-location-postcode">search again</a>, or enter the address manually.</p>
          </div>
          
          <select class="govuk-select" id="select-address" name="select-hospital-address">
            <option value="choose" selected>Select address</option>
            {% for hospitalAddress in data['hospitalAddresses'] %}
              <option value="{{ hospitalAddress }}">{{ hospitalAddress }}</option>
            {% endfor %}
          </select>
        </div>
      

    </div>
  </div>

</fieldset>

<button class="govuk-button" type="submit">Use this address</button>

</form>

<div class="govuk-form-group">
  <p><a href="location-death-hospital">Enter address manually</a></p>
</div>

{% endif %}


  </div>
</div>

{% endblock %}