{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="death-location" method="post" novalidate>

        {% call govukFieldset({
        legend: {
          text: data.translations.dpdHospitalManualEntryPageTitle[data.lang],
          classes: 'govuk-fieldset__legend--l',
          isPageHeading: true
        }
      }) %}

        {{ govukInput({
              label: { 
                text: data.translations.dpdHospitalManualEntryAddressLine1[data.lang]
              },
              value: data['address-line-1'],
              id: 'address-line-1',
              name: 'address-line-1'
          }) }}

        {{ govukInput({
            label: { 
              text: data.translations.dpdHospitalManualEntryAddressLine2[data.lang]
             },
            value: data['address-line-2'],
            id: 'address-line-2',
            name: 'address-line-2'
        }) }}

        {{ govukInput({
              label: { 
                text: data.translations.dpdHospitalManualEntryTownOrCity[data.lang]
              },
              value: data['address-town'],
              id: 'address-town',
              name: 'address-town',
              classes: 'govuk-input--width-20'
          }) }}

        {{ govukInput({
            label: { 
              text: data.translations.dpdHospitalManualEntryCounty[data.lang]
            },
            classes: 'govuk-input--width-4',
            value: data['address-county'],
            id: 'address-county',
            name: 'address-county',
            classes: 'govuk-input--width-10'
        }) }}

        {{ govukInput({
          label: { 
            text: data.translations.dpdHospitalManualEntryPostcode[data.lang]
          },
          classes: 'govuk-input--width-4',
          value: data['address-postcode'],
          id: 'address-postcode',
          name: 'address-postcode',
          classes: 'govuk-input--width-10'
      }) }}

        {% endcall %}


        {% if data.bilingual == 'true' %}

          <!-- BILINGUAL FIELDS AND CHECKBOX -->
          {% set welshAddressFields = govukInput({
                label: { 
                  text: data.translations.dpdOtherLocationManualEntryAddressLine1[data.lang]
                },
                value: data['address-line-1-welsh'],
                id: 'address-line-1-welsh',
                name: 'address-line-1-welsh'
            }) + 
          
          govukInput({
              label: { 
                text: data.translations.dpdOtherLocationManualEntryAddressLine2[data.lang]
              },
              value: data['address-line-2-welsh'],
              id: 'address-line-2-welsh',
              name: 'address-line-2-welsh'
          }) + 

          govukInput({
                label: { 
                  text: data.translations.dpdOtherLocationManualEntryTownOrCity[data.lang]
                },
                value: data['address-town-welsh'],
                id: 'address-town-welsh',
                name: 'address-town-welsh',
                classes: 'govuk-input--width-20'
            }) + 
            
            govukInput({
              label: { 
                text: data.translations.dpdOtherLocationManualEntryCounty[data.lang]
              },
              classes: 'govuk-input--width-4',
              value: data['address-county-welsh'],
              id: 'address-county-welsh',
              name: 'address-county-welsh',
              classes: 'govuk-input--width-10'
          }) %}

          {{ govukCheckboxes({
            name: 'add-welsh-hospital',
            values: data['add-welsh-hospital'],
            items: [
              {
                value: 'yes',
                html: 'Enter address <strong>in Welsh</strong> ' + data.translations.globalOptional[data.lang],
                conditional : { html: welshAddressFields }
              }
            ]
          }) }}

        {% endif %}

        {{ govukButton({
        text: data.translations.globalSaveContinue[data.lang]
      }) }}

      <p class="govuk-!-margin-bottom-6">
          <a href="hospital-postcode">{{ data.translations.dpdOtherLocationHospitalPostcodeLink[data.lang] }}</a>
        </p>

      </form>

    </div>
  </div>

  {{ data | debugData | safe }}

{% endblock %}