{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
  }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">No address found</h1>

    {% set query = 'empty search term' %}

    {% if data.addressPath === 'hospital' %}

          {% set reselectLink = 'hospital-postcode' %}
          {% set manualLink = 'location-death-hospital' %}

        {% else %}

          {% set reselectLink = 'another-location-postcode' %}
          {% set manualLink = 'exact-address' %}

        {% endif %}

        <p class="govuk-body">We could not find an address that matches <strong>{{ data.queryString }}</strong>.</p>

         <p class="govuk-body"><a href="{{ reselectLink }}">{{ data.translations.globalSelectDifferentAddress[data.lang] }}</a></p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="{{ manualLink }}" class="govuk-link">{{ data.translations.globalEnterAddressManually[data.lang] }}</a></p>

  </div>
</div>

{{ data | debugData | safe }}

{% endblock %}