{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="select-hospital-address" method="post" novalidate>
    
      <div class="govuk-form-group">
        <div class="govuk-radios">

              <label class="govuk-label" for="select-address">
                <h1 class="govuk-heading-l">{{ data.translations.dpdHospitalPostcodeSelectPageTitle[data.lang] }}</h1>
              </label>
                
                <p>{{ data['hospitalAddresses'] | getPostCodeSearchStatus('hospital') | safe }}</p>

                {% if ( data['hospitalAddresses'] | length > 0 )  %}

                  {% for hospitalAddress in data['hospitalAddresses'] %}
                    <div class="govuk-radios__item">

                      {% if data['hospital-address'] == hospitalAddress %}
                        <!-- CHECKED -->
                        <input checked class="govuk-radios__input" id="hospital-address-{{loop.index}}" name="hospital-address" type="radio" value="{{ hospitalAddress }}">
                      {% else %}
                        <input class="govuk-radios__input" id="hospital-address-{{loop.index}}" name="hospital-address" type="radio" value="{{ hospitalAddress }}">
                      {% endif %}

                      <label class="govuk-label govuk-radios__label" for="hospital-address-{{loop.index}}">{{ hospitalAddress or 'Sample community address' }}</label>
                    </div>
                  {% endfor %}


                  <hr class="govuk-section-break govuk-section-break--m" />

                  {{ govukButton({
                    text: data.translations.globalUseAddress[data.lang]
                  }) }}

                {% endif %}
    
        </div>
      </div>

    <p><a href="location-death-hospital">{{ data.translations.dpdHospitalPostcodeSelectLink[data.lang] }}</a></p>

    </form>
    

  </div>
</div>
</main>
{{ data | debugData | safe }}

{% endblock %}