{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="death-location" method="post" novalidate>

        {% call govukFieldset({
        legend: {
          text: data.translations.dpdApproximateLocationPageTitle[data.lang],
          classes: 'govuk-fieldset__legend--l',
          isPageHeading: true
        }
        
      }) %}

        {% if data.bilingual == 'true' %}

          <p class="govuk-hint">{{ data.translations.dpdApproximateLocationHintBilingual[data.lang] }}</p>

          <!-- BILINGUAL -->
          {{ govukTextarea({
                label: { 
                  html: data.translations.dpdApproximateLocationEnterDetails[data.lang] + '<br /><strong>'+data.translations.globalWriteInEnglish[data.lang]+'</strong>'
                },
                hint: {
                  text: data.translations.dpdApproximateLocationHint[data.lang]
                },
                value: data['location-death'],
                id: 'location-death',
                name: 'location-death'
            }) }}



            {{ govukTextarea({
                label: { 
                  html: data.translations.dpdApproximateLocationEnterDetails[data.lang]+ ' ' + data.translations.globalOptional[data.lang] + '<br /><strong>'+data.translations.globalWriteInWelsh[data.lang]+'</strong>'
                },
                hint: {
                  text: data.translations.dpdApproximateLocationHintWelsh[data.lang]
                },
                value: data['location-death-welsh'],
                id: 'location-death-welsh',
                name: 'location-death-welsh'
            }) }}

          {% else %}


                <!-- ENGLISH ONLY -->
          {{ govukTextarea({
                label: { 
                  text: data.translations.dpdApproximateLocationEnterDetails[data.lang]
                },
                hint: {
                  text: data.translations.dpdApproximateLocationHint[data.lang]
                },
                value: data['location-death'],
                id: 'location-death',
                name: 'location-death'
            }) }}



          {% endif %}

        {% endcall %}


        {{ govukButton({
        text: data.translations.globalSaveContinue[data.lang]
      }) }}

      </form>

    </div>
  </div>

  {{ data | debugData | safe }}
  

{% endblock %}