{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        

       <form action="deceased-persons-age" method="post">

        <!-- OVER 24 HOURS, AGE IN DAYS -->
        {% if data['over-under-24'] === 'yes' %} 

        {% if data.showErrors === 'true' %}
          <div class="govuk-error-summary" data-module="govuk-error-summary">
              <div role="alert">
                <h2 class="govuk-error-summary__title">
                  There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                    <li>
                      <a href="#age">Number of days must be 28 or less</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}


          <div id="age" class="govuk-form-group{% if data.showErrors === 'true' %} govuk-form-group--error{% endif %}">
          {% call govukFieldset({
              legend: {
                text: data.translations.dpdAgePageTitle[data.lang],
                classes: 'govuk-fieldset__legend--l',
                isPageHeading: true
              }
            }) %}

              {% set inputClasses = 'govuk-input--width-2' %}
              {% if data.showErrors === 'true' %}
                
                <p class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Number of days must be 28 or less
                </p>

                {% set inputClasses = 'govuk-input--width-2 govuk-input--error' %}

              {% endif %}

              {{ govukInput({
                label: {
                  text: data.translations.dpdAgeDaysOld[data.lang] | capitalize,
                  classes: 'govuk-visually-hidden'
                },
                classes: inputClasses,
                value: data['deceased-persons-age-days'],
                id: 'deceased-persons-age-days',
                name: 'deceased-persons-age-days',
                suffix: {
                  'text' : data.translations.globalTimeUnitDays[data.lang] | lower
                }
            }) }}

            {% endcall %}
          </div>


        {% else %} 

          
          <!-- UNDER 24 HOURS, AGE IN HOURS / MINS -->

          {% if data.showErrors === 'true' %}
          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#age">Number of minutes must be 59 or less</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% endif %}


          <div id="age" class="govuk-form-group{% if data.showErrors === 'true' %} govuk-form-group--error{% endif %}">
          {% call govukFieldset({
            id: 'age',
            legend: {
              text: data.translations.dpdAgePageTitle[data.lang],
              classes: 'govuk-fieldset__legend--l',
              isPageHeading: true
            }
          }) %}

            <style>
              .govuk-input__wrapper .govuk-form-group + .govuk-form-group:not(:first-child) { margin-left: 20px; }
              .govuk-form-group--error .govuk-form-group { margin-bottom: 0; }
            </style>

            {% set inputClasses = 'govuk-input--width-2' %}
            {% if data.showErrors === 'true' %}
                
                <p class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Number of minutes must be 59 or less
                </p>

                {% set inputClasses = 'govuk-input--width-2 govuk-input--error' %}

              {% endif %}

           

            <div class="govuk-input__wrapper">
                          
              {{ govukInput({
                  label: { 
                    text: data.translations.dpdAgeHours[data.lang] | capitalize,
                    classes: 'govuk-visually-hidden'
                  },
                  classes: 'govuk-input--width-2',
                  value: data['deceased-persons-age-hours'],
                  id: 'deceased-persons-age-hours',
                  name: 'deceased-persons-age-hours',
                  suffix: { 'text' : data.translations.dpdAgeHours[data.lang] | capitalize }
              }) }}

              {{ govukInput({
                label: { 
                  text: data.translations.dpdAgeMinutes[data.lang] | capitalize,
                  classes: 'govuk-visually-hidden'
                 },
                classes: inputClasses,
                value: data['deceased-persons-age-minutes'],
                id: 'deceased-persons-age-minutes',
                name: 'deceased-persons-age-minutes',
                suffix: { 'text' : data.translations.dpdAgeMinutes[data.lang] | capitalize }
            }) }}

          </div>

          {% endcall %}

          </div>


        {% endif %}

        {{ govukButton({
          text: data.translations.globalSaveContinue[data.lang],
          id: 'submit-button'
        }) }}


      </form>
          
        
    </div>
</div>
</main>
{% endblock %}
