{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="contact-method" role="form" method="post" novalidate>

            {% if data['role-type'] == 'me' %}
                {% set hintText = data.translations.contactPageHintME[data.lang] %}
            {% else %}
                {% set hintText = data.translations.contactPageHint[data.lang] %}
            {% endif %}

            {{ govukInput({
                label: {
                    html: data.translations.contactPageTitle[data.lang],
                    classes: 'govuk-label--l',
                    isPageHeading: true
                },
                hint: { html: hintText },
                id: 'contact-method',
                name: 'contact-method',
                value: data['contact-method'],
                classes: 'govuk-input--width-10'
            }) }}

            {{ govukButton({
                text: data.translations.globalSaveContinue[data.lang]
            }) }}
            
        </form>

    </div>
</div>
</main>
{{ data | debugData | safe }}

{% endblock %}