{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="qualifications" role="form" method="post" novalidate>

            {{ govukInput({
                label: {
                    html: data.translations.qualificationPageTitle[data.lang],
                    classes: 'govuk-label--l',
                    isPageHeading: true
                },
                hint: { text: data.translations.qualificationPageHint[data.lang] },
                id: 'qualifications',
                name: 'qualifications',
                value: data['qualifications'],
                classes: 'govuk-input--width-10'
            }) }}

            {{ govukButton({
                text: data.translations.globalSaveContinue[data.lang]
            }) }}
            
        </form>

    </div>
</div>

{{ data | debugData | safe }}

{% endblock %}