//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Custom addition to header following HMRC header
// https://design.tax.service.gov.uk/examples/sign-out/example/
.hmrc-sign-out-nav, .align-right {
    float: right;
}
.hmrc-sign-out-nav .hmrc-sign-out-nav__link {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.8em;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Custom account signed in details and sign out link
//.account-signed-in {
 //   text-align: right;
 //   margin-top: 10px;
 //   padding-bottom: 10px;
 //   border-bottom-width: 1px;
 //   border-bottom-style: solid;
 //   border-bottom-color: #b1b4b6;
//
 //   p {
 //       display: inline-block;
 //       margin-bottom: 0;
 //   }
// }
.account-signed-in {
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 19px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b1b4b6;
  margin-bottom: 0;
}

.account-signed-in__list {
  margin-top: 1em;
  text-align: right;
}

.account-signed-in__list-item {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}


.service-account {
    background-color: #f3f2f1;
}

// Custom Input + Select in wrapper - used in Age Page 
.border-hidden {
    border-right: 0;
}

// govuk related navigation

.related-navigation {
  color: #0b0c0c;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1d70b8;
  margin-bottom: 60px;

}
  

// $govuk-secondary-text-colour	#505a5f
.sub-text {
    color: #505a5f;


}

// Welsh lanquage toggle

.dwp-language-toggle {
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 19px;
}

.dwp-language-toggle__list {
  margin-top: 1em;
  text-align: right;
}

.dwp-language-toggle__list-item {
  display: inline-block;
}

.dwp-language-toggle__list-item:first-child:after {
  content: "";
  display: inline-block;
  border-right: 1px solid #0b0c0c;
  position: relative;
  top: .1875em;
  height: 1em;
}

// NHS login button for Care ID

.nhslogin-button {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 28px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #005eb8;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 0 #003087;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: auto;
}
@media (min-width: 40.0625em) {
    .nhslogin-button {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.47368;
  }
}
@media print {
  .nhslogin-button {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .nhslogin-button {
    margin-bottom: 36px;
  }
}
@media (max-width: 40.0525em) {
  .nhslogin-button {
    padding: 8px 16px;
  }
}
.nhslogin-button:link,
.nhslogin-button:visited,
.nhslogin-button:active,
.nhslogin-button:hover {
  color: #fff;
  text-decoration: none;
}
.nhslogin-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.nhslogin-button:hover {
  background-color: #1e569b;
}
.nhslogin-button:focus {
  background: #ffeb3b;
  box-shadow: 0 4px 0 #003087;
  color: #003087;
  outline: none;
}
.nhslogin-button:active {
  background: #1e569b;
  box-shadow: none;
  color: #fff;
  top: 4px;
}
.nhslogin-button::before {
  background: transparent;
  bottom: -6px;
  content: "";
  display: block;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
}
.nhslogin-button:active::before {
  top: -6px;
}
.nhslogin-button--reverse {
  background-color: #fff;
  box-shadow: 0 4px 0 #003087;
  color: #005eb8;
}
.nhslogin-button--reverse:hover {
  background-color: #f2f2f2;
  color: #005eb8;
}
.nhslogin-button--reverse:focus {
  background: #ffeb3b;
  box-shadow: 0 4px 0 #003087;
  color: #003087;
  outline: 4px solid transparent;
}
.nhslogin-button--reverse:active {
  background: #f2f2f2;
  box-shadow: none;
  color: #005eb8;
  top: 4px;
}
.nhslogin-button--reverse:link {
  color: #005eb8;
}
.nhslogin-button--reverse.nhsuk-button--disabled {
  background-color: #fff;
}
.nhslogin-button--reverse.nhsuk-button--disabled:focus {
  background-color: #fff;
}
.nhslogin-button--disabled,
.nhslogin-button[disabled="disabled"],
.nhslogin-button[disabled] {
  background-color: #005eb8;
  opacity: 0.5;
  pointer-events: none;
}
.nhslogin-button--disabled:hover,
.nhslogin-button[disabled="disabled"]:hover,
.nhslogin-button[disabled]:hover {
  background-color: #005eb8;
  cursor: default;
}
.nhslogin-button--disabled:focus,
.nhslogin-button[disabled="disabled"]:focus,
.nhslogin-button[disabled]:focus {
  background-color: #005eb8;
  outline: none;
}
.nhslogin-button--disabled:active,
.nhslogin-button[disabled="disabled"]:active,
.nhslogin-button[disabled]:active {
  box-shadow: 0 4px 0 #003087;
  top: 0;
}
.nhslogin-button--reverse[disabled="disabled"],
.nhslogin-button--reverse[disabled] {
  background-color: #fff;
  opacity: 0.5;
}
.nhslogin-button--reverse[disabled="disabled"]:hover,
.nhslogin-button--reverse[disabled]:hover {
  background-color: #fff;
  cursor: default;
}
.nhslogin-button--reverse[disabled="disabled"]:focus,
.nhslogin-button--reverse[disabled]:focus {
  outline: none;
}
.nhslogin-button--reverse[disabled="disabled"]:active,
.nhslogin-button--reverse[disabled]:active {
  box-shadow: 0 4px 0 #003087;
  top: 0;
}
.ie8 .nhslogin-button:focus {
  outline: 1px dotted #003087;
}

.moj-filter-tags {
  font-size: 0;
  margin-bottom: 20px;
  padding-left: 0
}

.moj-filter__tag {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.1428571429;
  background-color: #fff;
  border: 1px solid #0b0c0c;
  color: #0b0c0c;
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  text-decoration: none
}

.moj-filter__tag:link,.moj-filter__tag:visited {
  color: #0b0c0c
}

.moj-filter__tag:focus {
  color: #0b0c0c;
  background-color: #fd0
}

.moj-filter__tag:hover {
  background-color: #0b0c0c;
  color: #fff
}

.moj-filter__tag:after {
  background-image: url(../images/icon-tag-remove-cross.svg);
  content: "";
  display: inline-block;
  font-weight: bold;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  width: 10px
}

.moj-filter__tag:hover:after {
  background-image: url(../images/icon-tag-remove-cross-white.svg)
}

.moj-filter__options {
  box-shadow: inset 0 0 0 1px #b1b4b6;
  margin-top: -1px;
  padding: 20px
}

.moj-filter__options div:last-of-type {
  margin-bottom: 0
}


 .govuk-checkboxes__conditional {
    @include govuk-responsive-margin(4, "bottom");
    margin-left: conditional-margin-left;
    padding-left: conditional-padding-left;
    border-left: conditional-border-width solid govuk-border-colour;

    .govuk-frontend-supported &--hidden {
      display: none;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
