//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Custom addition to header following HMRC header
// https://design.tax.service.gov.uk/examples/sign-out/example/
.hmrc-sign-out-nav, .align-right {
    float: right;
}
.hmrc-sign-out-nav .hmrc-sign-out-nav__link {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.8em;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Custom account signed in details and sign out link
.account-signed-in {
    text-align: right;
    margin-top: 10px;

    p {
        display: inline-block;
        margin-bottom: 0;
    }
}
.service-account {
    background-color: #f3f2f1;
}

// Custom Input + Select in wrapper - used in Age Page 
.border-hidden {
    border-right: 0;
}

// $govuk-secondary-text-colour	#505a5f
.sub-text {
    color: #505a5f;


}