{% extends "layouts/prototype-main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">
    
          <form action="care-id-select-login" method="post">
    
          <h1 class="nhsuk-heading-xl">
            Select your login method
          </h1>
    
          <p class="nhsuk-u-font-size-19">Your choice will be saved as your preferred login method for this browser. You may have to repeat this step if you clear your browser’s cookies.</p>
        
          <div class="nhsuk-form-group">
    
            <fieldset class="nhsuk-fieldset">
    
              <div class="nhsuk-radios">
    
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="care-id-select-login-smartcard" name="care-id-select-login" type="radio" value="Smartcard">
                  <label class="nhsuk-label nhsuk-radios__label" for="care-id-select-login-smartcard">
                    Smartcard
                  </label>
                </div>
    
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="care-id-select-login-windows-hello" name="care-id-select-login" type="radio" value="Windows Hello">
                  <label class="nhsuk-label nhsuk-radios__label" for="care-id-select-login-windows-hello">
                    Windows Hello
                  </label>
                </div>
    
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="care-id-select-login-security-key" name="care-id-select-login" type="radio" value="Security Key">
                  <label class="nhsuk-label nhsuk-radios__label" for="care-id-select-login-security-key">
                    Security Key
                  </label>
                </div>
    
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="care-id-select-login-auth-app" name="care-id-select-login" type="radio" value="Authentication App">
                  <label class="nhsuk-label nhsuk-radios__label" for="care-id-select-login-auth-app">
                    Authenticator App
                  </label>
                </div>            
    
              </div>
            </fieldset>
    
          </div><br>
    
          <button class="nhsuk-button" type="submit">
            Continue
          </button>
        
        </form>
        
        </div> 
        
        
      
      </form>
    
      </div>
    
      {% endblock %}