{% extends "layouts/prototype-main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="security-key" method="post">

      <h1>
        Sign in using a Security Key
      </h1>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>
    
    </form>
    
    </div> 
    
    
  
  </form>

  </div>
{% endblock %}
