{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      Could the deceased person's job have caused or contributed to their death?
    </h1>
    <div class="govuk-hint" id="contact-hint">
      The death might have been due to or contributed to by the employment followed at some time by the deceased.
    </div>
    
    <form action="caused-by-employment" method="post" novalidate>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="caused-by-employment-yes" name="caused-by-employment" type="radio" value="Yes" {% if data['caused-by-employment'] === 'Yes' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="caused-by-employment-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="caused-by-employment-no" name="caused-by-employment" type="radio" value="No" {% if data['caused-by-employment'] === 'No' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="caused-by-employment-no">
                No
              </label>
            </div>

          </div>
        </fieldset>

      </div>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>
</main>
{% endblock %}