{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  {% if data['over-under-28'] == 'no' or data['over-under-28'] == 'dpd66Or65RadioNo' %}
  <div class="govuk-grid-column-full">
    {% else %}
    <div class="govuk-grid-column-two-thirds">
      {% endif %}
      
      <form action="cause-of-death" method="post" novalidate>

        <fieldset class="govuk-fieldset" aria-describedby="cause-death-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What caused the death?
            </h1>
          </legend>
          <div id="cause-death-hint" class="govuk-hint">
            Do not use abbreviations, vague terms, or symptoms.
          </div>

        <!-- =========================================== -->
        <!-- Over 28 days Form -->
        <!-- =========================================== -->



        {% if data['over-under-28'] === 'no' or data['over-under-28'] === 'dpd66Or65RadioNo' %}

        {% if data.validateCauseOfDeathScreen === 'true' %}
          <script>

            //
            // GET ERROR MESSAGE FUNCTION
            //
            function _getErrorMessage( err, num ){

              let errorMessage = '';
              const errors = {};

              /* CAUSE ERRORS */

              errors.noCauseEntered = [
                'Enter disease or condition directly leading to death',
                'Enter other disease or condition leading to 1(a)',
                'Enter other disease or condition leading to 1(b)',
                'Enter other disease or condition leading to 1(c)',
                'Enter other significant conditions contributing to their death'
              ];
              errors.noCauseEntered.reverse();

              errors.causeTooShort = [
                'Disease or condition directly leading to death must be 2 characters or more',
                'Other disease or condition leading to 1(a) must be 2 characters or more',
                'Other disease or condition leading to 1(b) must be 2 characters or more',
                'Other disease or condition leading to 1(c) must be 2 characters or more',
                'Other significant conditions contributing to their death must be 2 characters or more'
              ];
              errors.causeTooShort.reverse();

              errors.causeTooLong = [
                'Disease or condition directly leading to death must be 170 characters or less',
                'Other disease or condition leading to 1(a) must be 170 characters or less',
                'Other disease or condition leading to 1(b) must be 170 characters or less',
                'Other disease or condition leading to 1(c) must be 170 characters or less',
                'Other significant conditions contributing to their death must be 170 characters or less'
              ];
              errors.causeTooShort.reverse();

              errors.causeWrongCharacters = [
                'Disease or condition directly leading to death must only include letters a to z, digits 0 to 9, full stops, commas, colons, semi-colons, hyphens, apostrophes, ampersands, @ and /',
                'Other disease or condition leading to 1(a) must only include letters a to z, digits 0 to 9, full stops, commas, colons, semi-colons, hyphens, apostrophes, ampersands, @ and /',
                'Other disease or condition leading to 1(b) must only include letters a to z, digits 0 to 9, full stops, commas, colons, semi-colons, hyphens, apostrophes, ampersands, @ and /',
                'Other disease or condition leading to 1(c) must only include letters a to z, digits 0 to 9, full stops, commas, colons, semi-colons, hyphens, apostrophes, ampersands, @ and /',
                'Other significant conditions contributing to their death must only include letters a to z, digits 0 to 9, full stops, commas, colons, semi-colons, hyphens, apostrophes, ampersands, @ and /'
              ];
              errors.causeWrongCharacters.reverse();


              /* TIME ERRORS */
              errors.timeUnknown = 'Select a unit of time';
              errors.noTimeEntered = 'Enter time between onset of disease or condition';
              errors.timeIncorrect = 'Time between onset of disease or condition and death must only include digits 0 to 9, and be between 1 and 999'


              /* UNIT ERRORS */
              errors.noUnitSelected = 'Select a unit of time';



              if( err && !Number.isNaN(parseInt(num)) ){
                if( Array.isArray( errors[err] ) ){
                  errorMessage = errors[err][num];
                } else{
                  errorMessage = errors[err];
                }
              }

              return errorMessage;

            };


            //
            // VALIDATE FORM FUNCTION
            //
            function _validateForm(){

              // Remove existing errors
              document.querySelectorAll('.govuk-error-summary,.govuk-error-message').forEach(function(el){
                el.remove();
              });

              document.querySelectorAll('.govuk-select--error,.govuk-input--error,.govuk-form-group--error').forEach(function(el){
                el.classList.remove('govuk-select--error','govuk-input--error','govuk-form-group--error');
              });

              // Define the groupings
              const groups = [];
              groups.push(['main-cause','duration1','time-unit-duration-1']); // 4
              groups.push(['secondary-cause','duration2','time-unit-duration-2']); // 3
              groups.push(['other-conditions-c','duration3','time-unit-duration-3']); // 2
              groups.push(['other-conditions-d','duration4','time-unit-duration-4']); // 1
              groups.push(['other-significant-conditions','duration5','time-unit-duration-5']); //0


              // We loop over them in reverse
              groups.reverse();


              // Begin the loops
              const noOfGroups = groups.length;
              const errors = [];

              let errorLevel = -1;

              groups.forEach( function( group, i ){ 

                const cause = document.querySelector( '#' + group[0] );
                const time = document.querySelector( '#' + group[1] );
                const unit = document.querySelector( '#' + group[2] );

                const causeValue = cause.value.trim();
                const timeValue = time.value.trim();
                const unitValue = unit.options[unit.selectedIndex].value.trim();

                if( !causeValue && !timeValue && !unitValue ){
                    
                    // All fields are empty, cool...unless you're on the main-cause row, or the errorLevel has been set...
                    if( i === (noOfGroups - 1) || errorLevel > -1 ){
                        errors.push( { group: group[0] + '-group', field: group[0], error: _getErrorMessage('noCauseEntered', i) } );
                    } 

                } else {

                    const causeRegex = /^[a-zA-Z0-9'&@:;,.\s\/-]*$/;
                    const timeRegex = /^(0*[1-9][0-9]{0,2})$/;

                    const currentErrorsLength = errors.length;
                    
                    if( !causeValue ){

                        // First, check if cause is empty...
                        errors.push( { group: group[0] + '-group', field: group[0], error: _getErrorMessage('noCauseEntered', i) } );

                    } else if( causeValue.length < 2 ){

                        // Check if cause is too short...
                        errors.push( { group: group[0] + '-group', field: group[0], error: _getErrorMessage('causeTooShort', i) } );

                    } else if( causeValue.length > 170 ){

                         // Check if cause is too long...
                        errors.push( { group: group[0] + '-group', field: group[0], error: _getErrorMessage('causeTooLong', i) } );

                    } else if( !causeRegex.test(causeValue) ){

                        // Check if cause contains special characters 
                        errors.push( { group: group[0] + '-group', field: group[0], error: _getErrorMessage('causeWrongCharacters', i) } );

                    } else if( unitValue.toLowerCase() === 'unknown' || unitValue === 'globalTimeUnitUnknown' ){

                        if( timeValue ){

                          // If there's an unknown value, remove the time unit value
                          errors.push( { group: group[0] + '-group', field: group[1], error: _getErrorMessage('timeUnknown', i) } );

                        }

                    } else if( !timeValue ){

                        // Time is empty
                        errors.push( { group: group[0] + '-group', field: group[1], error: _getErrorMessage('noTimeEntered', i) } );
                    
                    } else if( !timeRegex.test( timeValue ) ) {

                        // Check if the value is 1 - 999 (inclusive of leading zeros)
                        errors.push( { group: group[0] + '-group', field: group[1], error: _getErrorMessage('timeIncorrect', i) } );

                    } else if( !unitValue ){

                        // Unit is empty
                        errors.push( { group: group[0] + '-group', field: group[2], error: _getErrorMessage('noUnitSelected', i) } );

                    }


                     if( causeValue || timeValue || unitValue ){

                      if( i !== 0 ){
                        // Altering the criteria 'cause there need not have been an error (previoulsy a correct row wouldn't trigger the preceeding row)...
                        errorLevel = i;
                      }

                    }

                }
                

              });

              // Reverse them back so the errors show up in the right order...
              errors.reverse();

              return errors;

            };

            //
            // DRAW ERROR SUMMARY FUNCTION
            //
            function _drawErrorSummary( errors ){

                // Draw summary
                const summary = document.createElement('div');
                summary.classList.add('govuk-error-summary');
                summary.setAttribute('id','error-summary');
                summary.setAttribute('data-module','govuk-error-summary');

                let html = '<div role="alert"><h2 class="govuk-error-summary__title">There is a problem</h2><div class="govuk-error-summary__body"><ul class="govuk-list govuk-error-summary__list">';
        
                errors.forEach(function( err ){
                  html += '<li><a href="#'+err.group+'">'+err.error+'</a></li>';
                });
        
                html += '</ul></div></div>';

                summary.innerHTML = html;

                document.querySelector('#cause-death-hint').insertAdjacentElement('afterEnd', summary);

                return true;

            };

            //
            // MARK ERRORS FUNCTION
            //
            function _markErrors( errors ){

                errors.forEach(function( err ){
                    
                    const group = document.querySelector('#' + err.group );
                    const field = document.querySelector('#' + err.field );

                    const p = document.createElement('p');
                    p.classList.add('govuk-error-message');
                    p.innerHTML = '<span class="govuk-visually-hidden">Error:</span> ' + err.error;

                    if( group ){
                      group.classList.add('govuk-form-group--error');
                      group.insertAdjacentElement('beforeBegin', p);
                    }

                    if( field ){
                      const errorClass = ( err.field.indexOf('time-unit') > -1 ) ? 'govuk-select--error' : 'govuk-input--error';
                      field.classList.add(errorClass);
                    }

                });

                return true;

            };


            //
            // INIT PAGE
            //
            document.addEventListener('DOMContentLoaded',function(){

                const submitButton = document.querySelector('#submit-button');

                submitButton.addEventListener('click',function(e){

                  const errors = _validateForm();

                  if ( errors.length > 0 ) {

                    _drawErrorSummary( errors );
                    _markErrors( errors );
                
                    window.scrollTo( { top: 0, behavior: 'instant' });

                    e.preventDefault();
                    e.stopPropagation();

                  } 

                  return false;
                  
                  

                });
              
            });

          </script>
          {% endif %}


        <style> 

          .no-padding { padding: 0; }
          .govuk-grid-column-two-thirds.no-padding { padding: 0 20px 0 0; }  
          .govuk-form-group .govuk-input__wrapper .govuk-form-group { margin-bottom: 0; }

          @media ( max-width: 900px  ){

            .govuk-form-group .govuk-grid-column-two-thirds {
              max-width: 620px;
            }

          }

          @media ( max-width: 900px  ){

            .govuk-grid-column-one-third .govuk-label {
              margin-top: 10px;
            }

            .govuk-form-group .govuk-grid-column-one-third,
            .govuk-form-group .govuk-grid-column-two-thirds {
              width: 100%;
            }

          }

        </style>

        <!-- Using a DIV to prevent paragraph content going full-screen -->
        <!-- <div id="cause-death-1-with-explainer" class="govuk-grid-column-two-thirds no-padding govuk-!-margin-top-5 govuk-!-margin-bottom-2">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Cause of death (1)</h2>
          <p class="govuk-body">The disease or condition thought to be the underlying cause of death should appear in the lowest completed line of part 1.</p>
        </div> -->
    <fieldset class="govuk-fieldset" aria-describedby="cause-1-hint">
          <div id="cause-death-1-with-explainer" class="govuk-grid-column-two-thirds no-padding">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Cause of death (1)
              </h2>
            </legend>
            <div id="cause-1-hint" class="govuk-hint">
              The disease or condition thought to be the underlying cause of death should appear in the lowest completed line of part 1.
            </div>
          </div>
          
        <!-- MAIN CAUSE -->

      <div id="main-cause-group" class="govuk-form-group">
        <div class="govuk-grid-column-two-thirds no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="main-cause">
              <span class="govuk-visually-hidden">Enter </span>1(a) Disease or condition directly leading to death
            </label>
            <input class="govuk-input" value="{{ data['main-cause'] }}" id="main-cause" name="main-cause" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third no-padding">

              <label class="govuk-label" for="duration1">
                <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(a)</span>
              </label>
              
          <div class="govuk-input__wrapper">

              <div class="govuk-form-group">
                <input class="govuk-input border-hidden" value="{{ data.duration1 }}" id="duration1" name="duration1" type="text">
              </div>

              <div class="govuk-form-group">
                <!--SELECT TIME UNIT - Duration 1-->
                <select class="govuk-select" id="time-unit-duration-1" name="time-unit-duration-1">
                  <option value="" selected>Select unit or unknown</option>
                  <option value="years">Years</option>
                  <option value="months">Months</option>
                  <option value="days">Days</option>
                  <option value="hours">Hours</option>
                  <option value="minutes">Minutes</option>
                  <option value="Unknown">Unknown</option>
                </select>
                <script>document.querySelector('#time-unit-duration-1').value = "{{ data['time-unit-duration-1'] }}";</script>
              </div>

            </div>
          </div>
          

      </div>

      <!-- SECONDARY CAUSE -->
      <div id="secondary-cause-group" class="govuk-form-group">
        <div class="govuk-grid-column-two-thirds no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="secondary-cause">
              <span class="govuk-visually-hidden">Enter </span>1(b) Other disease or condition leading to 1(a) (optional)
            </label>
            <input class="govuk-input" value="{{ data['secondary-cause'] }}" id="secondary-cause" name="secondary-cause" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third no-padding">
      
            <label class="govuk-label" for="duration2">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(b)</span>
            </label>

            <div class="govuk-input__wrapper">

              <div class="govuk-form-group">
              <input class="govuk-input border-hidden" value="{{ data.duration2 }}" id="duration2" name="duration2" type="text">
              </div>

              <div class="govuk-form-group">
              <!--SELECT TIME UNIT - Duration 2-->
              <select class="govuk-select" id="time-unit-duration-2" name="time-unit-duration-2">
                <option value="" selected>Select unit or unknown</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="Unknown">Unknown</option>
              </select>
              <script>document.querySelector('#time-unit-duration-2').value = "{{ data['time-unit-duration-2'] }}";</script>
              </div>

            </div>

        </div>
      </div>


      <!-- OTHER CONDITIONS C -->
      <div id="other-conditions-c-group" class="govuk-form-group">
        <div class="govuk-grid-column-two-thirds no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-c">
              <span class="govuk-visually-hidden">Enter </span>1(c) Other disease or condition leading to 1(b) (optional)
            </label>
            <input class="govuk-input" value="{{ data['other-conditions-c'] }}" id="other-conditions-c" name="other-conditions-c" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration3">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(c)</span>
            </label>

            <div class="govuk-input__wrapper">

              <div class="govuk-form-group">
              <input class="govuk-input border-hidden" value="{{ data.duration3 }}" id="duration3" name="duration3" type="text">
              </div>

              <div class="govuk-form-group">
              <!-- SELECT TIME UNIT - Duration 3-->
              <select class="govuk-select" id="time-unit-duration-3" name="time-unit-duration-3">
                <option value="" selected>Select unit or unknown</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="Unknown">Unknown</option>
              </select>
              <script>document.querySelector('#time-unit-duration-3').value = "{{ data['time-unit-duration-3'] }}";</script>
              </div>

          </div>

          </div>
        </div>
      </div>



    <!-- OTHER CONDITIONS D -->
    <div id="other-conditions-d-group" class="govuk-form-group">
        <div class="govuk-grid-column-two-thirds no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-d">
              <span class="govuk-visually-hidden">Enter </span>1(d) Other disease or condition leading to 1(c) (optional)
            </label>
            <input class="govuk-input" value="{{ data['other-conditions-d'] }}" id="other-conditions-d" name="other-conditions-d" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration4">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 1(d)</span>
            </label>
            <div class="govuk-input__wrapper">

              <div class="govuk-form-group">
              <input class="govuk-input border-hidden" value="{{ data.duration4 }}" id="duration4" name="duration4" type="text">
              </div>

              <div class="govuk-form-group">
              <!-- SELECT TIME UNIT - Duration 4-->
              <select class="govuk-select" id="time-unit-duration-4" name="time-unit-duration-4">
                <option value="" selected>Select unit or unknown</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="Unknown">Unknown</option>
              </select>
              <script>document.querySelector('#time-unit-duration-4').value = "{{ data['time-unit-duration-4'] }}";</script>
              </div>

          </div>


          </div>
        </div>
      </div>
    </fieldset>



        <!-- Using a DIV to prevent paragraph content going full-screen -->
        <!-- <div id="cause-death-2-with-explainer" class="govuk-grid-column-two-thirds no-padding govuk-!-margin-top-5 govuk-!-margin-bottom-2">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Cause of death (2)</h2>
          <p class="govuk-body">Other significant condition contributing to the death but <b>not</b> relating to the disease or condition causing it.</p>
        </div> -->

    <fieldset class="govuk-fieldset" aria-describedby="cause-2-hint">
        <div id="cause-death-2-with-explainer" class="govuk-grid-column-two-thirds no-padding">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Cause of death (2)
            </h2>
          </legend>
          <div id="cause-2-hint" class="govuk-hint">
            Other significant conditions contributing to the death but <span><strong>not</strong></span> relating to the disease or condition causing it.
          </div>
        </div>
      <div id="other-significant-conditions-group" class="govuk-form-group">

        <div class="govuk-grid-column-two-thirds no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-significant-conditions">
              <span class="govuk-visually-hidden">Enter </span>2 Other significant conditions (optional)
            </label>
            <input class="govuk-input" id="other-significant-conditions" value="{{ data['other-significant-conditions'] }}" name="other-significant-conditions"
              type="text">
          </div>
        </div>



        <div class="govuk-grid-column-one-third no-padding">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration5">
              <span class="govuk-visually-hidden">Enter time and select the appropriate time unit for </span>Time between onset and death<span class="govuk-visually-hidden">, 2</span>
            </label>
            <div class="govuk-input__wrapper">

              <div class="govuk-form-group">
              <input class="govuk-input border-hidden" value="{{ data.duration5 }}" id="duration5" name="duration5" type="text">
              </div>

              <div class="govuk-form-group">
              <!-- SELECT TIME UNIT - Duration 5-->
              <select class="govuk-select" id="time-unit-duration-5" name="time-unit-duration-5">
                <option value="" selected>Select unit or unknown</option>
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="Unknown">Unknown</option>
              </select>
              <script>document.querySelector('#time-unit-duration-5').value = "{{ data['time-unit-duration-5'] }}";</script>
              </div>

          </div>
          </div>
        </div>
      </div>




        {% else %}

        <!-- =========================================== -->
        <!-- Under 28 days Form -->
        <!-- =========================================== -->


        <div class="govuk-form-group">
          <label class="govuk-label" for="main-cause">
            <span class="govuk-visually-hidden">Enter </span>a. Main disease or condition in infant
          </label>
          <input class="govuk-input" value="{{ data['main-cause'] }}" id="main-cause" name="main-cause" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="secondary-cause">
            <span class="govuk-visually-hidden">Enter </span>b. Other disease or condition in infant (optional)
          </label>
          <input class="govuk-input" value="{{ data['secondary-cause'] }}" id="secondary-cause" name="secondary-cause" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-c">
            <span class="govuk-visually-hidden">Enter </span>c. Main maternal disease or condition affecting infant (optional)
          </label>
          <input class="govuk-input" value="{{ data['other-conditions-c'] }}" id="other-conditions-c" name="other-conditions-c" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-d">
            <span class="govuk-visually-hidden">Enter </span>d. Other maternal diseases or conditions affecting infant (optional)
          </label>
          <input class="govuk-input" value="{{ data['other-conditions-d'] }}" id="other-conditions-d" name="other-conditions-d" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="other-conditions-e">
            <span class="govuk-visually-hidden">Enter </span>e. Other relevant factors or circumstances (not diseases of infant or mother) (optional)
          </label>
          <input class="govuk-input" value="{{ data['other-conditions-e'] }}" id="other-conditions-e" name="other-conditions-e" type="text">
        </div>



        {% endif %}

      </fieldset>


        <button id="submit-button" class="govuk-button" type="submit">
          Save and continue
        </button>


      </form>

    </div>
  </div>

  {{ data | debugData | safe }}
</main>
  {% endblock %}