{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}{{ settings }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">

<!-- SET VARIABLES -->

{% set pageTitle = 'Check your details are correct before signing off this certificate' %}

{% if data['role-type'] == 'ap' %}
    {% set pageTitle = 'Check your details are correct before submitting this certificate for scrutiny' %}
{% endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1><br>
    <!--<div class="govuk-hint govuk-!-margin-top-3 govuk-!-margin-bottom-7" id="hint">{{ data.translations.dpdConfirmDetailsDescription[data.lang] }}</div>-->

    {% set summaryRows = [
            {
                key: { text: data.translations.dpdConfirmDetailsFullName[data.lang] },
                value: { text: data.user.name }
            },
            {
                key: { text: data.translations.dpdConfirmDetailsGMC[data.lang] },
                value: { text: data.user.gmcNumber }
            },
            {
                key: { text: data.translations.dpdConfirmDetailsWorkAddress[data.lang] },
                value: { html: data.user.address | formatAddress }
            },
            {
                key: { text: 'Primary qualification' },
                value: { html: data['qualifications'] or 'Not specified' },
                actions: { items: [ {  href: 'onboarding/qualifications', text: 'Change' } ] }
            }
        ] %}

        {% if data.showContactMethodScreen === 'true' %}

            {% set summaryRows = ( summaryRows.push( {
                key: { text: 'Contact method' },
                value: { html: data['contact-method'] or 'Not specified' },
                actions: { items: [ {  href: 'onboarding/contact-method', text: 'Change' } ] }
            } ), summaryRows ) %}

        {% endif %}

    {{ govukSummaryList({
        rows: summaryRows
        }) }}

    {{ govukButton({
      text: data.translations.globalSaveContinue[data.lang],
      href: 'declaration'
    }) }}


  </div>
</div>

{{ data | debugData | safe }}

</main>
{% endblock %}