{% extends "layouts/main.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="confirmation" method="post" novalidate>

            {% if data['role-type'] == 'ap' %}

                <!-- AP -->
                {% if data.debug === 'true'%}<h1 class="govuk-heading-l">Role: AP</h1>{% endif %}

                
                <!-- AP MCCD CREATED (OR RESUBMITTED AFTER AMENDS) -->
                <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-10">
                    <h1 class="govuk-panel__title">{{ data.translations.apConfirmationPageTitle[data.lang] }}</h1>
                </div>

                <hr class="govuk-section-break govuk-section-break--m" />

                <p class="govuk-body-l">{{ data.translations.apConfirmationPageContent[data.lang] | safe }}</p>
                <h2 class="govuk-heading-m">{{ data.translations.apConfirmationPageSubheadingOne[data.lang] }}</h2>
                <p class="govuk-body">{{ data.translations.apConfirmationPageWhatHappensNextContent[data.lang] | safe }}</p>


            {% elseif data['role-type'] == 'me' %}

                <!-- ME -->
                {% if data.debug === 'true'%}<h1 class="govuk-heading-l">Role: ME</h1>{% endif %}

                {% if data['me-signoff'] == 'amend' %}

                    <!-- AP MCCD NEEDS AMENDS -->
                    {% if data.debug === 'true'%}<p class="govuk-body"><strong>Scenario:</strong> AP MCCD needs amends</p>{% endif %}

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">Certificate returned to the attending practitioner</h1>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--m" />

                    <p class="govuk-body-l">You must contact the attending practitioner to inform them that this Medical certificate of cause of death (MCCD) must be amended.</p>
                    
                    <h2 class="govuk-heading-m">What happens next</h2>
                    <p class="govuk-body">After the attending practitioner has amended this MCCD it will be available to view on the medical examiner dashboard marked ‘For sign off by medical examiner’.</p>
                
                {% else %}

                    {% if data['me-mccd'] === 'true' %}


                        <!-- ME MCCD CREATED  -->
                        {% if data.debug === 'true'%}<p class="govuk-body"><strong>Scenario:</strong> ME MCCD created</p>{% endif %}

                        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-10">
                            <h1 class="govuk-panel__title">{{ data.translations.confirmationPageTitle[data.lang] }}</h1>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m" />

                        <p class="govuk-body-l">{{ data.translations.confirmationPageContent[data.lang] }}</p>
                        <h2 class="govuk-heading-m">{{ data.translations.confirmationPageSubheadingOne[data.lang] }}</h2>
                        <p class="govuk-body">{{ data.translations.confirmationPageWhatHappensNextContent[data.lang] }}</p>

                        
                    {% else %}

                        <!-- AP MCCD SIGNED OFF  -->
                        {% if data.debug === 'true'%}<p class="govuk-body"><strong>Scenario:</strong> AP MCCD signed off by ME</p>{% endif %}

                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">Medical certificate of cause of death approved</h1>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m" />

                        <p class="govuk-body-l">You have signed off this Medical certificate of cause of death (MCCD) following scrutiny of the cause of death.</p>

                        <h2 class="govuk-heading-m">What happens next</h2>
                        <p class="govuk-body">This MCCD will be sent to the local register office by your medical examiner office. There is nothing further for you to do.</p>

                       
                        
                    {% endif %}

                {% endif %}

            {% elseif data['role-type'] == 'meo' %}

                <!-- MEO -->
                {% if data.debug === 'true'%}<h1 class="govuk-heading-l">Role: MEO</h1>{% endif %}

                {% if data['sent-to-registrar'] %}

                    {% if data.debug === 'true'%}<p class="govuk-body"><strong>Scenario:</strong> MEO downloaded MCCD and sent to local register office</p>{% endif %}

                    <!-- MCCD CONFIRMED AS SENT TO REGISTRAR -->
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">Certificate downloaded and sent to the local register office</h1>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--m" />

                    <h2 class="govuk-heading-m">What happens next</h2>
                    <p class="govuk-body">No further action is required.</p>
                    <p class="govuk-body">This Medical certificate of cause of death (MCCD) will be available to view from your dashboard for three months.</p>


                {% else %}

                        {% if data.debug === 'true'%}<p class="govuk-body"><strong>Scenario:</strong> MEO has sent the MCCD to the ME</p>{% endif %}

                        <!-- AP MCCD SENT TO ME FOR REVIEW -->
                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">Certificate sent to medical examiners for sign-off</h1>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m" />

                        <p class="govuk-body-l">Medical examiners in your organisation will now be able to access this certificate from their dashboard. They can review and sign off this certificate as part of the scrutiny process.</p>

                        <h2 class="govuk-heading-m">What happens next</h2>
                        <p class="govuk-body">When a medical examiner has signed off this certificate you must sign back into the MCCD digital service, download the signed-off certificate, and send it to the registrar.</p>

                {% endif %}


            {% endif %}


            {% if data[settings].useEmbeddedFeedbackForm === 'true' %}

            <!-- FEEDBACK FORM -->
            <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ data.translations.confirmationPageSubheadingTwo[data.lang] }}</h2>


            {{ govukRadios({
                name: 'give-feedback',
                value: data['give-feedback'],
                fieldset: {
                legend: {
                    text: data.translations.confirmationPageGiveFeedbackQuestionOne[data.lang],
                    classes: 'govuk-heading-s govuk-!-font-weight-bold'
                }
                },
                items: [
                { value: 'confirmationPageGiveFeedbackRadioOne', text: data.translations.confirmationPageGiveFeedbackRadioOne[data.lang] },
                { value: 'confirmationPageGiveFeedbackRadioTwo', text: data.translations.confirmationPageGiveFeedbackRadioTwo[data.lang] },
                { value: 'confirmationPageGiveFeedbackRadioThree', text: data.translations.confirmationPageGiveFeedbackRadioThree[data.lang] },
                { value: 'confirmationPageGiveFeedbackRadioFour', text: data.translations.confirmationPageGiveFeedbackRadioFour[data.lang] },
                { value: 'confirmationPageGiveFeedbackRadioFive', text: data.translations.confirmationPageGiveFeedbackRadioFive[data.lang] }
                ]
            }) }}

            {{ govukTextarea({
                name: 'feedback-text', id: 'feedback-text', value: data['feedback-text'],
                label: {
                text: data.translations.confirmationPageGiveFeedbackQuestionTwo[data.lang],
                classes: 'govuk-heading-s govuk-!-font-weight-bold'
                },
                hint: { text: data.translations.confirmationPageGiveFeedbackQuestionTwoHint[data.lang] }
            }) }}

            
            <div class="govuk-button-group">

                {{ govukButton({
                    text: data.translations.confirmationPageCTAprimary[data.lang]
                }) }}

                {{ govukButton({
                    text: data.translations.confirmationPageCTAsecondary[data.lang],
                    href: 'dashboard',
                    classes: 'govuk-button--secondary'
                }) }}

            </div>


            {% else %}

                <h2 class="govuk-heading-m">Give feedback</h2>
                <p class="govuk-body"><a href="{{ '' | getFeedbackLink }}">Tell us what you think about the Complete an MCCD service</a> (takes about 5 minutes)</p>

                {{ govukButton({
                    text: data.translations.confirmationPageCTAsecondary[data.lang],
                    href: 'dashboard',
                    classes: 'govuk-!-margin-top-4'
                }) }}
            

            {% endif %}

        </form>

    </div>
</div>
</main>
{{ data | debugData | safe }}

{% endblock %}