{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block content %}

{{ '' | setDashboardVariables( data['role-type'], settings, data.lang ) }}

 <!-- AP DASHBOARD -->
 <main class="govuk-main-wrapper app-main-class" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% if data['role-type'] == 'ap' %}

  <h1 class="govuk-heading-l">Your dashboard</h1>

  <p>This dashboard allows you to create a new Medical certificate of cause of death (MCCD) and manage current MCCDs.</p>
  <p>This dashboard will list MCCDs that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>you have submitted to a medical examiner for approval</li>
    <li>have been approved by a medical examiner</li>
    <li>have been rejected by a medical examiner and need amending</li>
  </ul>

  <p>Completed MCCDs will be removed after three months.</p>

{% elseif data['role-type'] == 'me' %}

  <!-- ME DASHBOARD -->
  <h1 class="govuk-heading-l">Your dashboard</h1>

  <p>This dashboard gives you access to the Medical certificates of cause of death (MCCDs) assigned to you for review and approval.</p>
  <p>An MCCD can only be approved when scrutiny of the proposed cause of death is complete.</p>

{% else %}

  <!-- MEO DASHBOARD -->
  <h1 class="govuk-heading-l">Office dashboard</h1>
  <p>This dashboard gives you access to the Medical certificates of cause of death (MCCDs) currently being completed in your trust. You can view the progress of MCCDs and download signed-off MCCDs to send to the registrar.</p>

{% endif %}

  {{ govukInsetText({
    text: 'You will be logged out of the system after ' + data[settings].timeout + ' minutes of inactivity.'
  }) }}

  {% if data[settings].showExplanationOfStatuses === 'true' %}

        <!-- DRAW STATUS EXPLANATIONS -->
        {{ govukDetails({
            summaryText: 'Explanation of statuses',
            html: govukTable({
              rows: '' | getStatusExplanationRows
            })
        }) }}
        
  {% endif %}

   

  </div>

  {% if data['role-type'] == 'ap' or data['role-type'] == 'me' %}

    <!-- CREATE MCCD BUTTON -->
    <div class="govuk-grid-column-one-third">

      {% if data['role-type'] == 'ap' %}

        {{ govukButton({
              text: 'Create a new MCCD',
              href: '66-or-65',
              classes: 'create-mccd'
        }) }}

      {% elseif data['role-type'] == 'me' %}

        {{ govukButton({
              text: 'Create a new ME MCCD',
              href: '66-or-65?me-mccd=true',
              classes: 'create-mccd'
        }) }}

      {% endif %}

    </div>
  {% endif %}

 </div>



{% if data[settings].useSearch == 'true' or data[settings].useFilters == 'true' %}

<style>

  .input-button-group {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .input-button-group > .govuk-button {
    margin: 0 0 0 10px;
  }

</style>

<!-- SEARCH ROW -->
<div class="govuk-grid-row">


{% if data[settings].useSearch == 'true' %}

  <!-- SEARCH FORM -->
  <div class="govuk-grid-column-two-thirds">
    
    <form class="govuk-!-margin-top-5" action="dashboard?currentPage=0" method="post" novalidate>
      
      <div class="govuk-form-group">

        <label class="govuk-label govuk-label--m" for="searchTerm">
          Search for a certificate
        </label>
  
        <div id="search-hint" class="govuk-hint">
          You can search by name or NHS number
        </div>
  
        <div class="input-button-group">
          <input class="govuk-input" id="searchTerm" name="searchTerm" type="search" value="{{ data.searchTerm }}" aria-describedby="search-hint">
          <button type="submit" class="govuk-button" data-module="govuk-button">Search</button>
        </div>

        {% if data.searchTerm %}
          <p class="govuk-body govuk-!-margin-top-3"><a class="govuk-link" href="?searchTerm=&currentPage=0">Clear search</a></p>
        {% endif %}
  
      </div>
  
    </form>

  </div>
  {% endif %}


  {% if data[settings].useFilters == 'true' %}
  <div class="govuk-grid-column-one-third">
    <form class="govuk-!-margin-top-5" action="dashboard?currentPage=0" method="post" novalidate>

      <div class="govuk-form-group">
        
        <label class="govuk-label govuk-label--m" for="statusFilter">
          Filter by status
        </label>
  
        <div id="filter-hint" class="govuk-hint">
          Show results with a chosen status
        </div>
  
        <div class="input-button-group">
          
          <select class="govuk-select" id="statusFilter" name="statusFilter">
            {{ data.statusFilter | getStatusFilterOptions | safe }}
          </select>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Filter</button>

        </div>

        {% if data.statusFilter %}
          <p class="govuk-body govuk-!-margin-top-3"><a class="govuk-link" href="?statusFilter=&currentPage=0">Clear filter</a></p>
        {% endif %}
        
  
      </div>
  
    </form>
  </div>
  {% endif %}


</div>
{% endif %}

<style>

    @media ( max-width: 600px ) {

      .govuk-table__row {
        display: flex;
        flex-wrap: wrap;
      }

      .govuk-table__row .govuk-table__header,
      .govuk-table__row .govuk-table__cell {
        border-bottom: none;
        display: block;
        width: calc( 30% - 20px );
      }

      .govuk-table__row .govuk-table__header:first-child,
      .govuk-table__row .govuk-table__cell:first-child {
        width: calc( 40% - 20px );
      }

      .govuk-table__row .govuk-table__header:last-child {
        width: 100%;
        border-top: 1px solid #b1b4b6;
        border-bottom: 1px solid #b1b4b6;
      }

      
      .govuk-table__row .govuk-table__cell:last-child {
        width: 100%;
        padding-top: 0;
        border-bottom: 1px solid #b1b4b6;
      }

      .govuk-table__cell .govuk-tag {
        width: auto;
        text-align: center;
        margin: 0;
        white-space: nowrap;
        display: block;
        max-width: none;
      }


      /* compromise */

      .govuk-table__head .govuk-table__row .govuk-table__header {
        border-bottom: 1px solid #b1b4b6;
      }

      .govuk-table__row .govuk-table__header:nth-last-child(2) {
        position:absolute !important;width:1px !important;height:1px !important;margin:0 !important;padding:0 !important;overflow:hidden !important;clip:rect(0 0 0 0) !important;-webkit-clip-path:inset(50%) !important;clip-path:inset(50%) !important;border:0 !important;white-space:nowrap !important;-webkit-user-select:none;-ms-user-select:none;user-select:none
      }

      .govuk-table__row .govuk-table__header:last-child {
        width: calc( 30% - 20px );
        padding-top: 10px;
        border-top: none;
      }


    }

</style>


<!-- TABLE ROW -->
<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">

        {% import 'V10-1/data-patients.html' as patientData %}

        <style>

          .table-dashboard th,
          .table-dashboard td{
            width: 25%;
          }

        </style>

        {% if data['role-type'] === 'ap' or data['role-type'] === 'me' %}

          {% set draftRows = patientData.data | getDashboardTableDraftRows(data['role-type']) %}

          {% if draftRows.length > 0 and data[settings].useSeparateDraftsTable === 'true' %}

          <!-- DRAFTS TABLE -->
          {{ govukTable({
            caption: 'Your drafts',
            classes: 'table-dashboard govuk-table--small-text-until-tablet',
            captionClasses: 'govuk-table__caption--m govuk-!-margin-top-5',
            firstCellIsHeader: true,
            head: '' | getDashboardTableHead( data.sortBy, data.sortDirection, true ),
            rows: draftRows
          }) }}
          
          {% endif %}

        {% endif %}

        <!-- MAIN TABLE -->
        {{ govukTable({
          caption: '' | getDashboardCaption,
          classes: 'table-dashboard',
          captionClasses: 'govuk-table__caption--m govuk-!-margin-top-5',
          firstCellIsHeader: true,
          head: '' | getDashboardTableHead( data.sortBy, data.sortDirection ),
          rows: patientData.data | getDashboardTableRows()
        }) }}

    </div>

    <div class="govuk-grid-column-full">
      {{ govukPagination( '' | getDashboardPaginationLinks ) }}
    </div>

</div>
</main>

{{ data | debugData | safe }}


{% endblock %}