{% set data = [
    {
        "id": "CNA5724BTQ-24",
        "name": "Aaliyah Farah Abbas",
        "nhsNo": "805 422 3165",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 0,
        "lastNameFirst": "Abbas, Aaliyah Farah",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "95 years old",
        "causeOfDeath": {
            "1a": "Carcinomatosis",
            "1b": "Bronchogenic carcinoma upper lobe left lung",
            "1c": "Smoked 30 cigarettes a day",
            "1d": "",
            "1e": "Chronic bronchitis and ischaemic heart disease"
        }
    },
    {
        "id": "O4AEBKYFE-24",
        "name": "Adrian Dickson",
        "nhsNo": "346 626 9701",
        "placeOfDeath": "Community<br>ME cert",
        "dateOfDeath": "6 June 2024",
        "status": 3,
        "lastNameFirst": "Dickson, Adrian",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "87 years old",
        "causeOfDeath": {
            "1a": "Hepatic failure",
            "1b": "Liver cirrhosis",
            "1c": "Chronic hepatitis C infection and alcoholism",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "LWKZNMP47I-24",
        "name": "Amelia Brown",
        "nhsNo": "136 547 435",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 1,
        "lastNameFirst": "Brown, Amelia",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "11 years old",
        "causeOfDeath": {
            "1a": "Neutropenic sepsis",
            "1b": "Acute myeloid leukaemia",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "EGGCWXHJR-24",
        "name": "Andrea Bartlett",
        "nhsNo": "513 223 314",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 1,
        "lastNameFirst": "Bartlett, Andrea",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "69 years old",
        "causeOfDeath": {
            "1a": "Bilateral pneumothoraces",
            "1b": "Multiple bronchopulmonary fistulae",
            "1c": "Extensive, cavitating pulmonary tuberculosis (smear and culture positive)",
            "1d": "",
            "1e": "Iron deficiency anaemia; ventilator associated pseudomonas pneumonia"
        }
    },
    {
        "id": "YGEWNU334-24",
        "name": "Andrea Bishop",
        "nhsNo": "848 967 3363",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 2,
        "lastNameFirst": "Bishop, Andrea",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "38 years old",
        "causeOfDeath": {
            "1a": "Bronchopneumonia (hospital acquired meticillin resistant Staph aureus)",
            "1b": "Multiple myeloma",
            "1c": "",
            "1d": "",
            "1e": "Chronic obstructive airways disease"
        }
    },
    {
        "id": "FQEIYWFXP-24",
        "name": "Angel Hewitt",
        "nhsNo": "257 173 5715",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 3,
        "lastNameFirst": "Hewitt, Angel",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "58 years old",
        "causeOfDeath": {
            "1a": "Intraperitoneal haemorrhage",
            "1b": "Metastases in liver",
            "1c": "From primary adenocarcinoma of ascending colon",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus"
        }
    },
    {
        "id": "JATFAFY5G-24",
        "name": "Armaan Chang",
        "nhsNo": "948 891 0502",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 5,
        "lastNameFirst": "Chang, Armaan",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "50 years old",
        "causeOfDeath": {
            "1a": "Intraperitoneal haemorrhage",
            "1b": "Metastases in liver",
            "1c": "From primary adenocarcinoma of ascending colon",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus"
        }
    },
    {
        "id": "IPUVZBDTJV-24",
        "name": "Brogan Hali Bowers",
        "nhsNo": "870 489 8632",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 4,
        "lastNameFirst": "Bowers, Brogan Hali",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "49 years old",
        "causeOfDeath": {
            "1a": "Intraperitoneal haemorrhage",
            "1b": "Metastases in liver",
            "1c": "From primary adenocarcinoma of ascending colon",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus"
        }
    },
    {
        "id": "6CCAUDDBJZ-24",
        "name": "Caleb Greenaway",
        "nhsNo": "300 480 0732",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 4,
        "lastNameFirst": "Greenaway, Caleb",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": true,
        "age": "27 days old",
        "causeOfDeath": {
            "1a": "Pulmonary hypoplasia",
            "1b": "Diaphragmatic hernia",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "QIS7XR6ZR-24",
        "name": "Charley Angeli Frost",
        "nhsNo": "717 293 9356",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 4,
        "lastNameFirst": "Frost, Charley Angeli",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "23 years old",
        "causeOfDeath": {
            "1a": "Clostridium difficile pseudomembranous colitis",
            "1b": "Multiple antibiotic therapy",
            "1c": "Community acquired pneumonia with severe sepsis",
            "1d": "",
            "1e": "Immobility, polymyalgia rheumatica, osteoporosis"
        }
    },
    {
        "id": "YOOBQTVHR2-24",
        "name": "Charlie Endo Tran",
        "nhsNo": "171 924 8583",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 1,
        "lastNameFirst": "Tran, Charlie Endo",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "67 years old",
        "causeOfDeath": {
            "1a": "Haemorrhagic gastritis",
            "1b": "Chronic lymphocytic leukaemia",
            "1c": "",
            "1d": "",
            "1e": "Myocardial ischaemia, valvular heart disease"
        }
    },
    {
        "id": "Y6D2TNOLGM-24",
        "name": "Cian Yates",
        "nhsNo": "506 934 1527",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 3,
        "lastNameFirst": "Yates, Cian",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "21 years old",
        "causeOfDeath": {
            "1a": "Renal failure",
            "1b": "Necrotising-proliferative nephropathy",
            "1c": "Systemic lupus erythematosus",
            "1d": "",
            "1e": "Raynaud’s phenomenon and vasculitis"
        }
    },
    {
        "id": "7R5JMFL5O-24",
        "name": "Darcey Rowe",
        "nhsNo": "585 732 2174",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 0,
        "lastNameFirst": "Rowe, Darcey",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "85 years old",
        "causeOfDeath": {
            "1a": "Bilateral pneumothoraces",
            "1b": "Multiple bronchopulmonary fistulae",
            "1c": "Extensive, cavitating pulmonary tuberculosis (smear and culture positive)",
            "1d": "",
            "1e": "Iron deficiency anaemia; ventilator associated pseudomonas pneumonia"
        }
    },
    {
        "id": "FX3AHPWQX-24",
        "name": "Devon Barlow",
        "nhsNo": "234 024 7268",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 5,
        "lastNameFirst": "Barlow, Devon",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "77 years old",
        "causeOfDeath": {
            "1a": "Intraperitoneal haemorrhage",
            "1b": "Metastases in liver",
            "1c": "From primary adenocarcinoma of ascending colon",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus"
        }
    },
    {
        "id": "VTKML5HPS5-24",
        "name": "Dillan Jhorrad Khan",
        "nhsNo": "818 478 2107",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 4,
        "lastNameFirst": "Khan, Dillan Jhorrad",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "22 years old",
        "causeOfDeath": {
            "1a": "Carcinomatosis",
            "1b": "Small cell carcinoma of left main bronchus",
            "1c": "Heavy smoker",
            "1d": "",
            "1e": "Hypertension, cerebral arteriosclerosis, ischaemic heart disease"
        }
    },
    {
        "id": "4AKLUJP7L-24",
        "name": "Dillon Norman",
        "nhsNo": "409 356 8605",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 1,
        "lastNameFirst": "Norman, Dillon",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "44 years old",
        "causeOfDeath": {
            "1a": "Liver failure",
            "1b": "Hepatocellular carcinoma",
            "1c": "Chronic Hepatitis B infection",
            "1d": "",
            "1e": "Congestive cardiac failure"
        }
    },
    {
        "id": "7577ZK4SB-24",
        "name": "Ebony Austin",
        "nhsNo": "213 754 8873",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 1,
        "lastNameFirst": "Austin, Ebony",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "80 years old",
        "causeOfDeath": {
            "1a": "Haemorrhagic gastritis",
            "1b": "Chronic lymphocytic leukaemia",
            "1c": "",
            "1d": "",
            "1e": "Myocardial ischaemia, valvular heart disease"
        }
    },
    {
        "id": "XAR5B76SL2-24",
        "name": "Elena Domenica Hunt",
        "nhsNo": "618 164 9302",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 0,
        "lastNameFirst": "Hunt, Elena Domenica",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": true,
        "age": "1 days old",
        "causeOfDeath": {
            "1a": "Birth asphyxia",
            "1b": "",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "YYOCI6R3K-24",
        "name": "Erik Hendin",
        "nhsNo": "118 192 6597",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 5,
        "lastNameFirst": "Hendin, Erik",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "52 years old",
        "causeOfDeath": {
            "1a": "End-stage renal failure",
            "1b": "Diabetic nephropathy",
            "1c": "Insulin dependent diabetes mellitus",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "RKX3XYVAK-24",
        "name": "Erin Potts",
        "nhsNo": "915 066 9597",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 1,
        "lastNameFirst": "Potts, Erin",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "49 years old",
        "causeOfDeath": {
            "1a": "Intraperitoneal haemorrhage",
            "1b": "Metastases in liver",
            "1c": "From primary adenocarcinoma of ascending colon",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus"
        }
    },
    {
        "id": "HSVPLKSP4-24",
        "name": "Faith Wiggins",
        "nhsNo": "750 606 7482",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 2,
        "lastNameFirst": "Wiggins, Faith",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "98 years old",
        "causeOfDeath": {
            "1a": "Haemorrhagic gastritis",
            "1b": "Chronic lymphocytic leukaemia",
            "1c": "",
            "1d": "",
            "1e": "Myocardial ischaemia, valvular heart disease"
        }
    },
    {
        "id": "LX67I53P7-24",
        "name": "Felix Ashley Ware",
        "nhsNo": "504 165 6644",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 5,
        "lastNameFirst": "Ware, Felix Ashley",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "54 years old",
        "causeOfDeath": {
            "1a": "Multiple organ failure",
            "1b": "Poorly differentiated metastases throughout abdominal cavity",
            "1c": "Unknown primary site",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "Y7VFRLPXXY-24",
        "name": "Harris Bowman",
        "nhsNo": "603 637 6027",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 1,
        "lastNameFirst": "Bowman, Harris",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "93 years old",
        "causeOfDeath": {
            "1a": "Multiple organ failure",
            "1b": "Poorly differentiated metastases throughout abdominal cavity",
            "1c": "Unknown primary site",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "VT6BH7UUWX-24",
        "name": "Idris Felba",
        "nhsNo": "545 520 9332",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 5,
        "lastNameFirst": "Felba, Idris",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "18 years old",
        "causeOfDeath": {
            "1a": "End-stage renal failure",
            "1b": "Diabetic nephropathy",
            "1c": "Insulin dependent diabetes mellitus",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "UFR4EESNAZ-24",
        "name": "Jenna Kirk",
        "nhsNo": "516 234 2411",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 3,
        "lastNameFirst": "Kirk, Jenna",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "5 years old",
        "causeOfDeath": {
            "1a": "End-stage renal failure",
            "1b": "Diabetic nephropathy",
            "1c": "Insulin dependent diabetes mellitus",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "WPS3TSC2H-24",
        "name": "Jerry Sherman",
        "nhsNo": "470 467 8096",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 1,
        "lastNameFirst": "Sherman, Jerry",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "33 years old",
        "causeOfDeath": {
            "1a": "Haemorrhagic gastritis",
            "1b": "Chronic lymphocytic leukaemia",
            "1c": "",
            "1d": "",
            "1e": "Myocardial ischaemia, valvular heart disease"
        }
    },
    {
        "id": "CX4F4ZKMJ-24",
        "name": "Jordan Carrillo",
        "nhsNo": "694 123 4327",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 3,
        "lastNameFirst": "Carrillo, Jordan",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "67 years old",
        "causeOfDeath": {
            "1a": "End-stage renal failure",
            "1b": "Diabetic nephropathy",
            "1c": "Insulin dependent diabetes mellitus",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "AYDEATDMMQ-24",
        "name": "Joseph William Doyle",
        "nhsNo": "607 193 5550",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 2,
        "lastNameFirst": "Doyle, Joseph William",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "92 years old",
        "causeOfDeath": {
            "1a": "Bronchopneumonia",
            "1b": "Immobility and wasting",
            "1c": "Alzheimer’s disease",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "LBYOTJKQCS-24",
        "name": "Jude Perry",
        "nhsNo": "363 077 8677",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 4,
        "lastNameFirst": "Perry, Jude",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": true,
        "age": "18 days old",
        "causeOfDeath": {
            "1a": "Sepsis",
            "1b": "Bacterial infection",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "NSZIBLPIPP-24",
        "name": "Julia Graham",
        "nhsNo": "741 971 2239",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 2,
        "lastNameFirst": "Graham, Julia",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "20 years old",
        "causeOfDeath": {
            "1a": "Multiple organ failure",
            "1b": "Poorly differentiated metastases throughout abdominal cavity",
            "1c": "Unknown primary site",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "SFRTOMZXT-24",
        "name": "Kaya Hoffman",
        "nhsNo": "848 303 1213",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 4,
        "lastNameFirst": "Hoffman, Kaya",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "62 years old",
        "causeOfDeath": {
            "1a": "Pathological fractures of femoral neck and thoracic vertebrae",
            "1b": "Severe osteoporosis",
            "1c": "Old age",
            "1d": "",
            "1e": "Fibrosing alveolitis"
        }
    },
    {
        "id": "N7TF7Z4V6R-24",
        "name": "Kia Ravi",
        "nhsNo": "583 143 720",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 3,
        "lastNameFirst": "Ravi, Kia",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": true,
        "age": "7 days old",
        "causeOfDeath": {
            "1a": "Intracranial hemorrhage",
            "1b": "Prematurity",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "XSBXCIDB2A-24",
        "name": "Kristen Chandler",
        "nhsNo": "412 278 9333",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 5,
        "lastNameFirst": "Chandler, Kristen",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "21 years old",
        "causeOfDeath": {
            "1a": "Bilateral pneumothoraces",
            "1b": "Multiple bronchopulmonary fistulae",
            "1c": "Extensive, cavitating pulmonary tuberculosis (smear and culture positive)",
            "1d": "",
            "1e": "Iron deficiency anaemia; ventilator associated pseudomonas pneumonia"
        }
    },
    {
        "id": "JNOUNT6TUQ-24",
        "name": "Kyan Mcguire",
        "nhsNo": "514 192 2146",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 4,
        "lastNameFirst": "Mcguire, Kyan",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "8 years old",
        "causeOfDeath": {
            "1a": "Bronchopneumonia (hospital acquired meticillin resistant Staph aureus)",
            "1b": "Multiple myeloma",
            "1c": "",
            "1d": "",
            "1e": "Chronic obstructive airways disease"
        }
    },
    {
        "id": "LAOA2AX3BB-24",
        "name": "Lachlan Rosario",
        "nhsNo": "252 544 5463",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 4,
        "lastNameFirst": "Rosario, Lachlan",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "84 years old",
        "causeOfDeath": {
            "1a": "Intraperitoneal haemorrhage",
            "1b": "Metastases in liver",
            "1c": "From primary adenocarcinoma of ascending colon",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus"
        }
    },
    {
        "id": "4Q73UXZGVQ-24",
        "name": "Laurie Boyd",
        "nhsNo": "266 874 2740",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 5,
        "lastNameFirst": "Boyd, Laurie",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "81 years old",
        "causeOfDeath": {
            "1a": "Post-transplant lymphoma",
            "1b": "Immunosuppression following renal transplant",
            "1c": "Glomerulonephrosis due to insulin dependent diabetes mellitus",
            "1d": "",
            "1e": "Recurrent urinary tract infections"
        }
    },
    {
        "id": "WNEQHJ2ROH-24",
        "name": "Lea Donna Durham",
        "nhsNo": "796 644 9894",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 2,
        "lastNameFirst": "Durham, Lea Donna",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "5 years old",
        "causeOfDeath": {
            "1a": "Intraventricular haemorrhage",
            "1b": "Warfarin anticoagulation",
            "1c": "Atrial fibrillation",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "W7ZXRPUE3-24",
        "name": "Louie O'Quinn",
        "nhsNo": "290 659 4228",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 4,
        "lastNameFirst": "O'Quinn, Louie",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "73 years old",
        "causeOfDeath": {
            "1a": "Old age",
            "1b": "",
            "1c": "",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus, essential hypertension and diverticular disease"
        }
    },
    {
        "id": "EODZFAY7R-24",
        "name": "Mackenzie Howard",
        "nhsNo": "723 533 4049",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 3,
        "lastNameFirst": "Howard, Mackenzie",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": true,
        "age": "12 days old",
        "causeOfDeath": {
            "1a": "Maple syrup urine disease",
            "1b": "",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "KI2DNO6A4G-24",
        "name": "Maddison Juarez",
        "nhsNo": "400 629 1251",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 2,
        "lastNameFirst": "Juarez, Maddison",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "56 years old",
        "causeOfDeath": {
            "1a": "Pathological fractures of left shoulder, spine and shaft of right femur",
            "1b": "Widespread skeletal secondaries",
            "1c": "Primary adenocarcinoma of breast",
            "1d": "",
            "1e": "Hypercalcaemia"
        }
    },
    {
        "id": "KKY6UKO34U-24",
        "name": "Mae Alexander",
        "nhsNo": "779 223 6877",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 0,
        "lastNameFirst": "Alexander, Mae",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "59 years old",
        "causeOfDeath": {
            "1a": "Pathological fractures of left shoulder, spine and shaft of right femur",
            "1b": "Widespread skeletal secondaries",
            "1c": "Primary adenocarcinoma of breast",
            "1d": "",
            "1e": "Hypercalcaemia"
        }
    },
    {
        "id": "6VL3QFKSM-24",
        "name": "Malik Sloan",
        "nhsNo": "773 932 3841",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 4,
        "lastNameFirst": "Sloan, Malik",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "34 years old",
        "causeOfDeath": {
            "1a": "Bilateral pneumothoraces",
            "1b": "Multiple bronchopulmonary fistulae",
            "1c": "Extensive, cavitating pulmonary tuberculosis (smear and culture positive)",
            "1d": "",
            "1e": "Iron deficiency anaemia; ventilator associated pseudomonas pneumonia"
        }
    },
    {
        "id": "N2AV5CV2P-24",
        "name": "Marissa Guerrero",
        "nhsNo": "439 316 1505",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 4,
        "lastNameFirst": "Guerrero, Marissa",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "89 years old",
        "causeOfDeath": {
            "1a": "Intraventricular haemorrhage",
            "1b": "Warfarin anticoagulation",
            "1c": "Atrial fibrillation",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "UCAADJWWO-24",
        "name": "Marley Myers",
        "nhsNo": "106 390 1355",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 2,
        "lastNameFirst": "Myers, Marley",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": true,
        "age": "17 days old",
        "causeOfDeath": {
            "1a": "Sudden Infant Death Syndrome (SIDS)",
            "1b": "",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "VCJZEBWDD-24",
        "name": "Mika Low",
        "nhsNo": "391 535 3564",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 1,
        "lastNameFirst": "Low, Mika",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "25 years old",
        "causeOfDeath": {
            "1a": "Bronchopneumonia (hospital acquired meticillin resistant Staph aureus)",
            "1b": "Multiple myeloma",
            "1c": "",
            "1d": "",
            "1e": "Chronic obstructive airways disease"
        }
    },
    {
        "id": "NAAG2HII5-24",
        "name": "Milo Brett",
        "nhsNo": "230 239 9727",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 1,
        "lastNameFirst": "Brett, Milo",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "91 years old",
        "causeOfDeath": {
            "1a": "Carcinomatosis",
            "1b": "Bronchogenic carcinoma upper lobe left lung",
            "1c": "Smoked 30 cigarettes a day",
            "1d": "",
            "1e": "Chronic bronchitis and ischaemic heart disease"
        }
    },
    {
        "id": "IMERSIK5J6-24",
        "name": "Mina Wu",
        "nhsNo": "391 272 3462",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 1,
        "lastNameFirst": "Wu, Mina",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": true,
        "age": "10 days old",
        "causeOfDeath": {
            "1a": "Sepsis",
            "1b": "Bacterial infection",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "NZTPL4UEDK-24",
        "name": "Minato Semaj",
        "nhsNo": "430 730 5269",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 4,
        "lastNameFirst": "Semaj, Minato",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "47 years old",
        "causeOfDeath": {
            "1a": "Septicaemia - fully sensitive staphylococcus aureus",
            "1b": "Gangrene of both feet due to peripheral vascular disease",
            "1c": "Non-insulin-dependent diabetes mellitus",
            "1d": "",
            "1e": "Ischaemic heart disease"
        }
    },
    {
        "id": "FP5VEZHZG-24",
        "name": "Molly Knowles",
        "nhsNo": "879 895 2845",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 2,
        "lastNameFirst": "Knowles, Molly",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "76 years old",
        "causeOfDeath": {
            "1a": "End-stage renal failure",
            "1b": "Diabetic nephropathy",
            "1c": "Insulin dependent diabetes mellitus",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "CSSDXNPLKO-24",
        "name": "Myra Jari Adkins",
        "nhsNo": "914 178 671",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 3,
        "lastNameFirst": "Adkins, Myra Jari",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "73 years old",
        "causeOfDeath": {
            "1a": "Haemorrhagic gastritis",
            "1b": "Chronic lymphocytic leukaemia",
            "1c": "",
            "1d": "",
            "1e": "Myocardial ischaemia, valvular heart disease"
        }
    },
    {
        "id": "PLSIBAOEW-24",
        "name": "Nana Bullock",
        "nhsNo": "664 655 7118",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 0,
        "lastNameFirst": "Bullock, Nana",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "84 years old",
        "causeOfDeath": {
            "1a": "Bilateral pneumothoraces",
            "1b": "Multiple bronchopulmonary fistulae",
            "1c": "Extensive, cavitating pulmonary tuberculosis (smear and culture positive)",
            "1d": "",
            "1e": "Iron deficiency anaemia; ventilator associated pseudomonas pneumonia"
        }
    },
    {
        "id": "EG3EVHFZF-24",
        "name": "Pearl Small",
        "nhsNo": "959 389 700",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 2,
        "lastNameFirst": "Small, Pearl",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "95 years old",
        "causeOfDeath": {
            "1a": "Lung metastases",
            "1b": "From testicular teratoma",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "6VQTMGD7WH-24",
        "name": "Riley James",
        "nhsNo": "579 353 8562",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 3,
        "lastNameFirst": "James, Riley",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "41 years old",
        "causeOfDeath": {
            "1a": "Pulmonary embolism",
            "1b": "Fractured neck of femur",
            "1c": "Tripped on loose floor rug at home",
            "1d": "",
            "1e": "Left sided weakness and difficulty with balance since haemorrhagic stroke; hemiarthroplasty"
        }
    },
    {
        "id": "K7GINTVY6P-24",
        "name": "Rory Vaughn",
        "nhsNo": "264 940 7202",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 1,
        "lastNameFirst": "Vaughn, Rory",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": true,
        "age": "15 days old",
        "causeOfDeath": {
            "1a": "Intracranial hemorrhage",
            "1b": "Prematurity",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "KXPAH63UI-24",
        "name": "Sasha Castro",
        "nhsNo": "888 066 2089",
        "placeOfDeath": "Community",
        "dateOfDeath": "8 June 2024",
        "status": 5,
        "lastNameFirst": "Castro, Sasha",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "44 years old",
        "causeOfDeath": {
            "1a": "Lung metastases",
            "1b": "From testicular teratoma",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "6PTNNJZB57-24",
        "name": "Shannon Ferrell",
        "nhsNo": "580 918 6613",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 3,
        "lastNameFirst": "Ferrell, Shannon",
        "belongsToAP": false,
        "belongsToME": true,
        "isNeoNatal": false,
        "age": "51 years old",
        "causeOfDeath": {
            "1a": "Old age",
            "1b": "",
            "1c": "",
            "1d": "",
            "1e": "Non-insulin dependent diabetes mellitus, essential hypertension and diverticular disease"
        }
    },
    {
        "id": "OLRJFM23T-24",
        "name": "Sienna Mcdonald",
        "nhsNo": "700 486 9010",
        "placeOfDeath": "Community",
        "dateOfDeath": "6 June 2024",
        "status": 2,
        "lastNameFirst": "Mcdonald, Sienna",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "52 years old",
        "causeOfDeath": {
            "1a": "Subarachnoid haemorrhage",
            "1b": "Ruptured aneurysm of anterior communicating artery",
            "1c": "",
            "1d": "",
            "1e": ""
        }
    },
    {
        "id": "XYYXSMVYFX-24",
        "name": "Taylor Marshall",
        "nhsNo": "148 847 0566",
        "placeOfDeath": "Community",
        "dateOfDeath": "7 June 2024",
        "status": 3,
        "lastNameFirst": "Marshall, Taylor",
        "belongsToAP": false,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "53 years old",
        "causeOfDeath": {
            "1a": "Clostridium difficile pseudomembranous colitis",
            "1b": "Multiple antibiotic therapy",
            "1c": "Community acquired pneumonia with severe sepsis",
            "1d": "",
            "1e": "Immobility, polymyalgia rheumatica, osteoporosis"
        }
    },
    {
        "id": "FHOK6L5EQ7-24",
        "name": "Verity Duncann",
        "nhsNo": "924 043 2404",
        "placeOfDeath": "Community",
        "dateOfDeath": "9 June 2024",
        "status": 5,
        "lastNameFirst": "Duncann, Verity",
        "belongsToAP": true,
        "belongsToME": false,
        "isNeoNatal": false,
        "age": "84 years old",
        "causeOfDeath": {
            "1a": "Bronchopneumonia (hospital acquired meticillin resistant Staph aureus)",
            "1b": "Multiple myeloma",
            "1c": "",
            "1d": "",
            "1e": "Chronic obstructive airways disease"
        }
    }
] %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Patient data
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="patient-data">
          Patient data
        </label>
      </h1>
      <div id="patient-data-hint" class="govuk-hint">
        Information stored in the variable "data", passed to the <a href="dashboard">dashboard</a> page.
      </div>
      <textarea class="govuk-textarea" id="patient-data" name="moreDetail" rows="5" aria-describedby="patient-data-hint">{{ data | dump }}</textarea>
    </div>

  </div>

</div>


<script>



  document.addEventListener('DOMContentLoaded', function () {

    //
    // PLEASE NOTE:
    // This code take the data from above and modifies it, outputting the result into
    // the textarea shown when you view the page. It is used to tweak stuff (like the dates) 
    // for testing
    //
    // If you want to update the data, you can copy/pase from the textarea into the first line above 
    //

    const textArea = document.querySelector('#patient-data');
    const json = JSON.parse(textArea.innerHTML);

    const _generateNHSNumber = function () {

      const randomNumber = Math.floor(Math.random() * 10000000000);
      let numberString = randomNumber.toString();
      numberString = numberString.slice(0, 3) + ' ' + numberString.slice(3, 6) + ' ' + numberString.slice(6);

      return numberString;
    }

    function _generateReferenceNumber() {
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ234567';
      const suffix = '-24';

      // Randomly decide the length between 9 and 10
      const randomLength = Math.floor(Math.random()*2) + 9;

      let result = '';

      // Generate random characters based on the calculated length
      for (let i = 0; i < randomLength; i++) {
        const randomIndex = Math.floor(Math.random() * characters.length);
        result += characters[randomIndex];
      }

      // Append the suffix
      result += suffix;

      return result;
    }

    // Update the data
    
    json.forEach(function (row) {

      const currentDates = ['04 May 2024', '05 May 2024', '06 May 2024', '07 May 2024'];

      // Feel free to uncomment these if you want to regenerate stuff, like dates, statuses etc...

      //row.nhsNo = _generateNHSNumber();
      //row.status = Math.round(Math.random()*5); // Should generate a random number between 0-5
      
      /*
      row.isNeoNatal = ( Math.round(Math.random()*5) === 0 ) ? true : false;
      if( row.isNeoNatal ){
        // Neo-Natal
        row.age = (Math.round(Math.random()*27)+1) + ' days old';
      } else {
        row.age = (Math.round(Math.random()*100)+1) + ' years old';
      }
      
      

      row.dateOfDeath = currentDates[Math.round(Math.random()*(currentDates.length-1))];
      row.id = _generateReferenceNumber();

      let nameArr = ( row.name ) ? row.name.split(' ') : ['First','Last'];
      nameArr.unshift(nameArr.pop());

      row.lastNameFirst = nameArr[0];
      nameArr.shift();
      
*/
      //row.causeOfDeathExtras = '';

      //row.lastNameFirst += ', ' + nameArr.join(' ');

      //row.belongsToAP = ( Math.round(Math.random()*3) === 0 ) ? true : false;
      //row.belongsToME = ( row.belongsToAP === false && Math.round(Math.random()*2) === 0 ) ? true : false;

      delete row.statuses;
      delete row.actions;

    });

    textArea.innerHTML = JSON.stringify(json);
    
    
    
    

  });
</script>


{% endblock %}