{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      What was the deceased person's date of death?
    </h1>

    <form action="date-of-death" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="example-hint" role="group">

          {% if data['role-type'] == 'ap' %}
          <label class="govuk-label">This is the date as stated to me as the attending practitioner</label>
          <div class="govuk-hint" id="contact-hint">For example, 10 11 2023</div>
          
          {% else %}
          <label class="govuk-label">This is the date as stated to me as the medical examiner</label>
          <div class="govuk-hint" id="contact-hint">For example, 10 11 2023</div>
          {% endif %}

          <div class="govuk-date-input" id="example">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-day" name="dod-day" value="{{ data['dod-day'] }}" type="text" pattern="[0-9]*" inputmode="numeric" />
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-month" name="dod-month" value="{{ data['dod-month'] }}" type="text" pattern="[0-9]*" inputmode="numeric" />
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dod-year" name="dod-year" value="{{ data['dod-year'] }}" type="text" pattern="[0-9]*" inputmode="numeric" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>
</main>
{% endblock %}