{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      <!--<span class="govuk-caption-l govuk-caption--bottom">
        Actions after death
      </span> -->
      Has a post-mortem been held?
    </h1>
    
  
    <form action="death-circumstances" method="post" novalidate>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-circumstances-1" name="death-circumstances" type="radio" value="The certified cause of death takes account of information obtained from a post-mortem" {% if data['death-circumstances'] === 'The certified cause of death takes account of information obtained from a post-mortem' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="death-circumstances-1">
                The certified cause of death takes account of information obtained from a post-mortem
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-circumstances-2" name="death-circumstances" type="radio" value="Information from post-mortem may be available later" {% if data['death-circumstances'] === 'Information from post-mortem may be available later' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="death-circumstances-2">
                Information from post-mortem may be available later
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-circumstances-3" name="death-circumstances" type="radio" value="A post-mortem is not being held" {% if data['death-circumstances'] === 'A post-mortem is not being held' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="death-circumstances-3">
                A post-mortem is not being held
              </label>
            </div>

          {% if data['role-type'] == 'ap' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-circumstances-4" name="death-circumstances" type="radio" value="This death was reported to the coroner whose duty to investigate under s1 CJA2009 was not engaged" {% if data['death-circumstances'] === 'This death was reported to the coroner whose duty to investigate under s1 CJA2009 was not engaged' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="death-circumstances-4">
                This death was reported to the coroner whose duty to investigate under s1 CJA2009 was not engaged
              </label>
            </div>
            {% endif %}


          </div>
        </div>

      </fieldset>


      <button class="govuk-button" type="submit">
          Save and continue
        </button>
      </form>

  </div>
</div>
</main>
{% endblock %}