{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="death-hospital" method="post" novalidate>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              
              <h1 class="govuk-heading-l">
                Did the deceased person die in hospital?
              </h1>

            </legend>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">

                <input class="govuk-radios__input" id="death-hospital-yes" name="death-in-hospital" type="radio" value="yes" data-aria-controls="consultant-name">
                <label class="govuk-label govuk-radios__label" for="death-hospital-yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="death-hospital-no" name="death-in-hospital" type="radio" value="no">
                
                <label class="govuk-label govuk-radios__label" for="death-hospital-no">
                  No
                </label>

              </div>

            </div>
          </fieldset>
        </div>
        

      </fieldset>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>

{{ data | debugData | safe }}

</main>
{% endblock %}