{% extends "layouts/main.html" %}

{% block content %}

<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Thank you for submitting your feedback</h1>
    </div>

    <hr class="govuk-section-break govuk-section-break--m" />
    
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">Your feedback will be analysed to gain insight into how well our service is performing and identify opportunities for improvement.</p>
    <p>In some instances, if appropriate, you will be contacted with a response.</p>


    
    {{ govukButton({
                    text: data.translations.confirmationPageCTAsecondary[data.lang],
                    href: 'dashboard',
                    classes: 'govuk-button--secondary'
                }) }}

  </div>
</div>

{{ data | debugData | safe }}

</main>

{% endblock %}