{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l"><span class="govuk-caption-l govuk-caption--bottom">Your details</span>
      What is your GMC number?
    </h1>

    <form action="gmc-number" method="post" novalidate>

      <div class="govuk-form-group">
        <label class="govuk-label" for="gmc-number">
          Enter details
        </label>
        <input class="govuk-input" id="gmc-number" name="gmc-number" type="text">
      </div>

      <button class="govuk-button" type="submit">
        Continue
      </button>
    </form>

  </div>
</div>
</main>
{% endblock %}