{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">
      At which hospital did the death occur?
    </h1>

    <form action="death-location" class="form" method="post">

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1 <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)<span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="address-town" name="address-town" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="address-county" name="address-county" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>

        <p class="govuk-!-margin-bottom-6"><a href="hospital-postcode">Or find the address using hospital name or postcode</a></p>
      </fieldset>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}