{% extends "layouts/prototype-main_cy-en.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block content %}
<!-- <main class="govuk-main-wrapper app-main-class" id="main-content"> -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Medical certificate of cause of death (MCCD)</h1>
    <div class="mccd-output-details">
        <ul style="padding-left: 0;">
        <li class="mccd-output-details__header">Certificate type</li>
    {% if data['role-type'] == 'me' %}
        {% if data['over-under-28'] == 'yes' %}  
        <li class="mccd-output-details__data">65 ME</li>
        {% else %}
        <li class="mccd-output-details__data">66 ME</li>
        {% endif %}
    {% endif %}
    {% if data['role-type'] == 'ap' %}
        {% if data['over-under-28'] == 'yes' %}  
        <li class="mccd-output-details__data">65 AP</li>
        {% else %}
        <li class="mccd-output-details__data">66 AP</li>
        {% endif %}
    {% endif %}
        </ul>
    </div>
    <div class="mccd-output-details">
        <ul style="padding-left: 0;">
        <li class="mccd-output-details__header">Date of issue</li>  
        <li class="mccd-output-details__data">22 April 2024</li>
        </ul>
    </div>
</div>
<div class="govuk-grid-column-full">
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Deceased person's details<br>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Full name
            </dt>
            <dd class="govuk-summary-list__value">
                Olivia Diana Jones
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of death
            </dt>
            <dd class="govuk-summary-list__value">
                20 April 2024
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Place of death
                </dt>
                <dd class="govuk-summary-list__value">
                    Cardiff Royal Infirmary<br> Glossop Road <br> Cardiff<br> CF24 0SZ                
                </dd>
                </div>
            {% if data['over-under-28'] == 'yes' %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    19 April 2024
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Place of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    Cardiff Royal Infirmary
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Age
                </dt>
                <dd class="govuk-summary-list__value">
                    19 hours 45 minutes old
                </dd>
                </div>
            {% else %}
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
                5 January 2000
            </dd>
            </div>            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Age
            </dt>
            <dd class="govuk-summary-list__value">
                24 years old
            </dd>
            </div>
            {% endif %}
        </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Medical details
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                MCCD unique identifier
            </dt>
            <dd class="govuk-summary-list__value">
                AEPKWYOMX4-24
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Post-mortem held?
                </dt>
                <dd class="govuk-summary-list__value">
                    A post-mortem is not being held
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Additional information
                    </dt>
                    <dd class="govuk-summary-list__value">
        I may be in a position later to give, on application by the Registrar General, additional information as to the cause of death for the purpose of more precise statistical classification.
                    </dd>
                    </div>
        </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Cause of death
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            {% if data['over-under-28'] == 'yes' %}
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:35%">
                (a) Main diseases or condition in infant
            </dt>
            <dd class="govuk-summary-list__value">
                Meningitis
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:35%">
                (b) Other diseases or conditions in infant
            </dt>
            <dd class="govuk-summary-list__value">
                Pre-term birth
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:35%">
                (c) Main maternal diseases or conditions affecting infant
            </dt>
            <dd class="govuk-summary-list__value">
                Pre-eclampsia
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:35%">
                (d) Other maternal diseases or conditions affecting infant
            </dt>
            <dd class="govuk-summary-list__value">
                Endometriosis
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:35%">
                (e) Other relevant factors or circumstances (not diseases of infant or mother)
            </dt>
            <dd class="govuk-summary-list__value">
                
            </dd>
            </div>
            {% else %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                1(a) disease or condition directly leading to death
            </dt>
            <dd class="govuk-summary-list__value">
                Post-transplant lymphoma
            </dd>
            <dd class="govuk-summary-list__actions" style="text-align: left; width: 20%;">
                1 days until death
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    1(b) other disease or condition leading to 1(a)
                </dt>
                <dd class="govuk-summary-list__value">
                    Immuno-suppression following renal transplant 10 years ago
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: left; width:20%;">
                    10 years until death 
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    1(c) other disease or condition leading to 1(b)
                </dt>
                <dd class="govuk-summary-list__value">
                    Glomerulonephrosis due to insulin dependent diabetes mellitus
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: left; width:20%;">
                    12 years until death
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    1(d) other disease or condition leading to 1(c)
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: left; width:20%;">
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    2 Other significant conditions contributing to their death
                </dt>
                <dd class="govuk-summary-list__value">
                    Recurrent urinary tract infections
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: left; width:20%;">
                    4 years until death 
                </dd>
                </div>
            {% endif %}
        </dl>
        </div>
    </div>
    {% if data['role-type'] == 'me' %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Referral details
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Referring medical practitioner's full name
            </dt>
            <dd class="govuk-summary-list__value">
                Cerys Ann Ward
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Referring senior coroner's full name
            </dt>
            <dd class="govuk-summary-list__value">
                Aneet Patel
            </dd>
            </div>
        </dl>
        </div>
    </div>
    {% else %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Attending practitioner
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Attending practitioner full name
            </dt>
            <dd class="govuk-summary-list__value">
                Cerys Ann Ward
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Qualification
            </dt>
            <dd class="govuk-summary-list__value">
                MB ChB
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                GMC number
            </dt>
            <dd class="govuk-summary-list__value">
                9876543
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Declaration
                </dt>
                <dd class="govuk-summary-list__value">
                    I confirm that l attended the deceased before their death and that the cause of death is as stated in this certificate to the best of my knowledge and belief.
                </dd>
                </div>
        </dl>
        </div>
    </div>
    {% endif %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Medical examiner
        </h2>
        </div>
    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Medical examiner full name
        </dt>
        <dd class="govuk-summary-list__value">
            Edwin Thomas
        </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Qualification
            </dt>
            <dd class="govuk-summary-list__value">
                MB ChB
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                GMC number
            </dt>
            <dd class="govuk-summary-list__value">
                3456789
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Declaration
                </dt>
                <dd class="govuk-summary-list__value">
                    I am a duly appointed medical examiner and following scrutiny I confirm that the cause of death is as stated in this certificate to the best of my knowledge and belief.
                </dd>
                </div>
            {% if data['role-type'] == 'ap' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Authorisation date
            </dt>
            <dd class="govuk-summary-list__value">
                24 April 2024
            </dd>
            </div>
            {% else %}
            {% endif %}
        </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Other stats info
            <br>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
        {% if data['over-under-28'] == 'yes' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
                White - English, Welsh, Scottish, Northern Irish or British
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Implant in body
            </dt>
            <dd class="govuk-summary-list__value">
                Yes
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Implant details
            </dt>
            <dd class="govuk-summary-list__value">
                Pacemaker in chest
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Implant removed
            </dt>
            <dd class="govuk-summary-list__value">
                Yes
            </dd>
            </div>
            {% else %}
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Death due to or contributed to by employment
                <br>
            </dt>
            <dd class="govuk-summary-list__value">
                No
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
                White - English, Welsh, Scottish, Northern Irish or British
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Implant in body
            </dt>
            <dd class="govuk-summary-list__value">
                Yes
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Implant details
            </dt>
            <dd class="govuk-summary-list__value">
                Pacemaker in chest
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Implant removed
            </dt>
            <dd class="govuk-summary-list__value">
                Yes
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Pregnant within the year prior to death
            </dt>
            <dd class="govuk-summary-list__value">
                Pregnant 43 days to a year before death
            </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Death due to or contributed to by pregnancy
            </dt>
            <dd class="govuk-summary-list__value">
                No
            </dd>
            </div>
            {% endif %}
        </dl>
        </div>
    </div>
    
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Misc
          </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                NHS number
            </dt>
            <dd class="govuk-summary-list__value">
                123 456 7891
            </dd>
            </div>
          </dl> 
        </div>
      </div>
</div>
</div>
<!-- </main> -->


{{ data | debugData | safe }}

{% endblock %}



