{% extends "layouts/main.html" %}

{% block pageTitle %}{{ settings }} - {{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Medical Examiner Declaration</h1>

    <form action="me-declaration-scrutiny" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset aria-describedby="contact-hint" class="govuk-fieldset">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="me-declaration-scrutiny" name="me-declaration-scrutiny" type="checkbox" value="me-declaration-scrutiny"> <label class="govuk-label govuk-checkboxes__label" for="me-declaration-scrutiny">
                I am a duly appointed medical examiner and following scrutiny I confirm that the cause of death is as stated on the certificate.
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      

    </form>
    <a href="me-mccd-reviewed"><button class="govuk-button" type="submit">Complete MCCD</button></a>

  </div>
</div>

{% endblock %}