{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">327463</span>
        MCCD summary
    </h1>

    <p>Review the details provided by the attending practitioner.</p>

    <h2 class="govuk-heading-m">Deceased person's details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Over 28 days old at time of death?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Thomas Robertson
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of death
          </dt>
          <dd class="govuk-summary-list__value">
            28 August 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sex
          </dt>
          <dd class="govuk-summary-list__value">
            Male
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Seen befored death?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the death in a hospital?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location of death
            </dt>
            <dd class="govuk-summary-list__value">
              Epsom General Hospital
          </div>
      </dl>

      <h2 class="govuk-heading-m">Actions after death</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Post-mortem?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Seen after death by a doctor?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Cause of death</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            1(a) Disease or condition directly leading to death
          </dt>
          <dd class="govuk-summary-list__value">
            Heart attack
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time between onset and death
          </dt>
          <dd class="govuk-summary-list__value">
            1 day
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            1(b) Other disease or condition 
          </dt>
          <dd class="govuk-summary-list__value">
            Other heart condition
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time between onset and death
          </dt>
          <dd class="govuk-summary-list__value">
            5 years
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Affected by employment
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Attending practitioners information</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            James Cameron
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            GMC number
          </dt>
          <dd class="govuk-summary-list__value">
            12345678
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary qualification
          </dt>
          <dd class="govuk-summary-list__value">
            MB ChB 2010 University of Edinburgh
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work address
          </dt>
          <dd class="govuk-summary-list__value">
            123 Hospital Road, Wing 4,<br>
            Newcastle,<br>
            Tyne and Wear,<br>
            NE12 3AB
          </dd>
        </div>
      </dl>
      





  </div>
</div>

{% endblock %}