{% extends "layouts/main.html" %}

{% block pageTitle %}{{ settings }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      Where do you need to send the notice to informant?
    </h1>

    <div class="govuk-hint govuk-!-margin-bottom-7" id="hint">
      The informant will use the notice to informant to register the death. The person acting as the informant must be qualified and legally responsible.
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          People qualified and legally responsible to act as informants
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>These people are qualified to give information concerning a death under the Births and Deaths Registration
          Act 1953:</p>
        <h3 class="govuk-heading-m">Deaths in houses and public institutions</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>A relative of the deceased, present at the death.</li>
          <li>A relative of the deceased, in attendance during the last illness.</li>
          <li>A relative of the deceased, residing or being in the sub-district where the death occurred.</li>
          <li>A person present at the death.</li>
          <li>The occupier if they knew of the happening of the death.</li>
          <li>Any inmate if they knew of the happening of the death.</li>
          <li>The person arranging the disposal of the body</li>
        </ul>
        <h3 class="govuk-heading-m">Deaths in houses and public institutions</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Any relative of the deceased having knowledge of any of the information required at registration</li>
          <li>Any person present at the death</li>
          <li>Any person who found the body</li>
          <li>Any person in charge of the body</li>
          <li>The person arranging the disposal of the body.</li>
        </ul>
        <p>In relation to a public institution, the occupier includes the:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>governor</li>
          <li>keeper</li>
          <li>master</li>
          <li>matron</li>
          <li>superintendent</li>
          <li>chief resident office</li>
        </ul>

      </div>
    </details>
    <form action="send-notice-to-informant" method="post" novalidate>

      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <label class="govuk-label" for="informant-email">
            Informant email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="informant-email" name="informant-email" type="text">
        </div>
        
      </div>

      <button class="govuk-button" type="submit">
        Continue
      </button>
    </form>

  </div>
</div>
</main>
{% endblock %}