{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">
      <!--<span class="govuk-caption-l govuk-caption--bottom">
        Cause of death
      </span> -->
      Was the deceased pregnant within the year prior to their death?
    </h1>
    <form action="pregnant-at-death" method="post">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-at-death-yes" name="pregnant-at-death" type="radio"
                value="Pregnant at time of death">
              <label class="govuk-label govuk-radios__label" for="pregnant-at-death-yes">
                Pregnant at time of death
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-1-42-days" name="pregnant-at-death" type="radio"
                value="Pregnant 1 to 42 days before death">
              <label class="govuk-label govuk-radios__label" for="pregnant-1-42-days">
                Pregnant 1 to 42 days before death
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-43-days-and-over" name="pregnant-at-death" type="radio"
                value="Pregnant 43 days to a year before death">
              <label class="govuk-label govuk-radios__label" for="pregnant-43-days-and-over">
                Pregnant 43 days to a year before death
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-no" name="pregnant-at-death" type="radio"
                value="Not pregnant">
              <label class="govuk-label govuk-radios__label" for="pregnant-no">
                Not pregnant
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-unknown" name="pregnant-at-death" type="radio"
                value="Unknown">
              <label class="govuk-label govuk-radios__label" for="pregnant-unknown">
                Unknown
              </label>
            </div>

          </div>
        </fieldset>

      </div>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}