{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Did the deceased’s pregnancy contribute to their death?</h1>
    <form action="pregnancy-contributed" method="post" novalidate>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy-contributed-yes" name="pregnancy-contributed" type="radio" value="Yes" {% if data['pregnancy-contributed'] === 'Yes' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnancy-contributed-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy-contributed-no" name="pregnancy-contributed" type="radio" value="No" {% if data['pregnancy-contributed'] === 'No' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnancy-contributed-no">
                No
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy-contributed-unknown" name="pregnancy-contributed" type="radio" value="Unknown" {% if data['pregnancy-contributed'] === 'Unknown' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnancy-contributed-unknown">
                Unknown
              </label>
            </div>

          </div>
        </fieldset>

      </div>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>
</main>
{% endblock %}