{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <!--<span class="govuk-caption-l govuk-caption--bottom">
        Cause of death
      </span> -->
      Was the deceased pregnant within the year prior to their death?
    </h1>
    <form action="pregnant-at-death" method="post" novalidate>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-not-applicable" name="pregnant-at-death" type="radio" value="Not applicable" {% if data['pregnant-at-death'] === 'Not applicable' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnant-not-applicable">
                Not applicable
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-at-death-yes" name="pregnant-at-death" type="radio" value="Pregnant at time of death" {% if data['pregnant-at-death'] === 'Pregnant at time of death' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnant-at-death-yes">
                Pregnant at time of death
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-1-42-days" name="pregnant-at-death" type="radio" value="Pregnant 1 to 42 days before death" {% if data['pregnant-at-death'] === 'Pregnant 1 to 42 days before death' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnant-1-42-days">
                Pregnant 1 to 42 days before death
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-43-days-and-over" name="pregnant-at-death" type="radio" value="Pregnant 43 days to a year before death" {% if data['pregnant-at-death'] === 'Pregnant 43 days to a year before death' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnant-43-days-and-over">
                Pregnant 43 days to a year before death
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-no" name="pregnant-at-death" type="radio" value="Not pregnant" {% if data['pregnant-at-death'] === 'Not pregnant' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnant-no">
                Not pregnant
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnant-unknown" name="pregnant-at-death" type="radio" value="Unknown" {% if data['pregnant-at-death'] === 'Unknown' %}checked {% endif %}/>
              <label class="govuk-label govuk-radios__label" for="pregnant-unknown">
                Unknown
              </label>
            </div>

          </div>
        </fieldset>

      </div>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>

{{ data | debugData | safe }}

</main>
{% endblock %}