{% extends "layouts/main.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="role-assignment" method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Register to use this service</span>
                            Which of the roles below best describe you?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role-type-ap" name="role-type" type="radio"
                                value="ap">
                            <label class="govuk-label govuk-radios__label" for="role-type-ap">
                                Attending practitioner
                                <div id="changedName-hint" class="govuk-hint govuk-!-margin-bottom-0">
                                    Part of the care team and responsible for creating MCCDs
                                </div>
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role-type-me" name="role-type" type="radio"
                                value="me">
                            <label class="govuk-label govuk-radios__label" for="role-type-me">
                                Medical examiner
                                <div id="changedName-hint" class="govuk-hint govuk-!-margin-bottom-0">
                                    Responsible for scrutiny of MCCDs
                                </div>
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role-type-both" name="role-type" type="radio"
                                value="both">
                            <label class="govuk-label govuk-radios__label" for="role-type-both">
                                Both
                                <div id="changedName-hint" class="govuk-hint govuk-!-margin-bottom-0">
                                    Acts in both roles as needed
                                </div>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Continue</button>

        </form>
    </div>
</div>

{% endblock %}