{% extends "layouts/prototype-main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Set your password</h1>

        <details class="govuk-details" govuk-polyfilled="true" id="govuk-details0">
            <summary class="govuk-details__summary" role="button" aria-controls="govuk-details__text0" tabindex="0"
                aria-expanded="false">
                <span class="govuk-details__summary-text">
                    Creating a secure and memorable password
                </span>
            </summary>
            <div class="govuk-details__text" id="govuk-details__text0" aria-hidden="true">
                <p>To create a password that is easy to remember try using three random words. You can use numbers
                    between the words instead of spaces. Avoid words that might be easy to guess or relate to you, such as names of pets.</p>
            </div>
        </details>
        <div class="govuk-warning-text govuk-form-group govuk-!-padding-bottom-3 govuk-!-padding-top-4">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <span class="govuk-warning-text__text">
                <span class="visually-hidden"> </span>
                You have 3 minutes to enter these details before your session times out.
            </span>
        </div>


        <form action="set-password" method="post" novalidate>
            <div class="govuk-form-group">
                <label class="govuk-label" for="new-password">
                    New password
                    <div class="govuk-hint">
                        Must be 12 characters or more.</div>
                </label>
                <input class="govuk-input" id="new-password" name="password" type="password">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="confirm-password">
                    Confirm password
                </label>
                <input class="govuk-input" id="confirm-password" name="password" type="password">
            </div>
            <button class="govuk-button" type="submit">
                Set password
            </button>
        </form>

    </div>
</div>

{% endblock %}