{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="gmc-number" method="post" novalidate>

            {% if data.user.gmcNumber and data.gmcNumberValidated === 'false' and data.changing !== 'true' %}

                <!-- USER PROFILE HAS A GMC NUMBER -->

                <h1 class="govuk-heading-l">Confirm your GMC number</h1>
                <div class="govuk-inset-text">{{ data.user.gmcNumber }}</div>

                <input type="hidden" name="gmc-number" value="{{ data.user.gmcNumber }}" />

                {{ govukButton({
                    text: 'Use this number'
                }) }}

                <p class="govuk-body govuk-!-margin-bottom-0"><a href="gmc-number?changing=true" class="govuk-link">Change GMC number</a></p>


                <!--
                {{ govukInput({
                    label: {
                        html: 'What is your GMC number?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: { text: 'Confirm the number below is correct' },
                    id: 'gmc-number',
                    name: 'gmc-number',
                    value: data.user.gmcNumber,
                    classes: 'govuk-input--width-10'
                }) }} -->

            {% else %}

                <!-- USER PROFILE DOES NOT HAVE A GMC NUMBER, OR IT'S ALREADY BEEN FILLED OUT -->

                {{ govukInput({
                    label: {
                        html: 'What is your GMC number?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: { text: 'For example, 7039909' },
                    id: 'gmc-number',
                    name: 'gmc-number',
                    value: data['gmc-number'] or data.user.gmcNumber,
                    classes: 'govuk-input--width-10'
                }) }}

                {{ govukButton({
                    text: data.translations.globalSaveContinue[data.lang]
                }) }}



            {% endif %}

            
            
        </form>

    </div>
</div>

{{ data | debugData | safe }}
</main>
{% endblock %}