{% extends "layouts/prototype-main_cy-en.html" %}

{% block content %}
<!-- <main class="govuk-main-wrapper app-main-class" id="main-content"> -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Tystysgrif Feddygol o Achos Marwolaeth</span>
    <h1 class="govuk-heading-l">Medical certificate of cause of death (MCCD)</h1>
    <div class="mccd-output-details">
        <ul style="padding-left: 0;">
        <li class="mccd-output-details__header">Certificate type</li>  
        <li class="mccd-output-details__data">Standard</li>
        </ul>
    </div>
    <div class="mccd-output-details">
        <ul style="padding-left: 0;">
        <li class="mccd-output-details__header">Date of issue</li>  
        <li class="mccd-output-details__data">5 June 2024</li>
        </ul>
    </div>
</div>
<div class="govuk-grid-column-full">
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Deceased person's details<br>
            <span class="govuk-body">
                Manylion y person sydd wedi marw
            </span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Full name
                <br>
                <span class="govuk-body">
                    Enw llawn
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                Owen Arwel Jones
            </dd>
            <dd class="govuk-summary-list__value">
                Owen Arwel Jones
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of death
                <br>
                <span class="govuk-body">
                    Dyddiad marwolaeth
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                3 June 2024
            </dd>
            <dd class="govuk-summary-list__value">
                3 Mehefin 2024
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Place of death
                    <br>
                    <span class="govuk-body">
                        Man marwolaeth
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Ysbyty Cwm Rhondda Hospital, Llwynypia, Tonypandy CF40 2LX                </dd>
                <dd class="govuk-summary-list__value">
                    Ysbyty Cwm Rhondda, Llwynypia, Tonypandy CF40 2LX               </dd>
                </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of birth
                <br>
                <span class="govuk-body">
                    Dyddiad geni
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                5 January 2000
            </dd>
            <dd class="govuk-summary-list__value">
                5 Ionawr 2000
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Age
                <br>
                <span class="govuk-body">
                    Oed
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                24 years old
            </dd>
            <dd class="govuk-summary-list__value">
                24 oed
            </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Medical details
            <br>
            <span class="govuk-body">
                Manylion meddygol
            </span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                MCCD unique identifier
                <br>
                <span class="govuk-body">
                    Tystysgrif dynodwr unigryw
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                AEPKWYOMX4-24
            </dd>
            <dd class="govuk-summary-list__value">
                AEPKWYOMX4-24
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Post-mortem held?
                    <br>
                    <span class="govuk-body">
                        Cynhaliwyd post-mortem?
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    A post-mortem is not being held
                </dd>
                <dd class="govuk-summary-list__value">
                    Ni chynhelir post-mortem
                </dd>
                </div>
        </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Cause of death
            <br>
            <span class="govuk-body">
                Achos marwolaeth
            </span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    1(a) disease or condition directly leading to death                     <br>
                    <span class="govuk-body">
                        1(a) Clefyd neu gyflwr sy'n arwain yn uniongyrchol at farwolaeth
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Post-transplant lymphoma
                </dd>
                <dd class="govuk-summary-list__value">
                    Lymffoma ôl-drawsblaniad
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                    1 days until death <br>1 dyddiau hyd farwolaeth
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        1(b) other disease or condition leading to 1(a)                    <br>
                        <span class="govuk-body">
                            1(b) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(a)
                        </span>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Immuno-suppression following renal transplant 10 years ago
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Ataliad imiwno yn dilyn trawsblaniad arennol 10 mlynedd yn ôl
                    </dd>
                    <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                        10 years until death <br>10 blynyddoedd hyd farwolaeth
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(c) other disease or condition leading to 1(b)                   <br>
                            <span class="govuk-body">
                                1(c) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(b)
                            </span>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Glomerulonephrosis due to insulin dependent diabetes mellitus
                        </dd>
                        <dd class="govuk-summary-list__value">
                            Glomerulonephrosis oherwydd diabetes mellitus sy'n ddibynnol ar inswlin
                        </dd>
                        <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                            12 years until death <br>12 blynyddoedd hyd farwolaeth
                        </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                1(d) other disease or condition leading to 1(c)                     
                                <br>
                                <span class="govuk-body">
                                    1(d) Clefyd neu gyflwr arall, os oedd un, yn arwain at 1(c)
                                </span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                            </dd>
                            <dd class="govuk-summary-list__value">
                               
                            </dd>
                            <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                               
                            </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    2 Other significant conditions contributing to their death
                                    <br>
                                    <span class="govuk-body">
                                        2 Cyflyrau arwyddocaol eraill sy'n cyfrannu at eu farwolaeth
                                    </span>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Recurrent urinary tract infections
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    Heintiau llwybr wrinol rheolaidd
                                </dd>
                                <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                                    4 years until death <br>1 dyddiau hyd farwolaeth
                                </dd>
                                </div>
        </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Attending practitioner
            <br>
            <span class="govuk-body">
                Ymarferydd meddygol
            </span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Attending practitioner full name
                <br>
                <span class="govuk-body">
                    Enw llawn yr ymarferydd meddygol
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                Cerys Ann Ward
            </dd>
            <dd class="govuk-summary-list__value">
                Cerys Ann Ward
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Qualification
                    <br>
                    <span class="govuk-body">
                        Cymhwyster
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    MB Ch
                </dd>
                <dd class="govuk-summary-list__value">
                    MB Ch
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GMC number
                    <br>
                    <span class="govuk-body">
                        Rhif CMC
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    9876543
                </dd>
                <dd class="govuk-summary-list__value">
                    9876543
                </dd>
                </div>
        </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Other stats info
            <br>
            <span class="govuk-body">
                Gwybodaeth ystadegol arall
            </span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Death due to or contributed to by employment
                <br>
                <span class="govuk-body">
                    Marwolaeth oherwydd cyflogaeth neu y mae cyflogaeth yn cyfrannu ati
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                No
            </dd>
            <dd class="govuk-summary-list__value">
                Nac oes
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    NHS number
                    <br>
                    <span class="govuk-body">
                        Rhif GIG
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    12345678
                </dd>
                <dd class="govuk-summary-list__value">
                    12345678
                </dd>
                </div>
        </dl>
        </div>
    </div>

</div>
</div>
<!-- </main> -->


{{ data | debugData | safe }}

{% endblock %}



