{% extends "layouts/prototype-main_cy-en.html" %}

{% block content %}
<!-- <main class="govuk-main-wrapper app-main-class" id="main-content"> -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ data.translations.mccdTasklistPageTitle.cy }}</span>
    <h1 class="govuk-heading-l">{{ data.translations.mccdTasklistPageTitle.en }}</h1>
    <div class="mccd-output-details">
        <ul style="padding-left: 0;">
        <li class="mccd-output-details__header">{{ data.translations.globalCertificateType.en }}</li>  
        
       
        {% if data['over-under-28'] === 'yes' %}  
        <li class="mccd-output-details__data">65AP</li>
        {% else %}
        <li class="mccd-output-details__data">66AP</li>
        {% endif %}
        </ul>
    </div>
    <div class="mccd-output-details">
        <ul style="padding-left: 0;">
        <li class="mccd-output-details__header">Date of issue</li>  
        <li class="mccd-output-details__data">5 June 2024</li>
        </ul>
    </div>
</div>
<div class="govuk-grid-column-full">
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{ data.translations.dpdCheckAnswersTitleCaption.en }}<br>
            <span class="govuk-body">{{ data.translations.dpdCheckAnswersTitleCaption.cy }}</span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ data.translations.dpdConfirmDetailsFullName.en }}<br>
                <span class="govuk-body">{{ data.translations.dpdConfirmDetailsFullName.cy }}</span>
            </dt>
            <dd class="govuk-summary-list__value">
                Owen Arwel Jones
            </dd>
            <dd class="govuk-summary-list__value">
                Owen Arwel Jones
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               {{ data.translations.dpdCheckAnswersDoD.en }}<br>
                <span class="govuk-body">{{ data.translations.dpdCheckAnswersDoD.cy }}</span>
            </dt>
            <dd class="govuk-summary-list__value">
                3 June 2024
            </dd>
            <dd class="govuk-summary-list__value">
                3 Mehefin 2024
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ data.translations.dpdCheckAnswersDeathLocation.en }}<br>
                    <span class="govuk-body">{{ data.translations.dpdCheckAnswersDeathLocation.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Ysbyty Cwm Rhondda Hospital, Llwynypia, Tonypandy CF40 2LX                </dd>
                <dd class="govuk-summary-list__value">
                    Ysbyty Cwm Rhondda, Llwynypia, Tonypandy CF40 2LX               </dd>
                </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ data.translations.dpdCheckAnswersDoB.en }}<br>
                <span class="govuk-body">{{ data.translations.dpdCheckAnswersDoB.cy }}</span>
            </dt>
            <dd class="govuk-summary-list__value">
                5 January 2000
            </dd>
            <dd class="govuk-summary-list__value">
                5 Ionawr 2000
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ data.translations.dpdCheckAnswersAgeAtDeath.en }}<br>
                <span class="govuk-body">{{ data.translations.dpdCheckAnswersAgeAtDeath.cy }}</span>
            </dt>
            <dd class="govuk-summary-list__value">
                24 years old
            </dd>
            <dd class="govuk-summary-list__value">
                24 oed
            </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Medical details<br>
            <span class="govuk-body">Manylion meddygol</span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                MCCD unique identifier<br>
                <span class="govuk-body">Tystysgrif dynodwr unigryw</span>
            </dt>
            <dd class="govuk-summary-list__value">
                AEPKWYOMX4-24
            </dd>
            <dd class="govuk-summary-list__value">
                AEPKWYOMX4-24
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ data.translations.pmPageTitle.en }}<br>
                    <span class="govuk-body">{{ data.translations.pmPageTitle.cy }}</span>
                </dt>
                 <dd class="govuk-summary-list__value">
                    {{ data.translations.pmInputLabelNotHeld.en }}
                </dd>
                <dd class="govuk-summary-list__value">
                    {{ data.translations.pmInputLabelNotHeld.cy }}
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Additional information
                        <br>
                        <span class="govuk-body">
                            Gwybodaeth ychwanegol
                        </span>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        I may be in a position to give, on application by the Registrar General, additional information as to the cause of death for the purpose of more precise statistical classification.
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Efallai fy mod mewn sefyllfa i roi, ar gais gan y Cofrestrydd Cyffredinol, wybodaeth ychwanegol ynghylch achos y farwolaeth at ddibenion dosbarthu ystadegol mwy manwl gywir.
                    </dd>
                    </div>
        </dl>
        </div>
    </div>

    <!-- CAUSE OF DEATH -->
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{ data.translations.pmMCCDTasklistCoD.en }}<br>
            <span class="govuk-body">{{ data.translations.pmMCCDTasklistCoD.cy }}</span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                {% if data['over-under-28'] == 'yes' %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:35%">
                    {{ data.translations.CYAcodU28aMainDisease.en }}<br>
                    <span class="govuk-body">{{ data.translations.CYAcodU28aMainDisease.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Meningitis
                </dd>
                <dd class="govuk-summary-list__value">
                    Llid yr ymennydd
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:35%">
                    {{ data.translations.CYAcodU28bOtherDisease.en }}<br>
                    <span class="govuk-body">{{ data.translations.CYAcodU28bOtherDisease.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Pre-term birth
                </dd>
                <dd class="govuk-summary-list__value">
                    Genedigaeth cyn-dymor
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:35%">
                    {{ data.translations.CYAcodU28cMainMaternalDisease.en }}
                    <br>
                    <span class="govuk-body">{{ data.translations.CYAcodU28cMainMaternalDisease.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Pre-eclampsia
                </dd>
                <dd class="govuk-summary-list__value">
                    Rhageclampsia
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:35%">
                    {{ data.translations.CYAcodU28dOtherMaternalDisease.en }}
                    <br>
                    <span class="govuk-body">{{ data.translations.CYAcodU28dOtherMaternalDisease.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Endometriosis
                </dd>
                <dd class="govuk-summary-list__value">
                    
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:35%">
                    {{ data.translations.CYAcodU28eOtherRelevantFactors.en }}
                    <br>
                    <span class="govuk-body">{{ data.translations.CYAcodU28eOtherRelevantFactors.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
                <dd class="govuk-summary-list__value">
                    
                </dd>
                </div>
                {% else %}
                <dt class="govuk-summary-list__key">
                    {{ data.translations.CYAcodO281aMainDisease.en }}<br>
                    <span class="govuk-body">{{ data.translations.CYAcodO281aMainDisease.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Post-transplant lymphoma
                </dd>
                <dd class="govuk-summary-list__value">
                    Lymffoma ôl-drawsblaniad
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                    1 days until death <br>1 dyddiau hyd farwolaeth
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ data.translations.CYAcodO281bDiseaseLeadingTo1a.en }}<br>
                        <span class="govuk-body">{{ data.translations.CYAcodO281bDiseaseLeadingTo1a.cy }}</span>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Immuno-suppression following renal transplant 10 years ago
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Ataliad imiwno yn dilyn trawsblaniad arennol 10 mlynedd yn ôl
                    </dd>
                    <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                        10 years until death <br>10 blynyddoedd hyd farwolaeth
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ data.translations.CYAcodO281cDiseaseLeadingTo1b.en }}<br>
                            <span class="govuk-body">{{ data.translations.CYAcodO281cDiseaseLeadingTo1b.cy }}</span>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Glomerulonephrosis due to insulin dependent diabetes mellitus
                        </dd>
                        <dd class="govuk-summary-list__value">
                            Glomerulonephrosis oherwydd diabetes mellitus sy'n ddibynnol ar inswlin
                        </dd>
                        <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                            12 years until death <br>12 blynyddoedd hyd farwolaeth
                        </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {{ data.translations.CYAcodO281dDiseaseLeadingTo1c.en }}                
                                <br>
                                <span class="govuk-body">{{ data.translations.CYAcodO281dDiseaseLeadingTo1c.cy }}</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                            </dd>
                            <dd class="govuk-summary-list__value">
                            
                            </dd>
                            <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                            
                            </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    {{ data.translations.CYAcodO282OtherConditions.en }}
                                    <br>
                                    <span class="govuk-body">{{ data.translations.CYAcodO282OtherConditions.cy }}</span>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Recurrent urinary tract infections
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    Heintiau llwybr wrinol rheolaidd
                                </dd>
                                <dd class="govuk-summary-list__actions" style="text-align: left; width:15%;">
                                    4 years until death <br>4 blynnyddoedd hyd farwolaeth
                                </dd>
                                </div>
                        {% endif %}
        </dl>
        </div>
    </div>

    <!-- ATTENDING PRACTITIONER -->
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{ data.translations.globalRoleAttendingPractitioner.en }}<br>
            <span class="govuk-body">{{ data.translations.globalRoleAttendingPractitioner.cy }}</span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Attending practitioner full name
                <br>
                <span class="govuk-body">
                    Enw llawn yr ymarferydd sy'n mynychu
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                Cerys Ann Ward
            </dd>
            <dd class="govuk-summary-list__value">
                Cerys Ann Ward
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Qualification
                    <br>
                    <span class="govuk-body">
                        Cymhwyster
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    MB Ch
                </dd>
                <dd class="govuk-summary-list__value">
                    MB Ch
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GMC number
                    <br>
                    <span class="govuk-body">
                        Rhif CMC
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    9876543
                </dd>
                <dd class="govuk-summary-list__value">
                    9876543
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ data.translations.apDeclarationPageTitle.en }}<br>
                        <span class="govuk-body">{{ data.translations.apDeclarationPageTitle.cy }}</span>
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data.translations.apDeclarationContent.en }}</dd>
                    <dd class="govuk-summary-list__value">{{ data.translations.apDeclarationContent.cy }}</dd>
                </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of issue
                            <br>
                            <span class="govuk-body">
                                Dyddiad cyhoeddi
                            </span>
                        </dt>
                        <dd class="govuk-summary-list__value">
                                22 April 2024
                        </dd>
                        <dd class="govuk-summary-list__value">
                           22 Ebrill 2024
                        </dd>
                        </div>
        </dl>
        </div> 
    </div>

    <!-- MEDICAL EXAMINER -->
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Medical examiner
            <br>
            <span class="govuk-body">
                Archwilydd meddygol
            </span>
        </h2>
        </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Medical examiner full name
                <br>
                <span class="govuk-body">
                    Enw llawn yr archwilydd meddygol
                </span>
            </dt>
            <dd class="govuk-summary-list__value">
                Edwin Thomas
            </dd>
            <dd class="govuk-summary-list__value">
                Edwin Thomas
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Qualification
                    <br>
                    <span class="govuk-body">
                        Cymhwyster
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    MB ChB
                </dd>
                <dd class="govuk-summary-list__value">
                    MB ChB
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GMC number
                    <br>
                    <span class="govuk-body">
                        Rhif CMC
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    1569874
                </dd>
                <dd class="govuk-summary-list__value">
                    1569874
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Declaration
                        <br>
                        <span class="govuk-body">
                            Datganiad
                        </span>
                    </dt>
                    <dd class="govuk-summary-list__value">
                    I am a duly appointed medical examiner and following scrutiny I confirm that the cause of death is as stated in this certificate to the best of my knowledge and belief.
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Rwy'n arholwr meddygol a benodwyd yn briodol ac ar ôl craffu rwy'n cadarnhau bod achos y farwolaeth fel y nodir yn y dystysgrif hon hyd eithaf fy ngwybodaeth a'm cred.
                    </dd>
                    </div>
                    {% if data['role-type'] == 'ap' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Authorisation date
                            <br>
                            <span class="govuk-body">
                                Dyddiad awdurdodiad
                            </span>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            24 April 2024
                        </dd>
                        <dd class="govuk-summary-list__value">
                            24 Ebrill 2024
                        </dd>
                        </div>
                        {% else %}
                        {% endif %}
        </dl>
        </div> 
    </div>
    
    <!-- OTHER STATS INFO -->

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Other stats info
            <br>
            <span class="govuk-body">
                Gwybodaeth ystadegol arall
            </span>
        </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">


                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ data.translations.dpdCheckAnswersEthnicity.en }}
                    <br>
                    <span class="govuk-body">
                        {{ data.translations.dpdCheckAnswersEthnicity.cy }}
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.translations.dpdEthnicGroupWhite.en }} - {{ data.translations.dpdEthnicityEnglishWelshScottishNorthernIrishOrBritish.en }}
                </dd>
                <dd class="govuk-summary-list__value">
                    {{ data.translations.dpdEthnicGroupWhite.cy }} - {{ data.translations.dpdEthnicityEnglishWelshScottishNorthernIrishOrBritish.cy }}
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ data.translations.aadCheckAnswersImplantsInBody.en }}
                    <br>
                    <span class="govuk-body">{{ data.translations.aadCheckAnswersImplantsInBody.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__value">
                    Do
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ data.translations.aadCheckAnswersImplantDetails.en }}
                    <br>
                    <span class="govuk-body">
                        {{ data.translations.aadCheckAnswersImplantDetails.cy }}
                    </span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Pacemaker in chest
                </dd>
                <dd class="govuk-summary-list__value">
                    rheolyddion calon
                </dd>
                </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ data.translations.aadCheckAnswersImplantsRemoved.en }}
                    <br>
                    <span class="govuk-body">{{ data.translations.aadCheckAnswersImplantsRemoved.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__value">
                    Oes
                </dd>
                </div>


            {% if data['over-under-28'] !== 'yes' %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ data.translations.CYAcodO28Pregnancy.en }}<br>
                    <span class="govuk-body">{{ data.translations.CYAcodO28Pregnancy.cy }}</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Pregnant 43 days to a year before death
                </dd>
                <dd class="govuk-summary-list__value">
                    Beichiog 43 o ddiwrnodau i flwyddyn cyn y farwolaeth
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ data.translations.CYAcodO28PregnancyContributed.en }}
                        <br>
                        <span class="govuk-body">{{ data.translations.CYAcodO28PregnancyContributed.cy }}</span>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        No
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Na do
                    </dd>
                    </div>

                {% endif %}
        </dl>
        </div>
    </div>
    

    <!-- MISC -->
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
                Miscellaneous
            <br>
            <span class="govuk-body">
                Amrywiol
            </span>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ data.translations.dpdCheckAnswersNHSNumber.en }}
                <br>
                <span class="govuk-body">{{ data.translations.dpdCheckAnswersNHSNumber.cy }}</span>
            </dt>
            <dd class="govuk-summary-list__value">
                123 456 7891
            </dd>
            <dd class="govuk-summary-list__value">
                123 456 7891
            </dd>
            </div>

          </dl> 
        </div>
      </div>

</div>
</div>
<!-- </main> -->


{{ data | debugData | safe }}

{% endblock %}



