{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

{{ govukBackLink({
text: data.translations.globalBackLink[data.lang],
href: 'javascript:history.back()'
}) }}

<!-- SET VARIABLES -->

{% set doctorName = 'Alera Singh' %}
{% set pageTitle = 'Check your details are correct before signing off this certificate' %}

{% if data['role-type'] == 'ap' %}
    {% set doctorName = 'Sarah Phillips' %}
    {% set pageTitle = 'Check your details are correct before submitting this certificate for scrutiny' %}
{% endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1><br>
    <!--<div class="govuk-hint govuk-!-margin-top-3 govuk-!-margin-bottom-7" id="hint">{{ data.translations.dpdConfirmDetailsDescription[data.lang] }}</div>-->

    {{ govukSummaryList({
        rows: [
            {
                key: { text: data.translations.dpdConfirmDetailsFullName[data.lang] },
                value: { text: doctorName }
            },
            {
                key: { text: data.translations.dpdConfirmDetailsGMC[data.lang] },
                value: { text: '12345678' }
            },
            {
                key: { text: data.translations.dpdConfirmDetailsWorkAddress[data.lang] },
                value: { html: '123 Hospital Road<br />Wing 4<br />Newcastle<br />Tyne and Wear<br />NE12 3AB' }
            },
            {
                key: { text: 'Qualifications' },
                value: { html: data['qualifications'] or 'Not specified' },
                actions: { items: [ {  href: 'qualifications', text: 'Change' } ] }
            }
        ]
        }) }}

    {{ govukButton({
      text: data.translations.globalSaveContinue[data.lang],
      href: 'declaration'
    }) }}


  </div>
</div>

{{ data | debugData | safe }}


{% endblock %}