{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

{% if data['role-type'] === 'ap' or data['role-type'] === 'me'%}
  
  {% if data['qualifications'] %}
    <!-- NOTHING -->
  {% else %}
    <!-- REDIRECT TO HANDLE QUALIFICATION ENTRY -->
    <script>
      window.addEventListener('DOMContentLoaded', function(){
        window.location.href = 'qualifications?return-to-dashboard=true';
      });
    </script>
  {% endif%}

  
{% endif %}


 <!-- AP DASHBOARD -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% if data['role-type'] == 'ap' %}

  <h1 class="govuk-heading-l">Your dashboard</h1>

  <p>This dashboard allows you to create a new Medical certificate of cause of death (MCCD) and manage current MCCDs.</p>
  <p>This dashboard will list MCCDs that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>you have submitted to a medical examiner for approval</li>
    <li>have been approved by a medical examiner and need forwarding to the registrar’s office</li>
    <li>have been rejected by a medical examiner and need amending</li>
  </ul>

{% elseif data['role-type'] == 'me' %}

  <!-- ME DASHBOARD -->
  <h1 class="govuk-heading-l">Your dashboard</h1>

{% else %}

  <!-- MEO DASHBOARD -->
  <h1 class="govuk-heading-l">Office dashboard</h1>
  <p>This dashboard gives you access to the Medical certificates of cause of death (MCCDs) currently being completed in your trust. You can view the progress of MCCDs and download signed-off MCCDs to send to the registrar.</p>

{% endif %}

  {{ govukInsetText({
    text: 'You will be logged out of the system after 15 minutes of inactivity.'
  }) }}

  </div>

  {% if data['role-type'] == 'ap' or data['role-type'] == 'me' %}

    <!-- CREATE MCCD BUTTON -->
    <div class="govuk-grid-column-one-third">

      {% if data['role-type'] == 'ap' %}

        {{ govukButton({
              text: 'Create a new MCCD',
              href: '66-or-65',
              classes: 'create-mccd'
        }) }}

      {% elseif data['role-type'] == 'me' %}

        {{ govukButton({
              text: 'Create a new ME MCCD',
              href: '66-or-65',
              classes: 'create-mccd'
        }) }}

      {% endif %}

    </div>
  {% endif %}

 </div>



{% if data.useSearch == 'true' or data.useFilters == 'true' %}

<style>

  .input-button-group {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .input-button-group > .govuk-button {
    margin: 0 0 0 10px;
  }

</style>

<!-- SEARCH ROW -->
<div class="govuk-grid-row">


{% if data.useSearch == 'true' %}

  <!-- SEARCH FORM -->
  <div class="govuk-grid-column-two-thirds">
    
    <form class="govuk-!-margin-top-5" action="dashboard?currentPage=0" method="post" novalidate>
      
      <div class="govuk-form-group">

        <label class="govuk-table__caption--m" for="searchTerm">
          Search for a certificate
        </label>
  
        <div id="search-hint" class="govuk-hint">
          You can search by name or NHS number
        </div>
  
        <div class="input-button-group">
          <input class="govuk-input" id="searchTerm" name="searchTerm" type="search" value="{{ data.searchTerm }}" aria-describedby="search-hint">
          <button type="submit" class="govuk-button" data-module="govuk-button">Search</button>
        </div>

        {% if data.searchTerm %}
          <p class="govuk-body govuk-!-margin-top-3"><a class="govuk-link" href="?searchTerm=&currentPage=0">Clear search</a></p>
        {% endif %}
  
      </div>
  
    </form>

  </div>
  {% endif %}


  {% if data.useFilters == 'true' %}
  <div class="govuk-grid-column-one-third">
    <form class="govuk-!-margin-top-5" action="dashboard?currentPage=0" method="post" novalidate>

      <div class="govuk-form-group">
        
        <label class="govuk-table__caption--m" for="statusFilter">
          Filter by status
        </label>
  
        <div id="filter-hint" class="govuk-hint">
          Show results with a chosen status
        </div>
  
        <div class="input-button-group">
          
          <select class="govuk-select" id="statusFilter" name="statusFilter">
            {{ data.statusFilter | getStatusFilterOptions | safe }}
          </select>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Filter</button>

        </div>

        {% if data.statusFilter %}
          <p class="govuk-body govuk-!-margin-top-3"><a class="govuk-link" href="?statusFilter=&currentPage=0">Clear filter</a></p>
        {% endif %}
        
  
      </div>
  
    </form>
  </div>
  {% endif %}


</div>
{% endif %}


<!-- TABLE ROW -->
<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">

        {% import 'V11bi/data-patients.html' as patientData %}

        <style>

          .table-dashboard th,
          .table-dashboard td{
            width: 25%;
          }

        </style>

        {% if data['role-type'] === 'ap' or data['role-type'] === 'me' %}

          {% set draftRows = patientData.data | getDashboardTableDraftRows(data['role-type']) %}

          {% if draftRows.length > 0 %}

          <!-- DRAFTS TABLE -->
            {{ govukTable({
            caption: 'Your drafts',
            classes: 'table-dashboard',
            captionClasses: 'govuk-table__caption--m govuk-!-margin-top-5',
            firstCellIsHeader: true,
            head: [ 
              { html: 'Deceased name<br /><span class="govuk-body-s">NHS number</span>' }, 
              { text: 'Date of death' },
              { text: 'Action' },
              { text: 'Status' }
            ],
            rows: draftRows
          }) }}
          
          {% endif %}

        {% endif %}

        <!-- MAIN TABLE -->
        {{ govukTable({
          caption: '' | getDashboardCaption,
          classes: 'table-dashboard',
          captionClasses: 'govuk-table__caption--m govuk-!-margin-top-5',
          firstCellIsHeader: true,
          head: '' | getDashboardTableHead( data.sortBy, data.sortDirection ),
          rows: patientData.data | getDashboardTableRows('')
        }) }}

    </div>

    <div class="govuk-grid-column-full">
      {{ govukPagination( '' | getDashboardPaginationLinks ) }}
    </div>

</div>

{{ data | debugData | safe }}


{% endblock %}