{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% if data['role-type'] == 'ap' %}

 <!-- AP DASHBOARD -->

  <h1 class="govuk-heading-l">{{ data.translations.dashboardPageTitleAP[data.lang] }}</h1>
  {{ data.translations.dashboardPageDescriptionAP[data.lang] | safe }}

{% elseif data['role-type'] == 'me' %}

  <!-- ME DASHBOARD -->
  <h1 class="govuk-heading-l">{{ data.translations.dashboardPageTitleME[data.lang] }}</h1>
  {{ data.translations.dashboardPageDescriptionME[data.lang] | safe }}

{% else %}

  <!-- MEO DASHBOARD -->
  <h1 class="govuk-heading-l">{{ data.translations.dashboardPageTitleOffice[data.lang] }}</h1>
  {{ data.translations.dashboardPageDescriptionOffice[data.lang] | safe }}

{% endif %}

  {{ govukInsetText({
    text: data.translations.dashboardInactivityMessage[data.lang]
  }) }}

  </div>

  {% if data['role-type'] == 'ap' or data['role-type'] == 'me' %}

    <!-- CREATE MCCD BUTTON -->
    <div class="govuk-grid-column-one-third">

      {% if data['role-type'] == 'ap' %}

        {{ govukButton({
              text: data.translations.dashboardCreateAPMCCD[data.lang],
              href: '66-or-65',
              classes: 'create-mccd'
        }) }}

      {% elseif data['role-type'] == 'me' %}

        {{ govukButton({
              text: data.translations.dashboardCreateMEMCCD[data.lang],
              href: '66-or-65',
              classes: 'create-mccd'
        }) }}

      {% endif %}

    </div>
  {% endif %}

 </div>



{% if data.useSearch == 'true' or data.useFilters == 'true' %}

<style>

  .input-button-group {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .input-button-group > .govuk-button {
    margin: 0 0 0 10px;
  }

</style>

<!-- SEARCH ROW -->
<div class="govuk-grid-row">


{% if data.useSearch == 'true' %}

  <!-- SEARCH FORM -->
  <div class="govuk-grid-column-two-thirds">
    
    <form class="govuk-!-margin-top-5" action="dashboard?currentPage=0" method="post" novalidate>
      
      <div class="govuk-form-group">

        <label class="govuk-table__caption--m" for="searchTerm">
          Search for a certificate
        </label>
  
        <div id="search-hint" class="govuk-hint">
          You can search by name or NHS number
        </div>
  
        <div class="input-button-group">
          <input class="govuk-input" id="searchTerm" name="searchTerm" type="search" value="{{ data.searchTerm }}" aria-describedby="search-hint">
          <button type="submit" class="govuk-button" data-module="govuk-button">Search</button>
        </div>

        {% if data.searchTerm %}
          <p class="govuk-body govuk-!-margin-top-3"><a class="govuk-link" href="?searchTerm=&currentPage=0">Clear search</a></p>
        {% endif %}
  
      </div>
  
    </form>

  </div>
  {% endif %}


  {% if data.useFilters == 'true' %}
  <div class="govuk-grid-column-one-third">
    <form class="govuk-!-margin-top-5" action="dashboard?currentPage=0" method="post" novalidate>

      <div class="govuk-form-group">
        
        <label class="govuk-table__caption--m" for="statusFilter">
          Filter by status
        </label>
  
        <div id="filter-hint" class="govuk-hint">
          Show results with a chosen status
        </div>
  
        <div class="input-button-group">
          
          <select class="govuk-select" id="statusFilter" name="statusFilter">
            {{ data.statusFilter | getStatusFilterOptions | safe }}
          </select>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Filter</button>

        </div>

        {% if data.statusFilter %}
          <p class="govuk-body govuk-!-margin-top-3"><a class="govuk-link" href="?statusFilter=&currentPage=0">Clear filter</a></p>
        {% endif %}
        
  
      </div>
  
    </form>
  </div>
  {% endif %}


</div>
{% endif %}


<!-- TABLE ROW -->
<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">

        {% import 'V11bi/data-patients.html' as patientData %}

        <style>

          .table-dashboard th,
          .table-dashboard td{
            width: 25%;
          }

        </style>

        {% if data['role-type'] === 'ap' or data['role-type'] === 'me' %}

          {% set draftRows = patientData.data | getDashboardTableDraftRows(data['role-type']) %}

          {% if draftRows.length > 0 and data.separateDraftsTable === 'true' %}

          <!-- DRAFTS TABLE -->
            {{ govukTable({
            caption: 'Your drafts',
            classes: 'table-dashboard govuk-table--small-text-until-tablet',
            captionClasses: 'govuk-table__caption--m govuk-!-margin-top-5',
            firstCellIsHeader: true,
            head: [ 
              { html: 'Deceased name<br /><span class="govuk-body-s">NHS number</span>' }, 
              { text: 'Date of death' },
              { text: 'Action' },
              { text: 'Status' }
            ],
            rows: draftRows
          }) }}
          
          {% endif %}

        {% endif %}

        <!-- DETAILS -->
        {{ govukDetails({
            summaryText: 'Explanation of statuses',
            html: govukTable({
              rows: '' | getStatusExplanationRows
            })
        }) }}

        <!-- MAIN TABLE -->
        {{ govukTable({
          caption: '' | getDashboardCaption,
          classes: 'table-dashboard govuk-table--small-text-until-tablet',
          captionClasses: 'govuk-table__caption--m govuk-!-margin-top-5',
          firstCellIsHeader: true,
          head: '' | getDashboardTableHead( data.sortBy, data.sortDirection ),
          rows: patientData.data | getDashboardTableRows()
        }) }}

    </div>

    <div class="govuk-grid-column-full">
      {{ govukPagination( '' | getDashboardPaginationLinks ) }}
    </div>

</div>
</main>
{{ data | debugData | safe }}


{% endblock %}