{% extends "layouts/main_cy-en.html" %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ data.translations.feedbackPageTitle[data.lang] }}</h1>
    </div>

    <hr class="govuk-section-break govuk-section-break--m" />
    
    {{ data.translations.feedbackPageContent[data.lang] | safe }}

    {{ govukButton({
      text: data.translations.confirmationPageCTAsecondary[data.lang],
      href: 'dashboard',
      classes: 'govuk-!-margin-top-2'
    }) }}

  </div>
</div>

{{ data | debugData | safe }}

{% endblock %}