{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="implant" method="post" novalidate>
        
            {% call govukFieldset({
            legend: {
                text: data.translations.implantsPageTitle[data.lang],
                classes: 'govuk-fieldset__legend--l',
                isPageHeading: true
            }
            }) %}

                {{ govukDetails({
                    summaryText: data.translations.implantsPageHint[data.lang],
                    html: data.translations.implantsPageExamples[data.lang]
                }) }}

                {% set implantDetailsHtml %}

                    <p class="govuk-hint">{{ data.translations.implantsPagePara[data.lang] }}{% if data.bilingual === 'true' %} {{ data.translations.implantsPageParaBilingual[data.lang] }}{% endif %}</p>

                    {% if( data.bilingual == 'true' ) %}

                        <!-- BILINGUAL -->
                        {{ govukTextarea({
                            id: 'implant-details',
                            name: 'implant-details',
                            value: data['implant-details'],
                            label: {
                                html: data.translations.implantsYesDetails[data.lang] + '<br /><strong>' + data.translations.globalWriteInEnglish[data.lang] + '</strong>'
                            }
                        }) }}

                        {{ govukTextarea({
                            id: 'implant-details-welsh',
                            name: 'implant-details-welsh',
                            value: data['implant-details-welsh'],
                            label: {
                                html: data.translations.implantsYesDetails[data.lang] + ' ' + data.translations.globalOptional[data.lang] + '<br /><strong>'+data.translations.globalWriteInWelsh[data.lang]+'</strong>'
                            }
                        }) }}

                        
                    {% else %}
                    
                        <!-- ENGLISH ONLY -->
                        {{ govukTextarea({
                            id: 'implant-details',
                            name: 'implant-details',
                            value: data['implant-details'],
                            label: {
                                text: data.translations.implantsYesDetails[data.lang]
                            }
                        }) }}

                    {% endif %}

                {% endset -%}


            {{ govukRadios({
                name: 'implant',
                value: data['implant'],
                items: [
                {
                    value: 'globalRadioYes',
                    text: data.translations.globalRadioYes[data.lang],
                    conditional: {
                        html: implantDetailsHtml
                    }
                },
                {
                    value: 'globalRadioNo',
                    text: data.translations.globalRadioNo[data.lang]
                }          
                ]
            }) }}


            {% endcall %}

            {{ govukButton({
                text: data.translations.globalSaveContinue[data.lang]
            }) }}
        
        </form>

    </div>
</div>
</main>
{{ data | debugData | safe }}

{% endblock %}