{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}

{{ '' | setDashboardVariables( data['role-type'], settings, data.lang ) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




        <!--


 ______   ________  _________     _       _____  _____      ______   
|_   _ `.|_   __  ||  _   _  |   / \     |_   _||_   _|   .' ____ \  
  | | `. \ | |_ \_||_/ | | \_|  / _ \      | |    | |     | (___ \_| 
  | |  | | |  _| _     | |     / ___ \     | |    | |   _  _.____`.  
 _| |_.' /_| |__/ |   _| |_  _/ /   \ \_  _| |_  _| |__/ || \____) | 
|______.'|________|  |_____||____| |____||_____||________| \______.' 
                                                                     


        -->

        <main class="govuk-main-wrapper govuk-!-padding-top-6">

            {% set patientStatus = data.bilingualStatus | int %}

            {{ patientStatus | getStatusTag | safe }}
            <h1 class="govuk-heading-l govuk-!-margin-top-3">{{ data.translations.mccdTasklistPageTitle[data.lang] }}</h1>
            
            <!-- REF NUMBER -->
            <p class="govuk-body govuk-!-margin-bottom-2"><strong>{{ data.translations.globalReferenceNumber[data.lang] }}</strong> OMIGH6QH2-24</p>
            
            <!-- CERTIFICATE TYPE -->
            <p class="govuk-body"><strong>{{ data.translations.globalCertificateType[data.lang] }}</strong> 65ME</p>

                <!-- ADDING ROUTING TO CHANGE LINKS FOR PROTO PURPOSES -->
                <script>
                    window.addEventListener('DOMContentLoaded',function(){
                        document.querySelectorAll('.govuk-summary-list__actions .govuk-link').forEach(function(el){
                            let href = el.getAttribute('href');
                            href += ( href.indexOf('?') > -1 ) ? '&redirectToSummary=true' : '?redirectToSummary=true';
                            el.setAttribute('href',href);
                        });
                    });
                </script>


            <!--

______                                 _  ______     _        _ _     
|  _  \                               | | |  _  \   | |      (_) |    
| | | |___  ___ ___  __ _ ___  ___  __| | | | | |___| |_ __ _ _| |___ 
| | | / _ \/ __/ _ \/ _` / __|/ _ \/ _` | | | | / _ \ __/ _` | | / __|
| |/ /  __/ (_|  __/ (_| \__ \  __/ (_| | | |/ /  __/ || (_| | | \__ \
|___/ \___|\___\___|\__,_|___/\___|\__,_| |___/ \___|\__\__,_|_|_|___/
                                                                      

           -->


                <!-- DECEASED PERSONS DETAILS -->

                {% set birthLocationHTML = '<strong>' + data.translations.globalEnglish[data.lang] + '</strong><br />University Hospital of Wales<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong>' + data.translations.globalWelsh[data.lang] + '</strong><br />Ysbyty Athrofaol Cymru' %}
                {% set deathLocationHTML = '<strong>' + data.translations.globalEnglish[data.lang] + '</strong><br />University Hospital of Wales<br />Heath Park<br />Cardiff<br />CF14 4XW<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong>' + data.translations.globalWelsh[data.lang] + '</strong><br />Ysbyty Athrofaol Cymru<br />Parc y Mynydd Bychan<br />Caerdydd<br />CF14 4XW' %}

                {% if ( data['role-type'] === 'ap' and patientStatus === 1 ) %}

                    <!-- CHANGEABLE -->
                    {% set dpdRows = [
                            {  key: { text: data.translations.dpdCheckAnswersNHSNumber[data.lang] }, value: { text: '235 901 3253' }, actions: { items: [{ href: 'nhs-number', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'NHS number' }] } },
                            {  key: { text: data.translations.dpdCheckAnswersFullName[data.lang] }, value: { text: 'Jane Sarah Latham' }, actions: { items: [{ href: 'name-of-the-deceased', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'name' }] } },
                            {  key: { text: data.translations.dpdCheckAnswersDoB[data.lang] }, value: { text: '13 ' + data.translations.globalMonthSep[data.lang] + ' 2024' }, actions: { items: [{ href: 'date-of-birth', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'date of birth' }] } },
                            {  key: { text: data.translations.dpdCheckAnswersBirthLocation[data.lang] }, value: { html: birthLocationHTML }, actions: { items: [{ href: 'neo-natal-deaths/location-born', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'place of birth' }] } },
                            {  key: { text: data.translations.dpdCheckAnswersAgeAtDeath[data.lang] }, value: { text: '22 ' + data.translations.globalTimeUnitDays[data.lang] | lower }, actions: { items: [{ href: 'age-66', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'age' }] } },
                            {  key: { text: data.translations.dpdCheckAnswersEthnicity[data.lang] }, value: { text: data.translations.dpdEthnicGroupWhite[data.lang] + ' - ' + data.translations.dpdEthnicityEnglishWelshScottishNorthernIrishOrBritish[data.lang] }, actions: { items: [{ href: 'ethnicity/ethnic-group', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'ethnicity' }] } },
                            {  key: { text: data.translations.dpdCheckAnswersDoD[data.lang] }, value: { text: '22 ' + data.translations.globalMonthAug[data.lang] + ' 2024' }, actions: { items: [{ href: 'date-of-death', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'date of death' }] } },
                            {  key: { text: data.translations.dpdCheckAnswersDeathLocation[data.lang] }, value: { html: deathLocationHTML }, actions: { items: [{ href: 'unknown-address', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'place of death' }] } }
                    ] %}

                     {% set aadRows = [
                        {  key: { text: data.translations.aadCheckAnswersPostMortem[data.lang] }, value: { text: data.translations.pmInputLabelNotHeld[data.lang] }, actions: { items: [{ href: 'death-circumstances', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'whether a post mortem was held' }] } },
                        {  key: { text: data.translations.aadCheckAnswersImplantsInBody[data.lang] }, value: { text: data.translations.globalRadioNo[data.lang] }, actions: { items: [{ href: 'implant', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'whether the deceased had an implant' }] } },
                        {  key: { text: data.translations.aadCheckAnswersRefMedicalPractitioner[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'me-referring-mp-name', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'referring medical practitioner' }] } },
                        {  key: { text: data.translations.aadCheckAnswersSnrCoroner[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'me-coroner-name', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'senior coroner' }] } }
                    ] %}

                    <!-- 
                        {  key: { text: data.translations.aadCheckAnswersImplantDetails[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'implant', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'implant details' }] } },
                        {  key: { text: data.translations.aadCheckAnswersImplantsRemoved[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'implant-removed', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'whether implant was removed' }] } }
                    -->

                {% else %}

                    <!-- NON-CHANGEABLE -->
                    {% set dpdRows = [
                            {  key: { text: data.translations.dpdCheckAnswersNHSNumber[data.lang] }, value: { text: '235 901 3253' } },
                            {  key: { text: data.translations.dpdCheckAnswersFullName[data.lang] }, value: { text: 'Jane Sarah Latham' } },
                            {  key: { text: data.translations.dpdCheckAnswersDoB[data.lang] }, value: { text: '13 ' + data.translations.globalMonthSep[data.lang] + ' 2024' } },
                            {  key: { text: data.translations.dpdCheckAnswersBirthLocation[data.lang] }, value: { html: birthLocationHTML } },
                            {  key: { text: data.translations.dpdCheckAnswersAgeAtDeath[data.lang] }, value: { text: '22 ' + data.translations.globalTimeUnitDays[data.lang] | lower } },
                            {  key: { text: data.translations.dpdCheckAnswersEthnicity[data.lang] }, value: { text: data.translations.dpdEthnicGroupWhite[data.lang] + ' - ' + data.translations.dpdEthnicityEnglishWelshScottishNorthernIrishOrBritish[data.lang] } },
                            {  key: { text: data.translations.dpdCheckAnswersDoD[data.lang] }, value: { text: '22 ' + data.translations.globalMonthAug[data.lang] + ' 2024' } },
                            {  key: { text: data.translations.dpdCheckAnswersDeathLocation[data.lang] }, value: { html: deathLocationHTML } }
                    ] %}

                     {% set aadRows = [
                        {  key: { text: data.translations.aadCheckAnswersPostMortem[data.lang] }, value: { text: data.translations.pmInputLabelNotHeld[data.lang] } },
                        {  key: { text: data.translations.aadCheckAnswersImplantsInBody[data.lang] }, value: { text: data.translations.globalRadioNo[data.lang] } },
                        {  key: { text: data.translations.aadCheckAnswersRefMedicalPractitioner[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.aadCheckAnswersSnrCoroner[data.lang] }, value: { text: '' } }
                    ] %}

                {% endif %}


                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistDeceasedPersonsDetails[data.lang] },
                        classes: 'govuk-!-margin-top-9'
                    },
                    rows: dpdRows
                }) }}

                   

                    

                <!-- ACTIONS AFTER DEATH -->
                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistActionsAfterDeath[data.lang] }
                    },
                    rows: aadRows
                }) }}


            <!--

 _____                               __  ______           _   _     
/  __ \                             / _| |  _  \         | | | |    
| /  \/ __ _ _   _ ___  ___    ___ | |_  | | | |___  __ _| |_| |__  
| |    / _` | | | / __|/ _ \  / _ \|  _| | | | / _ \/ _` | __| '_ \ 
| \__/\ (_| | |_| \__ \  __/ | (_) | |   | |/ /  __/ (_| | |_| | | |
 \____/\__,_|\__,_|___/\___|  \___/|_|   |___/ \___|\__,_|\__|_| |_|


            -->


            <style>

                .govuk-summary-list__row > .govuk-summary-list__key,
                .govuk-summary-list__row > .govuk-summary-list__actions {
                    vertical-align: top;
                }

                .govuk-summary-list__value .govuk-grid-column-one-half {
                    padding-left: 0;
                }

                @media all and ( max-width: 40.0625rem ){

                    .govuk-summary-list__value .govuk-grid-column-one-half {
                        margin-top: 10px;
                        display: block;
                    }

                }

                @media all and ( min-width: 40.0625rem ){

                    .govuk-summary-list__row > .govuk-summary-list__actions {
                        width: 100px;
                    }

                }

            </style>


            {% set causeOfDeathAHTML = '<strong>' + data.translations.globalEnglish[data.lang] + '</strong><br />Respiratory distress syndrome<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong>' + data.translations.globalWelsh[data.lang] + '</strong><br />Syndrom trallod anadlol' %}
            {% set causeOfDeathBHTML = '<strong>' + data.translations.globalEnglish[data.lang] + '</strong><br />Prematurity<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong>' + data.translations.globalWelsh[data.lang] + '</strong><br />Cynaeddfedrwydd' %}

            {% if data['role-type'] === 'ap' and ( patientStatus === 1 or patientStatus === 2 ) %}

                {% set codRows = [
                    {  key: { text: data.translations.CYAcodU28aMainDisease[data.lang] }, value: { html: causeOfDeathAHTML }, actions: { items: [{ href: 'cause-of-death', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'cause of death' }] } },
                    {  key: { text: data.translations.CYAcodU28bOtherDisease[data.lang] }, value: { html: causeOfDeathBHTML }, actions: { items: [{ href: 'cause-of-death', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'cause of death' }] } },
                    {  key: { text: data.translations.CYAcodU28cMainMaternalDisease[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'cause-of-death', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'cause of death' }] } },
                    {  key: { text: data.translations.CYAcodU28dOtherMaternalDisease[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'cause-of-death', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'cause of death' }] } },
                    {  key: { text: data.translations.CYAcodU28eOtherRelevantFactors[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'cause-of-death', text: data.translations.globalChangeField[data.lang], visuallyHiddenText: 'cause of death' }] } }       
                ] %}

            {% else %}

                {% set codRows = [
                    {  key: { text: data.translations.CYAcodU28aMainDisease[data.lang] }, value: { html: causeOfDeathAHTML } },
                    {  key: { text: data.translations.CYAcodU28bOtherDisease[data.lang] }, value: { html: causeOfDeathBHTML } },
                    {  key: { text: data.translations.CYAcodU28cMainMaternalDisease[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodU28dOtherMaternalDisease[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodU28eOtherRelevantFactors[data.lang] }, value: { text: '' } }       
                ] %}

            {% endif %}

             <!-- CAUSE OF DEATH - NEO-NATAL -->
            {{ govukSummaryList({
                card: {
                    title: { text: data.translations.pmMCCDTasklistCoD[data.lang] }
                },
                rows: codRows
            }) }}


            <!-- 

___  ___ _____  ______     _        _ _     
|  \/  ||  ___| |  _  \   | |      (_) |    
| .  . || |__   | | | |___| |_ __ _ _| |___ 
| |\/| ||  __|  | | | / _ \ __/ _` | | / __|
| |  | || |___  | |/ /  __/ || (_| | | \__ \
\_|  |_/\____/  |___/ \___|\__\__,_|_|_|___/
                                            
    
                                        
            -->


             <!-- MEDICAL EXAMINERS DETAILS -->
                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistMedicalExaminersInformation[data.lang] }
                    },
                    rows: [
                            { key: { text: data.translations.dpdConfirmDetailsFullName[data.lang] }, value: { text: 'Alan Jakobsen' } },
                            {  key: { text: data.translations.dpdConfirmDetailsGMC[data.lang] }, value: { text: '6367472' } },
                            {  key: { text: data.translations.dpdConfirmDetailsPrimaryQualification[data.lang] }, value: { html: 'MB ChB' } }
                        ]
                }) }}


        </main>
        
<!--


      _        ______  _________  _____   ___   ____  _____   ______   
     / \     .' ___  ||  _   _  ||_   _|.'   `.|_   \|_   _|.' ____ \  
    / _ \   / .'   \_||_/ | | \_|  | | /  .-.  \ |   \ | |  | (___ \_| 
   / ___ \  | |           | |      | | | |   | | | |\ \| |   _.____`.  
 _/ /   \ \_\ `.___.'\   _| |_    _| |_\  `-'  /_| |_\   |_ | \____) | 
|____| |____|`.____ .'  |_____|  |_____|`.___.'|_____|\____| \______.' 
                                                                       


            -->

        <div class="govuk-grid-column-two-thirds govuk-!-padding-0">

            {% if data['role-type'] == 'ap' %}

                <!-- AP -->

                {% if( patient.amendsNotSubmitted === true ) %}

                    <!-- AMENDS NOT SUBMITTED -->

                    <form action="mccd-summary" method="post" novalidate>

                        <input type="hidden" name="ap-amends" value="true" />

                        {{ govukCheckboxes({
                            name: 'ap-cert-declaration',
                            fieldset: {
                                legend: {
                                text: data.translations.apDeclarationPageTitle[data.lang],
                                isPageHeading: true,
                                classes: 'govuk-fieldset__legend--l'
                                }
                            },
                            items: [
                                {
                                value: 'apDeclarationContent',
                                text: data.translations.apDeclarationContent[data.lang]
                                }
                            ]
                            }) }}

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: data.translations.summarySubmitAmendsCTA[data.lang]
                            }) }}
                            {{ govukButton({
                                text: data.translations.globalReturnToDashboard[data.lang],
                                href: 'dashboard',
                                classes: 'govuk-button--secondary'
                            }) }}
                        </div>

                    </form>


                {% else %}

                    <!-- BACK TO DASHBOARD -->
                    {{ govukButton({
                        text: data.translations.globalReturnToDashboard[data.lang],
                        href: 'dashboard',
                        classes: 'govuk-button'
                    }) }}

                {% endif %}

            {% elseif data['role-type'] == 'me' %}

                <!-- ME -->
            
                {% if patientStatus === 3 %}

                    <!-- IF STATUS = For sign off by Medical Examiner -->
                    <form action="mccd-summary" method="post" novalidate>

                        {{ govukRadios({
                            name: 'me-signoff',
                            value: data['me-signoff'],
                            fieldset: {
                                legend: {
                                    text: data.translations.summaryMEScrutinyPageTitle[data.lang],
                                    isPageHeading: true,
                                    classes: 'govuk-fieldset__legend--l'
                                }
                            },
                            items: [
                                { text: data.translations.summaryMEScrutinyCertificateNeedsAmends[data.lang], value: 'amend' },
                                { text: data.translations.summaryMEScrutinyCertificatePassed[data.lang],  value: 'register office' }
                            ]
                        }) }}
                    
                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: data.translations.globalSaveContinue[data.lang]
                            }) }}
                            {{ govukButton({
                                text: data.translations.globalReturnToDashboard[data.lang],
                                href: 'dashboard',
                                classes: 'govuk-button--secondary'
                            }) }}
                        </div>
                        
                    </form>

                {% else %}

                    <!-- ELSE: BACK TO DASHBOARD -->
                    {{ govukButton({
                        text: data.translations.globalReturnToDashboard[data.lang],
                        href: 'dashboard',
                        classes: 'govuk-button'
                    }) }}

                {% endif %}

            {% else %}

                <!-- MEO -->

                <!-- IF STATUS = For officer review -->
                {% if patientStatus === 1  %}

                    {% if ( patient.amendsNotSubmitted) %}

                        <!-- BACK TO DASHBOARD -->
                        {{ govukButton({
                            text: data.translations.globalReturnToDashboard[data.lang],
                            href: 'dashboard',
                            classes: 'govuk-button'
                        }) }}

                    {% else %}

                        <!-- HAPPY TO SEND FOR ME REVIEW -->
                        <form action="mccd-summary" method="post" novalidate>

                            {{ govukCheckboxes({
                                name: 'meo-scrutiny-declaration',
                                fieldset: {
                                    legend: {
                                    text: data.translations.meoDeclarationPageTitle[data.lang],
                                    isPageHeading: true,
                                    classes: 'govuk-fieldset__legend--l'
                                    }
                                },
                                items: [
                                    {
                                    value: 'meoDeclarationContent',
                                    text: data.translations.meoDeclarationContent[data.lang],
                                    checked: ( data['meo-cert-declaration'] )
                                    }
                                ]
                                }) }}

        
                        
                            <div class="govuk-button-group">

                                {{ govukButton({
                                text: data.translations.meoDeclarationSubmitForScrutinyCTA[data.lang]
                                }) }}

                                {{ govukButton({
                                    text: data.translations.globalReturnToDashboard[data.lang],
                                    href: 'dashboard',
                                    classes: 'govuk-button--secondary'
                                }) }}

                            </div>
                            
                        </form>

                    {% endif %}

                {% elseif patientStatus === 4 %}

                    <!--IF STATUS = Review complete - send to registrar-->
                    <form action="mccd-summary" method="post" novalidate>

                        <div class="govuk-form-group">
                    
                            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    
                                    <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">{{ data.translations.summaryDownloadCertificatePageTitle[data.lang] }}</h2>
                                    <p>{{ data.translations.summaryDownloadCertificatePageContent[data.lang] }}</p>
                                    <span style="user-select:none;cursor:not-allowed;" class="govuk-button govuk-button--secondary">{{ data.translations.summaryDownloadCertificateCTA[data.lang] }}</span>
                    
                                </legend>
                    
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="sent-to-registrar" name="sent-to-registrar" type="checkbox" value="I have sent this certificate to the registrar">
                                        <label class="govuk-label govuk-checkboxes__label" for="sent-to-registrar">{{ data.translations.summaryDownloadCertificateCheckBoxTitle[data.lang] }}</label>
                                    </div>
                                </div>
                    
                            </fieldset>
                        </div>


                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: data.translations.summaryDownloadCertificateMarkAsSubmittedCTA[data.lang]
                            }) }}
                            {{ govukButton({
                                text: data.translations.globalReturnToDashboard[data.lang],
                                href: 'dashboard',
                                classes: 'govuk-button--secondary'
                            }) }}
                        </div>
                    
                    </form>


                {% else %}

                    <!-- BACK TO DASHBOARD -->
                    {{ govukButton({
                        text: data.translations.globalReturnToDashboard[data.lang],
                        href: 'dashboard',
                        classes: 'govuk-button'
                    }) }}
                    
                {% endif %}

            {% endif %}
        

        </div>

    </div>
</div>

{{ data | debugData | safe }}

{% endblock %}