{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}{{ version }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}

{{ '' | setDashboardVariables( data['role-type'], settings, data.lang ) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% import 'V11bi/data-patients.html' as patientData %}
        {% set patient = patientData.data | getPatientDataByID( data.id ) %}

        {% set patientStatus = patient.status %}
        {% if data.overrideStatus %}
            {% set patientStatus = data.overrideStatus | int %}
        {% endif %}



        {% if patient %}

        {% if data.debug === 'true' %}
            <textarea>{{ patient | dump }}</textarea>
        {% endif %}


        <!--


 ______   ________  _________     _       _____  _____      ______   
|_   _ `.|_   __  ||  _   _  |   / \     |_   _||_   _|   .' ____ \  
  | | `. \ | |_ \_||_/ | | \_|  / _ \      | |    | |     | (___ \_| 
  | |  | | |  _| _     | |     / ___ \     | |    | |   _  _.____`.  
 _| |_.' /_| |__/ |   _| |_  _/ /   \ \_  _| |_  _| |__/ || \____) | 
|______.'|________|  |_____||____| |____||_____||________| \______.' 
                                                                     


        -->

        <main class="govuk-main-wrapper govuk-!-padding-top-6">
            
            {% if patient.amendsNotSubmitted === true %}<span class="govuk-tag govuk-tag--red govuk-!-margin-right-2">Amends not submitted</span>{% endif %}{{ patientStatus | getStatusTag | safe }}
            <h1 class="govuk-heading-l govuk-!-margin-top-3">{{ data.translations.mccdTasklistPageTitle[data.lang] }}</h1>
            
            <!-- REF NUMBER -->
            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Reference number</strong> {{ patient.id }}</p>
            
            <!-- CERTIFICATE TYPE -->
            <p class="govuk-body"><strong>Certificate type</strong> {% if patient.isNeoNatal === true %}65{% else %}66{% endif %}{{ patient.certificateType | upper }}</p>

            

    


            <div class="govuk-!-width-two-thirds">
            {% if ( data['role-type'] === 'ap' and patientStatus === 2 ) %}

                <!-- AP CERTIFICATE NEEDS AMENDING -->
                
                {{ govukInsetText({
                    html: 'This MCCD must be amended. Contact your medical examiner officer to find out what amendments you must make.',
                    classes: 'govuk-!-margin-bottom-9'
                }) }}

            {% elseif ( data['role-type'] === 'ap' and patientStatus === 4 ) %}

                <!-- AP CERTIFICATE THAT HAS IS WAITING TO BE SUBMITTED -->
                
                {{ govukInsetText({
                    html: 'This MCCD has been reviewed and signed off by a medical examiner. The medical examiner office will forward this certificate to the local register office.<br /><br />There is nothing further for you to do.',
                    classes: 'govuk-!-margin-bottom-9'
                }) }}

            {% elseif ( data['role-type'] === 'ap' and patientStatus === 5 ) %}

                <!-- AP CERTIFICATE THAT HAS BEEN SUBMITTED TO REGISTRAR -->
                
                {{ govukInsetText({
                    html: 'This MCCD has been signed off by a medical examiner and sent to the local register office.<br /><br />There is nothing further for you to do.',
                    classes: 'govuk-!-margin-bottom-9'
                }) }}

            {% elseif ( data['role-type'] === 'me' and patientStatus === 5 ) %}

                <!-- ME CERTIFICATE THAT HAS BEEN SUBMITTED TO REGISTRAR -->
                
                {{ govukInsetText({
                    html: 'This MCCD has been sent to the local register office.<br /><br />There is nothing further for you to do.',
                    classes: 'govuk-!-margin-bottom-9'
                }) }}

            {% elseif ( patient.amendsNotSubmitted === true and data['role-type'] === 'ap' ) %}

                {{ govukInsetText({
                    html: 'You have amended this MCCD, but you still need to submit these changes.<br /><br />Review this certificate, read and select the declaration at the bottom, and submit your amendments.',
                    classes: 'govuk-!-margin-bottom-9'
                }) }}

            {% elseif ( patient.amendsNotSubmitted === true and data['role-type'] === 'meo' ) %}

                {{ govukInsetText({
                    html: 'The attending practitioner has amended this MCCD but still needs to sign the declaration and submit this certificate. This MCCD cannot be sent to a medical examiner for review until this has been done.',
                    classes: 'govuk-!-margin-bottom-9'
                }) }}

            {% endif %}
            </div>


            <!--

______                                 _  ______     _        _ _     
|  _  \                               | | |  _  \   | |      (_) |    
| | | |___  ___ ___  __ _ ___  ___  __| | | | | |___| |_ __ _ _| |___ 
| | | / _ \/ __/ _ \/ _` / __|/ _ \/ _` | | | | / _ \ __/ _` | | / __|
| |/ /  __/ (_|  __/ (_| \__ \  __/ (_| | | |/ /  __/ || (_| | | \__ \
|___/ \___|\___\___|\__,_|___/\___|\__,_| |___/ \___|\__\__,_|_|_|___/
                                                                      

           -->


            {% if ( data['role-type'] === 'ap' and patientStatus === 1 ) %}

                <!-- or ( data['role-type'] === 'me' and patientStatus === 4 ) -->

                <!-- 

                    CHANGABLE 

                -->

                <!-- DECEASED PERSONS DETAILS -->
                

                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistDeceasedPersonsDetails[data.lang] },
                        classes: 'govuk-!-margin-top-9'
                    },
                    rows: [
                        {  key: { text: data.translations.dpdCheckAnswersNHSNumber[data.lang] }, value: { text: patient.nhsNo }, actions: { items: [{ href: 'nhs-number', text: 'Change', visuallyHiddenText: 'NHS number' }] } },
                        {  key: { text: data.translations.dpdCheckAnswersFullName[data.lang] }, value: { text: patient.name }, actions: { items: [{ href: 'name-of-the-deceased', text: 'Change', visuallyHiddenText: 'name' }] } },
                        {  key: { text: data.translations.dpdCheckAnswersDoB[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'date-of-birth', text: 'Change', visuallyHiddenText: 'date of birth' }] } },
                        {  key: { text: data.translations.dpdCheckAnswersAgeAtDeath[data.lang] }, value: { text: patient.age }, actions: { items: [{ href: 'age-66', text: 'Change', visuallyHiddenText: 'age' }] } },
                        {  key: { text: data.translations.dpdCheckAnswersEthnicity[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'ethnicity/ethnic-group', text: 'Change', visuallyHiddenText: 'ethnicity' }] } },
                        {  key: { text: data.translations.dpdCheckAnswersDoD[data.lang] }, value: { text: patient.dateOfDeath }, actions: { items: [{ href: 'date-of-death', text: 'Change', visuallyHiddenText: 'date of death' }] } },
                        {  key: { text: data.translations.dpdCheckAnswersDeathLocation[data.lang] }, value: { html: patient.placeOfDeath }, actions: { items: [{ href: 'unknown-address', text: 'Change', visuallyHiddenText: 'place of death' }] } },
                        {  key: { text: data.translations.dpdCheckAnswersConsultantName[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'me-referring-mp-name', text: 'Change', visuallyHiddenText: 'consultant name' }] } }
                    ]
                }) }}

                <!-- ACTIONS AFTER DEATH -->
                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistActionsAfterDeath[data.lang] }
                    },
                    rows: [
                        {  key: { text: data.translations.aadCheckAnswersPostMortem[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'death-circumstances', text: 'Change', visuallyHiddenText: 'whether a post mortem was held' }] } },
                        {  key: { text: data.translations.aadCheckAnswersImplantsInBody[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'implant', text: 'Change', visuallyHiddenText: 'whether the deceased had an implant' }] } },
                        {  key: { text: data.translations.aadCheckAnswersImplantDetails[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'implant', text: 'Change', visuallyHiddenText: 'implant details' }] } },
                        {  key: { text: data.translations.aadCheckAnswersImplantsRemoved[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'implant-removed', text: 'Change', visuallyHiddenText: 'whether implant was removed' }] } }
                    ]
                }) }}


            {% else %}

                <!-- 
                    
                    NON CHANGEABLE 
                    
                -->

                <!-- DECEASED PERSONS DETAILS -->
                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistDeceasedPersonsDetails[data.lang] },
                        classes: 'govuk-!-margin-top-9'
                    },
                    rows: [
                        {  key: { text: data.translations.dpdCheckAnswersNHSNumber[data.lang] }, value: { text: patient.nhsNo } },
                        {  key: { text: data.translations.dpdCheckAnswersFullName[data.lang] }, value: { text: patient.name } },
                        {  key: { text: data.translations.dpdCheckAnswersDoB[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.dpdCheckAnswersAgeAtDeath[data.lang] }, value: { text: patient.age } },
                        {  key: { text: data.translations.dpdCheckAnswersEthnicity[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.dpdCheckAnswersDoD[data.lang] }, value: { text: patient.dateOfDeath } },
                        {  key: { text: data.translations.dpdCheckAnswersDeathLocation[data.lang] }, value: { html: patient.placeOfDeath } },
                        {  key: { text: data.translations.dpdCheckAnswersConsultantName[data.lang] }, value: { text: '' } }
                    ]
                }) }}

                <!-- ACTIONS AFTER DEATH -->
                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistActionsAfterDeath[data.lang] }
                    },
                    rows: [
                        {  key: { text: data.translations.aadCheckAnswersPostMortem[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.aadCheckAnswersImplantsInBody[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.aadCheckAnswersImplantDetails[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.aadCheckAnswersImplantsRemoved[data.lang] }, value: { text: '' } }
                    ]
                }) }}

            {% endif %}


            <!--

 _____                               __  ______           _   _     
/  __ \                             / _| |  _  \         | | | |    
| /  \/ __ _ _   _ ___  ___    ___ | |_  | | | |___  __ _| |_| |__  
| |    / _` | | | / __|/ _ \  / _ \|  _| | | | / _ \/ _` | __| '_ \ 
| \__/\ (_| | |_| \__ \  __/ | (_) | |   | |/ /  __/ (_| | |_| | | |
 \____/\__,_|\__,_|___/\___|  \___/|_|   |___/ \___|\__,_|\__|_| |_|


            -->



            {% if data['role-type'] === 'ap' and ( patientStatus === 1 or patientStatus === 2 ) %}

            <!-- or ( data['role-type'] === 'me' and patientStatus === 4 ) -->

                <!-- 
                    
                    CHANGEABLE 
                    
                -->


                <!-- CAUSE OF DEATH  -->
                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistCoD[data.lang] }
                    },
                    rows: [
                        {  key: { text: data.translations.CYAcodO281aMainDisease[data.lang] }, value: { text: patient.causeOfDeath.1a }, actions: { items: [{ href: patient | getCauseOfDeathLink, text: 'Change', visuallyHiddenText: 'cause of death' }] } },
                        {  key: { text: data.translations.CYAcodO281bDiseaseLeadingTo1a[data.lang] }, value: { text: '' }, actions: { items: [{ href: patient | getCauseOfDeathLink, text: 'Change', visuallyHiddenText: 'cause of death' }] } },
                        {  key: { text: data.translations.CYAcodO281cDiseaseLeadingTo1b[data.lang] }, value: { text: '' }, actions: { items: [{ href: patient | getCauseOfDeathLink, text: 'Change', visuallyHiddenText: 'cause of death' }] } },
                        {  key: { text: data.translations.CYAcodO281dDiseaseLeadingTo1c[data.lang] }, value: { text: '' }, actions: { items: [{ href: patient | getCauseOfDeathLink, text: 'Change', visuallyHiddenText: 'cause of death' }] } },
                        {  key: { text: data.translations.CYAcodO282OtherConditions[data.lang] }, value: { text: '' }, actions: { items: [{ href: patient | getCauseOfDeathLink, text: 'Change', visuallyHiddenText: 'cause of death' }] } },
                        {  key: { text: data.translations.CYAcodO28Employment[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'caused-by-employment', text: 'Change', visuallyHiddenText: 'whether employment affected the death' }] } },
                        {  key: { text: data.translations.CYAcodO28Pregnancy[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'pregnant-at-death', text: 'Change', visuallyHiddenText: 'whether deceased was pregnant at the time of their death' }] } },
                        {  key: { text: data.translations.CYAcodO28PregnancyContributed[data.lang] }, value: { text: '' }, actions: { items: [{ href: 'pregnancy-contributed', text: 'Change', visuallyHiddenText: 'whether the pregnancy contributed to the death' }] } }
                    ]
                }) }}

            {% else %}

                <!-- 
                    
                    NON CHANGEABLE 
                    
                -->

                <!-- CAUSE OF DEATH  -->
                {{ govukSummaryList({
                    card: {
                        title: { text: data.translations.pmMCCDTasklistCoD[data.lang] }
                    },
                    rows: [
                        {  key: { text: data.translations.CYAcodO281aMainDisease[data.lang] }, value: { text: patient.causeOfDeath.1a } },
                        {  key: { text: data.translations.CYAcodO281bDiseaseLeadingTo1a[data.lang] }, value: { text: patient.causeOfDeath.1b } },
                        {  key: { text: data.translations.CYAcodO281cDiseaseLeadingTo1b[data.lang] }, value: { text: patient.causeOfDeath.1c } },
                        {  key: { text: data.translations.CYAcodO281dDiseaseLeadingTo1c[data.lang] }, value: { text: patient.causeOfDeath.1d } },
                        {  key: { text: data.translations.CYAcodO282OtherConditions[data.lang] }, value: { text: patient.causeOfDeath.1e } },
                        {  key: { text: data.translations.CYAcodO28Employment[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.CYAcodO28Pregnancy[data.lang] }, value: { text: '' } },
                        {  key: { text: data.translations.CYAcodO28PregnancyContributed[data.lang] }, value: { text: '' } }
                    ]
                }) }}

            {% endif %}


            <!-- 

  ___  ______  ______     _        _ _     
 / _ \ | ___ \ |  _  \   | |      (_) |    
/ /_\ \| |_/ / | | | |___| |_ __ _ _| |___ 
|  _  ||  __/  | | | / _ \ __/ _` | | / __|
| | | || |     | |/ /  __/ || (_| | | \__ \
\_| |_/\_|     |___/ \___|\__\__,_|_|_|___/
                                           

            -->


            <!-- ATTENDING PRACTITIONERS / MEDICAL EXAMINERS INFORMATION -->

            {% set doctorTitle = data.translations.pmMCCDTasklistAttendingPractitionersInformation[data.lang] %}
            {% if patient.certificateType === 'me' %}
                {% set doctorTitle = data.translations.pmMCCDTasklistMedicalExaminersInformation[data.lang] %}
            {% endif %}

            {% if ( data['role-type'] === 'ap' and patient.certificateType === 'ap' ) or ( data['role-type'] === 'me' and patient.certificateType === 'me' ) %}

                <!-- USER DETAILS -->
                {% set apRows = [
                    {  key: { text: data.translations.dpdConfirmDetailsFullName[data.lang] }, value: { text: data.user.name or 'Ann Other' } },
                    {  key: { text: data.translations.dpdConfirmDetailsGMC[data.lang] }, value: { text: data.user.gmcNumber or '1234567' } },
                    {  key: { text: 'Qualification' }, value: { html: data['qualifications'] or 'MB ChB' } }
                ] %}

            {% else %}

                <!-- DEFAULT VALUES -->
                {% set apRows = [
                    {  key: { text: data.translations.dpdConfirmDetailsFullName[data.lang] }, value: { text: 'Sarah Smith' } },
                    {  key: { text: data.translations.dpdConfirmDetailsGMC[data.lang] }, value: { text: '123467' } },
                    {  key: { text: 'Qualification' }, value: { html: 'MB ChB' } }
                ] %}

            {% endif %}
            

            {{ govukSummaryList({
                card: {
                    title: { text: doctorTitle }
                },
                rows: apRows

            }) }}

        </main>

            <!--


      _        ______  _________  _____   ___   ____  _____   ______   
     / \     .' ___  ||  _   _  ||_   _|.'   `.|_   \|_   _|.' ____ \  
    / _ \   / .'   \_||_/ | | \_|  | | /  .-.  \ |   \ | |  | (___ \_| 
   / ___ \  | |           | |      | | | |   | | | |\ \| |   _.____`.  
 _/ /   \ \_\ `.___.'\   _| |_    _| |_\  `-'  /_| |_\   |_ | \____) | 
|____| |____|`.____ .'  |_____|  |_____|`.___.'|_____|\____| \______.' 
                                                                       


            -->

        <div class="govuk-grid-column-two-thirds govuk-!-padding-0">

            {% if data['role-type'] == 'ap' %}

                <!-- AP -->

                {% if( patient.amendsNotSubmitted === true ) %}

                    <!-- AMENDS NOT SUBMITTED -->

                    <form action="mccd-summary" method="post" novalidate>

                        {{ govukCheckboxes({
                            name: 'ap-cert-declaration',
                            fieldset: {
                                legend: {
                                text: data.translations.apDeclarationPageTitle[data.lang],
                                isPageHeading: true,
                                classes: 'govuk-fieldset__legend--l'
                                }
                            },
                            items: [
                                {
                                value: 'apDeclarationContent',
                                text: data.translations.apDeclarationContent[data.lang]
                                }
                            ]
                            }) }}

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: 'Submit amendments'
                            }) }}
                            {{ govukButton({
                                text: data.translations.globalReturnToDashboard[data.lang],
                                href: 'dashboard',
                                classes: 'govuk-button--secondary'
                            }) }}
                        </div>

                    </form>


                {% else %}

                    <!-- BACK TO DASHBOARD -->
                    {{ govukButton({
                        text: data.translations.globalReturnToDashboard[data.lang],
                        href: 'dashboard',
                        classes: 'govuk-button'
                    }) }}

                {% endif %}

            {% elseif data['role-type'] == 'me' %}

                <!-- ME -->
            
                {% if patientStatus === 3 %}

                    <!-- IF STATUS = For sign off by Medical Examiner -->
                    <form action="mccd-summary" method="post" novalidate>

                        {{ govukRadios({
                            name: 'me-signoff',
                            value: data['me-signoff'],
                            fieldset: {
                                legend: {
                                    text: 'Medical examiner sign off',
                                    isPageHeading: true,
                                    classes: 'govuk-fieldset__legend--l'
                                }
                            },
                            items: [
                                { text: 'This certificate requires amendments by the attending practitioner', value: 'amend' },
                                { text: 'This certificate is ready to be sent to the local register office',  value: 'register office' }
                            ]
                        }) }}
                    
                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: data.translations.globalSaveContinue[data.lang]
                            }) }}
                            {{ govukButton({
                                text: data.translations.globalReturnToDashboard[data.lang],
                                href: 'dashboard',
                                classes: 'govuk-button--secondary'
                            }) }}
                        </div>
                        
                    </form>

                {% else %}

                    <!-- ELSE: BACK TO DASHBOARD -->
                    {{ govukButton({
                        text: data.translations.globalReturnToDashboard[data.lang],
                        href: 'dashboard',
                        classes: 'govuk-button'
                    }) }}

                {% endif %}

            {% else %}

                <!-- MEO -->

                <!-- IF STATUS = For officer review -->
                {% if patientStatus === 1  %}

                    {% if ( patient.amendsNotSubmitted) %}

                        <!-- BACK TO DASHBOARD -->
                        {{ govukButton({
                            text: data.translations.globalReturnToDashboard[data.lang],
                            href: 'dashboard',
                            classes: 'govuk-button'
                        }) }}

                    {% else %}

                        <!-- HAPPY TO SEND FOR ME REVIEW -->
                        <form action="mccd-summary" method="post" novalidate>

                            {{ govukCheckboxes({
                                name: 'meo-scrutiny-declaration',
                                fieldset: {
                                    legend: {
                                    text: data.translations.meoDeclarationPageTitle[data.lang],
                                    isPageHeading: true,
                                    classes: 'govuk-fieldset__legend--l'
                                    }
                                },
                                items: [
                                    {
                                    value: 'meoDeclarationContent',
                                    text: data.translations.meoDeclarationContent[data.lang],
                                    checked: ( data['meo-cert-declaration'] )
                                    }
                                ]
                                }) }}

        
                        
                            <div class="govuk-button-group">

                                {{ govukButton({
                                text: data.translations.meoDeclarationSubmitForScrutiny[data.lang]
                                }) }}

                                {{ govukButton({
                                    text: data.translations.globalReturnToDashboard[data.lang],
                                    href: 'dashboard',
                                    classes: 'govuk-button--secondary'
                                }) }}

                            </div>
                            
                        </form>

                    {% endif %}

                {% elseif patientStatus === 4 %}

                    <!--IF STATUS = Review complete - send to registrar-->
                    <form action="mccd-summary" method="post" novalidate>

                        <div class="govuk-form-group">
                    
                            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    
                                    <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                                        Download certificate
                                    </h2>
                                    <p>Download this certificate to your computer and send it to the local register office as an email attachment. After you have sent this MCCD to the local register office return to this screen and mark it as sent by ticking the checkbox.</p>
                                    <span style="user-select:none;cursor:not-allowed;" class="govuk-button govuk-button--secondary">Download certificate</span>
                    
                                </legend>
                    
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="sent-to-registrar" name="sent-to-registrar" type="checkbox" value="I have sent this certificate to the registrar">
                                        <label class="govuk-label govuk-checkboxes__label" for="sent-to-registrar">
                                            I have sent this certificate to the local register office
                                        </label>
                                    </div>
                                </div>
                    
                            </fieldset>
                        </div>


                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: 'Mark MCCD as sent to local register office'
                            }) }}
                            {{ govukButton({
                                text: data.translations.globalReturnToDashboard[data.lang],
                                href: 'dashboard',
                                classes: 'govuk-button--secondary'
                            }) }}
                        </div>
                    
                    </form>


                {% else %}

                    <!-- BACK TO DASHBOARD -->
                    {{ govukButton({
                        text: data.translations.globalReturnToDashboard[data.lang],
                        href: 'dashboard',
                        classes: 'govuk-button'
                    }) }}
                    
                {% endif %}

            {% endif %}


        

        {% else %}

            <h1 class="govuk-heading-l">Patient not found</h1>

            {{ govukInsetText({
                text: 'No patient information could be found for that ID.'
            }) }}

        {% endif %}

        </div>

    </div>
</div>

{{ data | debugData | safe }}

{% endblock %}