{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="mccd-tasklist" method="post" novalidate>

    {% set name = [ data['deceased-first-name'], data['deceased-last-name'] ] %}

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l govuk-caption--bottom">{{ name | join(' ') | safe }}</span>
      {{ data.translations.mccdTasklistPageTitle[data.lang] }}
    </h1>

    <!-- SET VARIABLES -->
    {% set deceasedLink = '66-or-65' %}
    {% set actionsAfterDeathLink = 'death-circumstances' %}
    {% set causeOfDeathLink = 'cause-of-death' %}

    {% set notStarted = '<span class="govuk-tag govuk-tag--grey">'+data.translations.sectionStatusNotStarted[data.lang]+'</span>' %}
    {% set completed = '<span class="govuk-tag">'+data.translations.sectionStatusCompleted[data.lang]+'</span>' %}

    {% set deceasedTag = notStarted %}
    {% set actionsAfterDeathTag = notStarted %}
    {% set causeOfDeathTag = notStarted %}

    {% set taskListErrors = [] %}

    {% if data['deceasedComplete'] %}
      {% set deceasedLink = 'cya-deceased' %}
      {% set deceasedTag = completed %}
    {% else %}
      {% set taskListErrors = ( taskListErrors.push({ text: "Complete the section Deceased person's details", href: '#link-d' }), taskListErrors ) %}
    {% endif %}

    {% if data['afterDeathComplete'] %}
      {% set actionsAfterDeathLink = 'cya-death-circumstances' %}
      {% set actionsAfterDeathTag = completed %}
    {% else %}
      {% set taskListErrors = ( taskListErrors.push({ text: 'Complete the section Actions after death', href: '#link-aad' }), taskListErrors ) %}
    {% endif %}

    {% if data['causeDeathComplete'] %}
      {% set causeOfDeathLink = 'cya-cause-death' %}
      {% set causeOfDeathTag = completed %}
    {% else %}
      {% set taskListErrors = ( taskListErrors.push({ text: 'Complete the section Cause of death', href: '#link-cod' }), taskListErrors ) %}
    {% endif %}


    {% if data.showTaskListError === 'true' %}
    
      <!-- ERROR MESSAGE -->
       {{ govukErrorSummary({
            titleText: 'There is a problem',
            errorList: taskListErrors
          }) }}

    {% endif %}


    <!-- DECEASED PERSON -->
    {{ govukTable({
      caption: data.translations.mccdTasklistH2SectionTitleAboutDeceased[data.lang],
      captionClasses: 'govuk-table__caption--m',
      rows: [
        [
          { html: '<a class="govuk-link" href="'+deceasedLink+'">'+data.translations.linkToSectionAboutDeceased[data.lang]+'</a>' },
          { html: deceasedTag, classes: 'govuk-!-text-align-right' }
        ]
      ]
    }) }}

    <!-- ABOUT THE DEATH -->
    {{ govukTable({
      caption: data.translations.mccdTasklistH2SectionTitleAboutDeath[data.lang],
      captionClasses: 'govuk-table__caption--m',
      attributes: { id: 'about-the-death-header' },
      rows: [
        [
          { html: '<a class="govuk-link" href="'+actionsAfterDeathLink+'">'+data.translations.linkToSectionActionsAfterDeath[data.lang]+'</a>' },
          { html: actionsAfterDeathTag, classes: 'govuk-!-text-align-right' }
        ],
        [
          { html: '<a class="govuk-link" href="'+causeOfDeathLink+'">'+data.translations.linkToSectionCauseDeath[data.lang]+'</a>' },
          { html: causeOfDeathTag, classes: 'govuk-!-text-align-right' }
        ]
      ]
    }) }}

      <!-- BUTTONS -->
      <div class="govuk-button-group">
          {{ govukButton({
            text: data.translations.globalSaveContinue[data.lang]
          }) }}
          {{ govukButton({
              text: data.translations.globalBackToDashboard[data.lang],
              href: 'dashboard',
              classes: 'govuk-button--secondary'
          }) }} 
        </div>

    </form>

  </div>
</div>

{{ data | debugData | safe }}

{% endblock %}