{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">This NHS number has already been used to create a Medical certificate of cause of death (MCCD)</h1>
    <p class="govuk-body">An MCCD has already been created using the NHS number <span><strong>{{ data['nhs-number-input'] }}</strong></span>.<br>
        If you entered the wrong NHS number, go back and <a href="javascript:history.back()">enter the deceased's correct NHS number</a>.
    </p>
    <ul class="govuk-list govuk-list--bullet">
    <li>
        If you want to create a new MCCD using this NHS number, select Continue.
    </li>
    <li>
        If you do not want to create a new MCCD using this NHS number, select Return to dashboard.
    </li>
    </ul>
    
    <div class="govuk-button-group">
      <a href="name-of-the-deceased" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
    
      <a href="dashboard" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Return to dashboard
      </a>
    </div>


  </div>
</div>

{% endblock %}