{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="pregnancy-contributed" method="post" novalidate>

      {{ govukRadios({
        name: 'pregnancy-contributed',
        value: data['pregnancy-contributed'],
        fieldset: {
          legend: {
            text: data.translations.pregnancyContributedPageTitle[data.lang],
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l'
          }
        },
        hint: { text: data.translations.employmentPageHint[data.lang] },
        items: [
          {
            value: 'globalRadioYes',
            text: data.translations.globalRadioYes[data.lang]
          },
          {
            value: 'globalRadioNo',
            text: data.translations.globalRadioNo[data.lang]
          },
          {
            value: 'globalRadioUnknown',
            text: data.translations.globalRadioUnknown[data.lang]
          }
        ]
      }) }}

      {{ govukButton({
        text: data.translations.globalSaveContinue[data.lang]
      }) }}

    </form>

  </div>
</div>
</main>
{{ data | debugData | safe }}

{% endblock %}