{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="pregnant-at-death" method="post" novalidate>

      {{ govukRadios({
        name: 'pregnant-at-death',
        value: data['pregnant-at-death'],
        fieldset: {
          legend: {
            text: data.translations.pregnancyPageTitle[data.lang],
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l'
          }
        },
        items: [
          {
            value: 'pregnancyInputNA',
            text: data.translations.pregnancyInputNA[data.lang]
          },
          {
            value: 'pregnancyInputPregnantAtDeath',
            text: data.translations.pregnancyInputPregnantAtDeath[data.lang]
          },
          {
            value: 'pregnancyInputPregnant1to42PriorToDeath',
            text: data.translations.pregnancyInputPregnant1to42PriorToDeath[data.lang]
          },
          {
            value: 'pregnancyInputPregnant43toYearPriorToDeath',
            text: data.translations.pregnancyInputPregnant43toYearPriorToDeath[data.lang]
          },
          {
            value: 'pregnancyInputNotPregnant',
            text: data.translations.pregnancyInputNotPregnant[data.lang]
          },
          {
            value: 'pregnancyInputUnknown',
            text: data.translations.pregnancyInputUnknown[data.lang]
          }
        ]
      }) }}

      {{ govukButton({
        text: data.translations.globalSaveContinue[data.lang]
      }) }}

    </form>

  </div>
</div>
</main>
{{ data | debugData | safe }}


{% endblock %}