{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <form action="confirm-address" method="post">

      <div class="">
        <p><b>{{ data['hospitalAddresses'] | length }}</b> {% if (data['hospitalAddresses'] | length > 1)
          %}addresses{% else %}address{% endif %} found for <b>{{ data['hospital-postcode'] or '[postcode]' }}</b>. If
          you can't find the hospital, check the spelling or postcode and <a href="hospital-postcode">search
            again</a>, or enter the address manually.</p>
      </div>

    <div class="govuk-form-group">
      {% if data['hospital-postcode'] %}
      <h1 class="govuk-heading-l">Confirm hospital address</h1>
      <div class="govuk-inset-text">{{ hospitalAddress }}</div>
      
      {% else %}
      <h1 class="govuk-heading-l">Confirm address</h1>
      <div class="govuk-inset-text">{{ anotherAddresses }}</div>

      
      {% endif %}

      <button class="govuk-button"> Use this address</button>
      
      <p class="govuk-body"><a href="javascript:history.back()">Select a different address</a></p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
    
    </form>

  </div>
</div>

{% endblock %}

  