{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content"></main>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="confirm-address" method="post" novalidate>

        {% if data.addressPath === 'hospital' %}

          {% set reselectLink = 'select-hospital-address' %}
          {% set manualLink = 'location-death-hospital' %}

          <h1 class="govuk-heading-l">Confirm hospital address</h1>
          <div class="govuk-inset-text">{{ data['hospital-address'] }}</div>

        {% else %}

          {% set reselectLink = 'select-another-address' %}
          {% set manualLink = 'exact-address' %}

          <h1 class="govuk-heading-l">Confirm address</h1>
          <div class="govuk-inset-text">{{ data['another-address'] }}</div>

        {% endif %}
        
         {{ govukButton({
              text: data.translations.globalUseAddress[data.lang]
        }) }}

        <p class="govuk-body"><a href="{{ reselectLink }}">{{ data.translations.globalSelectDifferentAddress[data.lang] }}</a></p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="{{ manualLink }}" class="govuk-link">{{ data.translations.globalEnterAddressManually[data.lang] }}</a></p>
        

    </form>

  </div>
</div>
</main>
{% endblock %}