{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="select-hospital-address" method="post" novalidate>

      <div class="govuk-form-group">

        <div class="govuk-radios">


          <div class="govuk-form-group">

            <div class="">
              <p><b>{{ data['anotherAddresses'] | length }}</b> {% if (data['anotherAddresses'] | length > 1)
                %}addresses{% else %}address{% endif %} found for <b>{{ data.queryString }}</b>. If
                you can't find the address, check the postcode and <a href="another-location-postcode">search
                  again</a>, or enter the address manually.</p>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Select an address
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">

                  {% for anotherAddress in data['anotherAddresses'] %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="another-address-{{loop.index}}" name="another-address" type="radio" value="{{ anotherAddress }}">
                      <label class="govuk-label govuk-radios__label" for="another-address-{{loop.index}}">{{ anotherAddress or 'Sample community address' }}</label>
                    </div>
                  {% endfor %}

              </fieldset>
            </div>


            <!--<select class="govuk-select" id="select-address" name="select-hospital-address">
                <option value="choose" selected>Select address</option>
                {% for hospitalAddress in data['hospitalAddresses'] %}
                  <option value="{{ hospitalAddress }}">{{ hospitalAddress }}</option>
                {% endfor %}
              </select>-->
          </div>


        </div>
      </div>

      </fieldset>

      <button class="govuk-button" type="submit">Use this address</button>

    </form>

    <div class="govuk-form-group">
      <p><a href="exact-address">Enter address manually</a></p>
    </div>

  </div>
</div>

{{ data | debugData | safe }}

</main>
{% endblock %}