{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-width-container">
        
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper">
          
            <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds">
                
                <span class="govuk-tag govuk-tag--orange">To be amended</span>
                
                <h1 class="govuk-heading-l govuk-!-margin-top-2">
                    MCCD reference #327463
                </h1>

                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <span class="govuk-caption-m">
                        21 November 2023
                    </span>
                Medical Examiner’s comment
                </h2>
                    
                <p class="govuk-body">
                    Heart attack is not an acceptable cause of death. Please change it to myocardial infarction.
                </p>
            </div>
            
          </div>
        </main>
      </div>

    <div class="govuk-grid-column-full">        

        <div class="govuk-summary-card">

            <div class="govuk-summary-card__title-wrapper">

                <h2 class="govuk-summary-card__title">
                    Deceased person's details
                </h2>

            </div>

            <div class="govuk-summary-card__content">

                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">

                        <dt class="govuk-summary-list__key">
                            NHS number
                        </dt>

                        <dd class="govuk-summary-list__value">
                            {{ data['nhs-number'] or '785 302 1445' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="nhs-number">
                              Change<span class="govuk-visually-hidden"> nhs number</span>
                            </a>
                          </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['deceased-first-name'] or 'Joseph' }} {{ data['deceased-middle-name'] or 'William' }} {{data['deceased-last-name'] or 'Doyle' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="name-of-the-deceased">
                              Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                          </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['dob-day'] or '11' }} {{ data['dob-month'] or 'June' }} {{ data['dob-year'] or '1984' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="date-of-birth">
                              Change<span class="govuk-visually-hidden"> date of birth</span>
                            </a>
                          </dd>

                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Age
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['deceased-age'] or '39' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="age-66">
                              Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                          </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Ethnicity
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['ethnicity'] or 'White - British' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="ethnicity">
                              Change<span class="govuk-visually-hidden"> ethnicity</span>
                            </a>
                          </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['date-of-death'] or '9 November 2023' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="date-of-death">
                              Change<span class="govuk-visually-hidden"> date of death</span>
                            </a>
                          </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['location-death'] or 'Leeds General Infirmary' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="location-death-hospital">
                              Change<span class="govuk-visually-hidden"> location of death</span>
                            </a>
                          </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Consultant responsible for care
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Mary Smith
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="location-death-hospital">
                              Change<span class="govuk-visually-hidden"> consultant</span>
                            </a>
                          </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Actions after death</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Post-mortem?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['death-circumstances'] or 'No' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="death-circumstances">
                              Change<span class="govuk-visually-hidden"> death circumstances</span>
                            </a>
                          </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implants in body?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['implant'] or 'No' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="implant">
                              Change<span class="govuk-visually-hidden"> implant</span>
                            </a>
                          </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implant details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['implant-details'] or 'Not applicable' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="implant">
                              Change<span class="govuk-visually-hidden"> implant details</span>
                            </a>
                          </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implants removed?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['implant-removed'] or 'Not applicable' }}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="implant-removed">
                              Change<span class="govuk-visually-hidden"> implant removed</span>
                            </a>
                          </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                
                <h2 class="govuk-summary-card__title">Cause of death</h2>
                
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="cause-of-death">
                        Change
                            <span class="govuk-visually-hidden">
                                cause of death
                            </span>
                      </a>
                    </li>
                  </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(a) Disease or condition directly leading to death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['main-cause'] or 'Heart attack' }}
                        </dd>
                        <dd class="govuk-summary-list__value">
                            20 minutes
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(b) Other disease or condition, if any, leading to 1(a)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data ['secondary-cause']}}
                        </dd>
                        <dd class="govuk-summary-list__value">
                            
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(c) Other disease or condition, if any, leading to 1(b)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['other-conditions-c'] }}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(d) Other disease or condition, if any, leading to 1(c)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['other-conditions-d'] }}
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            2 Other significant conditions contributing to their death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['other-significant-conditions']}}
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Death affected by employment?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['caused-by-employment']}}
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Pregnancy
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['pregnant-at-death']}}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Death affected by pregnancy?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['pregnancy-contributed']}}
                        </dd>
                    </div>

                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Attending practitioners information</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Sarah Phillips
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GMC number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            12345678
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Work address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            123 Hospital Road, Wing 4,<br>
                            Newcastle,<br>
                            Tyne and Wear,<br>
                            NE12 3AB
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        
        <form action="ap-mccd-summary" method="post">
            <button class="govuk-button govuk-button--primary" type="submit">
                Complete MCCD
            </button>
        </form>
    </div>
</div>

{% endblock %}