{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      <!--<span class="govuk-caption-l govuk-caption--bottom">
        Cause of death
      </span> -->
      Check your answers
    </h1>

    <div class="govuk-hint govuk-!-margin-bottom-7" id="hint">
      Check that all the details are correct before you submit this certificate for medical examiner’s scrutiny.
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Cause of death (1)</h2>


    

    <form action="check-your-answers-cod" method="post">

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            
            {% if data['over-under-28'] == 'yes' %}
            (a) Disease or condition directly leading to death
            
            {% else %}
            (a) Main disease or condition in infant
            
            {% endif %}

          </dt>


          <!--Testing unit read-->

          <dd class="govuk-summary-list__value">
            {{ data['main-cause']}}</br>
            <p class="govuk-body-s">{{ data['duration1']}} {{ data['time-unit-duration-1']}} between onset and death</p>
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> main cause</span>
            </a>

          </dd>

        </div>
<!--
        {% if data['over-under-28'] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            Time between onset and death
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['duration1']}} {{ data['time-unit-duration-1']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>

        </div>
        {% endif %}
      -->
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['over-under-28'] == 'yes' %}
            (b) Other disease or condition, if any, leading to 1(a)
            {% else %}
            b. Other disease or conditions in infant
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['secondary-cause']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> secondary cause</span>
            </a>

          </dd>

        </div>
        {% if data['over-under-28'] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            Time between onset and death
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['duration2']}} {{ data['time-unit-duration-2']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>

        </div>
        

        {% endif %}

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['over-under-28'] == 'yes' %}
            1(c) Other disease or condition, if any, leading to 1(b)
            {% else %}
            c. Main maternal disease or conditions affecting infant
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-conditions-c']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              {% if data['over-under-28'] == 'yes' %}
              Change<span class="govuk-visually-hidden"> name</span>
              {% else %}
              Change<span class="govuk-visually-hidden"> main maternal disease or conditions</span>
              {% endif %}
            </a>

          </dd>

        </div>

        {% if data['over-under-28'] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            Time between onset and death
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['duration3']}} {{ data['time-unit-duration-3']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>

        </div>
        

        {% endif %}

        <!--  -->

        
        {% if data['over-under-28'] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            1(d) Other disease or condition, if any, leading to 1(c)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-conditions-d']}}
          </dd>
        

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> c</span>
            </a>

          </dd>

        </div>
        {% endif %}

        {% if data['over-under-28'] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            Time between onset and death
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['duration4']}} {{ data['time-unit-duration-4']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>

        </div>
        

        {% endif %}


        <!--  -->



        {% if data['over-under-28'] == 'no' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            d. Other maternal disease or conditions affecting infant
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-conditions-d']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> other maternal disease or conditions</span>
            </a>

          </dd>

        </div>
        {% endif %}
        
        {% if data['over-under-28'] == 'yes' %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            2(a) Other significant conditions contributing to their death
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-significant-conditions']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="other-significant-conditions">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            Time between onset and death
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['duration5']}} {{ data['time-unit-duration-5']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>

        </div>
        {% endif %}
        

        {% if data['over-under-28'] == 'yes' %}
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Death affected by employment?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['caused-by-employment']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="caused-by-employment">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>

          </dd>

        </div>
        
        {% endif %}
      </dl>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}