{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      <span class="govuk-caption-l govuk-caption--bottom">
        Actions after death
      </span>
      Check your answers
    </h1>

    <div class="govuk-hint govuk-!-margin-bottom-7" id="hint">
      Check that all the details are correct before you submit this certificate for medical examiner’s scrutiny.
    </div>    

    
    
    
    
    <form action="check-your-answers-dc" method="post">

      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">

          <dt class="govuk-summary-list__key">
            Post-mortem?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['death-circumstances']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="death-circumstances">
              Change<span class="govuk-visually-hidden"> post-mortem</span>
            </a>

          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Implants in body?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['implant']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="implant">
              Change<span class="govuk-visually-hidden"> whether there was an implant in the body or not</span>
            </a>

          </dd>

        </div>

        {% if data['implant'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Implant details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['implant-details']}}
            </dd>

            <dd class="govuk-summary-list__actions">

              <a href="death-seen-by">
                Change<span class="govuk-visually-hidden"> implant details</span>
              </a>

            </dd>

          </div>
        


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Implants removed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['implant-removed']}}
            </dd>

            <dd class="govuk-summary-list__actions">

              <a href="death-seen-by">
                Change<span class="govuk-visually-hidden"> if the implant has been removed or not</span>
              </a>

            </dd>

          </div>
        {% endif %}


      </dl>
      <button class="govuk-button" type="submit">
        Save and continue
      </button>

    </form>

  </div>
</div>

{% endblock %}