{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      <span class="govuk-caption-l govuk-caption--bottom">
        Deceased person's details
      </span>
      Check that all the deceased person's details are correct
    </h1>
    
    <div class="govuk-hint govuk-!-margin-bottom-7" id="hint">
      Make sure the information you provide is correct before you submit this certificate for medical examiner’s scrutiny.
    </div>



  <form action="check-your-answers-dec-details" method="post">

      <!-- OVER 28 DAYS -->

      {% if data['over-under-28'] == 'yes' %}

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NHS number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nhs-number-input']}}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a href="nhs-number">
            Change<span class="govuk-visually-hidden"> nhs number</span>
          </a>

        </dd>

      </div>

      <div class="govuk-summary-list__row">
        
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['deceased-first-name']}} {{ data['deceased-middle-name']}} {{ data['deceased-last-name']}}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a href="name-of-the-deceased">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>

        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['dob-day']}} {{ data['dob-month']}} {{ data['dob-year']}}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a href="age-66">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['age-66']}} {{ data['age-time-unit']}}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a href="age-66">
            Change<span class="govuk-visually-hidden"> age</span>
          </a>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ethnicity
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['ethnicity']}}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a href="age-66">
            Change<span class="govuk-visually-hidden"> ethnicity</span>
          </a>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of death
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['dod-day']}} {{ data['dod-month']}} {{ data['dod-year']}}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a href="date-of-death">
            Change<span class="govuk-visually-hidden"> date of death</span>
          </a>

        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location of death
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['death-in-hospital'] == 'no' %}

            {% if data['location-of-death'] == 'no' %}
              {{ data['location-death']}}

            {% else %}
              {% if data['select-another-address'] %}
                {{ data['select-another-address'] }}

              {% else %}
                {{ data['address-line-1']}}
                {{ data['address-line-2']}}<br>
                {{ data['address-town']}}<br>
                {{ data['address-county']}}<br>
                {{ data['address-postcode']}}<br>
            {% endif %}
            
          {% endif %}
          
          {% else %}
            {% if data['select-hospital-address'] %}
              {{ data['select-hospital-address'] }}
          
            {% else %}
              {{ data['address-line-1']}}
              {{ data['address-line-2']}}<br>
              {{ data['address-town']}}<br>
              {{ data['address-county']}}<br>
              {{ data['address-postcode']}}<br>
          {% endif %}
          {% endif %}
        
        </dd>

        <dd class="govuk-summary-list__actions">

          <a href="location-of-death">
            Change<span class="govuk-visually-hidden"> location of death</span>
          </a>

        </dd>

      </div>

          {% if data['death-in-hospital'] == 'yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Consultant responsible for care
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['consultant']}}
                </dd>

                <dd class="govuk-summary-list__actions">

                  <a href="death-hospital">
                    Change<span class="govuk-visually-hidden"> consultant name</span>
                  </a>

                </dd>

              </div>
          {% endif %}
      </dl>


<!-- UNDER 28 Days -->
      
      {% else %} 

      <dl class="govuk-summary-list">

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['nhs-number'] == 'Yes' %}
            {{ data['nhs-number-input']}}
            {% else %}
            Not provided
            {% endif %}
          </dd>
  
          <dd class="govuk-summary-list__actions">
  
            <a href="nhs-number">
              Change<span class="govuk-visually-hidden"> nhs number</span>
            </a>
  
          </dd>
  
        </div>

        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['child-first-name']}} {{ data['child-middle-name']}} {{ data['child-last-name']}}
          </dd>
  
          <dd class="govuk-summary-list__actions">
  
            <a href="name-of-the-deceased">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
  
          </dd>
  
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dob-day']}} {{ data['dob-month']}} {{ data['dob-year']}}
          </dd>
  
          <dd class="govuk-summary-list__actions">
  
            <a href="age-66">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
  
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Place of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['location-of-birth']}}
          </dd>
  
          <dd class="govuk-summary-list__actions">
  
            <a href="age-66">
              Change<span class="govuk-visually-hidden"> place of birth</span>
            </a>
  
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['deceased-persons-age']}} {{ data['65-age-time-unit']}}
          </dd>

          <dd class="govuk-summary-list__actions">

            <a href="deceased-persons-age">
              Change<span class="govuk-visually-hidden"> age</span>
            </a>

          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ethnicity
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ethnicity']}}
          </dd>
  
          <dd class="govuk-summary-list__actions">
  
            <a href="age-66">
              Change<span class="govuk-visually-hidden"> ethnicity</span>
            </a>
  
          </dd>
        </div>
  
        
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of death
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dod-day']}} {{ data['dod-month']}} {{ data['dod-year']}}
          </dd>
  
          <dd class="govuk-summary-list__actions">
  
            <a href="date-of-death">
              Change<span class="govuk-visually-hidden"> date of death</span>
            </a>
  
          </dd>
  
        </div>       
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location of death
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['death-in-hospital'] == 'no' %}
  
              {% if data['location-of-death'] == 'no' %}
                {{ data['location-death']}}
  
              {% else %}
                {% if data['select-another-address'] %}
                  {{ data['select-another-address'] }}
  
                {% else %}
                  {{ data['address-line-1']}}
                  {{ data['address-line-2']}}<br>
                  {{ data['address-town']}}<br>
                  {{ data['address-county']}}<br>
                  {{ data['address-postcode']}}<br>
              {% endif %}
              
            {% endif %}
            
            {% else %}
              {% if data['select-hospital-address'] %}
                {{ data['select-hospital-address'] }}
            
              {% else %}
                {{ data['address-line-1']}}
                {{ data['address-line-2']}}<br>
                {{ data['address-town']}}<br>
                {{ data['address-county']}}<br>
                {{ data['address-postcode']}}<br>
            {% endif %}
            {% endif %}
          
          </dd>
  
          <dd class="govuk-summary-list__actions">
  
            <a href="location-of-death">
              Change<span class="govuk-visually-hidden"> location of death</span>
            </a>
  
          </dd>
  
        </div>
  
            {% if data['death-in-hospital'] == 'yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Consultant responsible for care
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['consultant']}}
                  </dd>
  
                  <dd class="govuk-summary-list__actions">
  
                    <a href="death-hospital">
                      Change<span class="govuk-visually-hidden"> consultant name</span>
                    </a>
  
                  </dd>
  
                </div>
            {% endif %}

        </dl>
      
      
      
      {% endif %}
  </form>

    <a class="govuk-button" href="mccd-tasklist">
      Save and continue
    </a>

  </div>
</div>

{% endblock %}