{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      <span class="govuk-caption-l govuk-caption--bottom">
        Cause of death
      </span>
      Check your answers
    </h1>

    <div class="govuk-hint govuk-!-margin-bottom-7" id="hint">
      Check that all the details are correct before you submit this certificate for medical examiner’s scrutiny.
    </div>


    <form action="check-your-answers-cod" method="post">

      <!-- OVER 28 DAYS --> 
      {% if data['over-under-28'] == 'yes' %}

      <dl class="govuk-summary-list">

        <!-- [1a] + [Onset 1a] -->
        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key" style="width:50%">
            1(a) Disease or condition directly leading to death
          </dt>

          <!--Testing unit read-->

          <dd class="govuk-summary-list__value">
            {{ data['main-cause']}}</br>
            <p class="govuk-body-s">{{ data['duration1']}} {{ data['time-unit-duration-1']}} between onset and death</p>
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> main cause</span>
            </a>
          </dd>

        </div>

        <!-- [1b] + [Onset 1b] -->
        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key" style="width:50%">
            1(b) Other disease or condition, if any, leading to 1(a)
          </dt>

          <!--Testing unit read-->

          <dd class="govuk-summary-list__value">
            {{ data['secondary-cause']}}</br>
            <p class="govuk-body-s">{{ data['duration2']}} {{ data['time-unit-duration-2']}} between onset and death</p>
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> main cause</span>
            </a>
          </dd>

        </div>

        <!-- [1c] + [Onset 1c] -->
        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key" style="width:50%">
            1(c) Other disease or condition, if any, leading to 1(b)
          </dt>

          <!--Testing unit read-->

          <dd class="govuk-summary-list__value">
            {{ data['other-conditions-c']}}</br>
            <p class="govuk-body-s">{{ data['duration3']}} {{ data['time-unit-duration-3']}} between onset and death</p>
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> main cause</span>
            </a>
          </dd>

        </div>

        <!-- [1d] + [Onset 1d] -->
        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key" style="width:50%">
            1(d) Other disease or condition, if any, leading to 1(c)
          </dt>

          <!--Testing unit read-->

          <dd class="govuk-summary-list__value">
            {{ data['other-conditions-d']}}</br>
            <p class="govuk-body-s">{{ data['duration4']}} {{ data['time-unit-duration-4']}} between onset and death</p>
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> main cause</span>
            </a>
          </dd>

        </div>

        <!-- [2] + [Onset 2] -->
        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key" style="width:50%">
            2 Other significant conditions contributing to their death
          </dt>

          <!--Testing unit read-->

          <dd class="govuk-summary-list__value">
            {{ data['other-significant-conditions']}}</br>
            <p class="govuk-body-s">{{ data['duration5']}} {{ data['time-unit-duration-5']}} between onset and death</p>
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="cause-of-death">
              Change<span class="govuk-visually-hidden"> main cause</span>
            </a>
          </dd>

        </div>

        <!-- Employment -->
        <div class="govuk-summary-list__row">
            
          <dt class="govuk-summary-list__key" style="width:50%">
            Death affected by employment?
          </dt>

          <dd class="govuk-summary-list__value">
            {{ data['caused-by-employment']}}
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="caused-by-employment">
              Change<span class="govuk-visually-hidden"> employment</span>
            </a>
          </dd>

        </div>

        <!-- Pregnancy -->
        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key" style="width:50%">
            Pregnancy
          </dt>

          <dd class="govuk-summary-list__value">
            {{ data['pregnant-at-death']}}
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="caused-by-employment">
              Change<span class="govuk-visually-hidden"> pregnancy</span>
            </a>
          </dd>

        </div>

        <!-- Pregnancy Contributed? -->
        <div class="govuk-summary-list__row">
          
          <dt class="govuk-summary-list__key" style="width:50%">
            Death affected by pregnancy?
          </dt>

          <dd class="govuk-summary-list__value">
            {{ data['pregnancy-contributed']}}
          </dd>

          <dd class="govuk-summary-list__actions">
            <a href="pregnancy-contributed">
              Change<span class="govuk-visually-hidden"> pregnancy-contributed</span>
            </a>
          </dd>

        </div>
      
      </dl>

          

        {% else %}

          <!-- UNDER 28 Days -->

          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              
              <dt class="govuk-summary-list__key" style="width:50%">
                (a) Main diseases or condition in infant
              </dt>

              <dd class="govuk-summary-list__value">
                {{ data['main-cause']}}
              </dd>

              <dd class="govuk-summary-list__actions">
                <a href="cause-of-death">
                  Change<span class="govuk-visually-hidden"> main cause</span>
                </a>
              </dd>

            </div>

            <div class="govuk-summary-list__row">
              
              <dt class="govuk-summary-list__key" style="width:50%">
                (b) Other diseases or conditions in infant
              </dt>

              <dd class="govuk-summary-list__value">
                {{ data['secondary-cause']}}
              </dd>

              <dd class="govuk-summary-list__actions">
                <a href="cause-of-death">
                  Change<span class="govuk-visually-hidden"> main cause</span>
                </a>
              </dd>

            </div>

            <div class="govuk-summary-list__row">
              
              <dt class="govuk-summary-list__key" style="width:50%">
                (c) Main maternal diseases or conditions affecting infant
              </dt>

              <dd class="govuk-summary-list__value">
                {{ data['other-conditions-c']}}
              </dd>

              <dd class="govuk-summary-list__actions">
                <a href="cause-of-death">
                  Change<span class="govuk-visually-hidden"> main cause</span>
                </a>
              </dd>

            </div>

            <div class="govuk-summary-list__row">
              
              <dt class="govuk-summary-list__key" style="width:50%">
                (d) Other maternal diseases or conditions affecting infant
              </dt>

              <dd class="govuk-summary-list__value">
                {{ data['other-conditions-d']}}
              </dd>

              <dd class="govuk-summary-list__actions">
                <a href="cause-of-death">
                  Change<span class="govuk-visually-hidden"> main cause</span>
                </a>
              </dd>

            </div>

            <div class="govuk-summary-list__row">
              
              <dt class="govuk-summary-list__key" style="width:50%">
                (e) Other relevant factors or circumstances (not diseases of infant or mother)
              </dt>

              <dd class="govuk-summary-list__value">
                {{ data['other-conditions-e']}}
              </dd>

              <dd class="govuk-summary-list__actions">
                <a href="cause-of-death">
                  Change<span class="govuk-visually-hidden"> main cause</span>
                </a>
              </dd>

            </div>



            </dl>
        
        

      {% endif %}


      <button class="govuk-button" type="submit">
        Save and continue
      </button>

    </form>

  </div>
</div>

{% endblock %}