{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">
      <!--<span class="govuk-caption-l govuk-caption--bottom">
      Deceased person's details
      </span> -->
      What is the postcode of the hospital?
    </h1>

    <form action="hospital-lookup" class="form" method="get">

      <div class="govuk-form-group">
        <label class="govuk-label" for="hospital-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="hospital-postcode" name="hospital-postcode" type="text">
      </div>

      <p class="govuk-!-margin-bottom-6"><a href="location-death-hospital">Enter address manually</a></p>

      <button class="govuk-button" type="submit">
        Find address
      </button>
    </form>

  </div>
</div>

{% endblock %}