{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
        
        <h1 class="govuk-heading-l">
          {% if data['over-under-28'] == 'yes' %} What is the deceased person's name?
          {% else %}
          What is the child's name?
          {% endif %}
        </h1>
    
        <form action="name-of-the-deceased" class="form" method="post">
          
          {% if data['over-under-28'] == 'yes' %}
    
          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-first-name">
              First name
            </label>
            <input class="govuk-input" id="deceased-first-name" name="deceased-first-name" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-middle-name">
              Middle names (optional)
            </label>
            <input class="govuk-input" id="deceased-middle-name" name="deceased-middle-name" type="text">
          </div>
    
          <div class="govuk-form-group">
            <label class="govuk-label" for="deceased-last-name">
              Last name
            </label>
            <input class="govuk-input" id="deceased-last-name" name="deceased-last-name" type="text">
          </div>

          {% else %}

          <div class="govuk-form-group">
            <label class="govuk-label" for="child-first-name">
              First name of child
            </label>
            <input class="govuk-input" id="child-first-name" name="child-first-name" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="child-middle-name">
              Middle names of child (optional)
            </label>
            <input class="govuk-input" id="child-middle-name" name="child-middle-name" type="text">
          </div>
    
          <div class="govuk-form-group">
            <label class="govuk-label" for="child-last-name">
              Last name of child
            </label>
            <input class="govuk-input" id="child-last-name" name="child-last-name" type="text">
          </div>

          {% endif %}
    
          <button class="govuk-button" type="submit">
            Save and continue
          </button>
        </form>
        
    </div>
</div>

{% endblock %}
