{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">
      Where approximately did the death take place?
    </h1>

    <form action="death-location" class="form" method="post">

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="location-death">
            Enter details
          </label>
          <div id="approx-location-hint" class="govuk-hint">
            For example, in Cliffe Castle Park, Keighley near the fountain
          </div>

          <textarea class="govuk-textarea" id="location-death" name="location-death" rows="5"
            aria-describedby="example-hint"></textarea>
        </div>

      </fieldset>

      <button class="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}