{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">327463</span>
            MCCD summary
        </h1>

        {% if data['me'] == 'yes' %} 
        <p>Review the details provided by the attending practitioner and accept or reject the MCCD.</p>
        {% endif %}

       


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Deceased person's details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Over 28 days old at time of death?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Thomas Robertson
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            28 August 2023
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sex
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Male
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Seen befored death?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Was the death in a hospital?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Epsom General Hospital
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Actions after death</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Post-mortem?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Seen after death by a doctor?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Cause of death</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(a) Disease or condition directly leading to death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Heart attack
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Time between onset and death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            1 day
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(b) Other disease or condition
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Other heart condition
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Time between onset and death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            5 years
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Affected by employment
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Attending practitioners information</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            James Cameron
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GMC number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            12345678
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Primary qualification
                        </dt>
                        <dd class="govuk-summary-list__value">
                            MB ChB 2010 University of Edinburgh
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Work address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            123 Hospital Road, Wing 4,<br>
                            Newcastle,<br>
                            Tyne and Wear,<br>
                            NE12 3AB
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
{% if data['me'] == 'yes' %}
        <!-- <form action="primary-qualification" method="post"> -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                            Medical examiner declaration
                        </h2>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="primary-qualification-yes"
                                name="primary-qualification" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="primary-qualification-yes">
                                I am a duly appointed medical examiner and following scrutiny I confirm that the cause of death is as stated on the certificate.
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="primary-qualification-no"
                                name="primary-qualification" type="radio" value="no"
                                data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="primary-qualification-no">
                                I am a duly appointed medical examiner and following scrutiny I have provided suggestions about the cause of death stated on the certificate.
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-contact">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="enter-details">
                                    Provide suggestions and details about your decision
                                </label>
                                <textarea class="govuk-textarea" id="enter-details" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <a href="me-mccd-reviewed" class="govuk-button">Continue</a>
        <!-- </form> -->
        {% else %}
        <a href="dashboard" class="govuk-button">Back to dashboard</a>
        {% endif %}
    </div>
</div>

{% endblock %}