{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% if data['over-under-28'] == 'yes' %}
    <div class="govuk-grid-column-full">
  {% else %}
    <div class="govuk-grid-column-two-thirds">
  {% endif %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-xl"><span class="govuk-caption-l">Cause of death</span>
      What caused the death?
    </h1>
    <div class="govuk-hint govuk-!-margin-bottom-7" id="hint">
      Do not use abbreviations, vague terms, or symptoms.
    </div>
    

    <form action="cause-of-death" method="post">

      <!-- =========================================== -->
      <!-- Over 28 days Form -->
      <!-- =========================================== -->

      {% if data['over-under-28'] == 'yes' %}

        <h2 class="govuk-heading-xl">Cause of death (1)</h2>

        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="main-cause">
              1(a) disease or condition directly leading to death (required)
            </label>
            <input class="govuk-input" id="main-cause" name="main-cause" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration1">
              Time between onset and death
            </label>
            <input class="govuk-input" id="duration1" name="duration1" type="text">
          </div>
        </div>
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="secondary-cause">
              1(b) other disease or condition leading to 1(a)
            </label>
            <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration2">
              Time between onset and death
            </label>
            <input class="govuk-input" id="duration2" name="duration2" type="text">
          </div>
        </div>
        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-c">
              1(c) other disease or condition leading to 1(b)
            </label>
            <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration3">
              Time between onset and death
            </label>
            <input class="govuk-input" id="duration3" name="duration3" type="text">
          </div>
        </div>

        <h2 class="govuk-heading-xl">Cause of death (2)</h2>

        <div class="govuk-grid-column-two-thirds" style="padding: 0;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-significant-conditions">
              Other significant conditions
            </label>
            <input class="govuk-input" id="other-significant-conditions" name="other-significant-conditions" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="duration5">
              Time between onset and death
            </label>
            <input class="govuk-input" id="duration5" name="duration5" type="text">
          </div>
        </div>
      
      {% else %}

        <!-- =========================================== -->
        <!-- Under 28 days Form -->
        <!-- =========================================== -->

        
          <div class="govuk-form-group">
            <label class="govuk-label" for="main-cause">
              a. Main disease or condition in infant (required)
            </label>
            <input class="govuk-input" id="main-cause" name="main-cause" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="secondary-cause">
              b. Other disease or conditions in infant
            </label>
            <input class="govuk-input" id="secondary-cause" name="secondary-cause" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-c">
              c. Main maternal disease or conditions affecting infant
            </label>
            <input class="govuk-input" id="other-conditions-c" name="other-conditions-c" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-d">
              d. Other maternal disease or conditions affecting infant
            </label>
            <input class="govuk-input" id="other-conditions-d" name="other-conditions-d" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="other-conditions-e">
              e. Other relevant causes
            </label>
            <input class="govuk-input" id="other-conditions-e" name="other-conditions-e" type="text">
          </div>
        

      
      {% endif %}

      
        <button class="govuk-button" type="submit">
          Continue
        </button>
  

    </form>

  </div>
</div>

{% endblock %}