{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l"><span class="govuk-caption-l govuk-caption--bottom">Register to use this service</span>
      Where do you work?
    </h1>

    <h2 class="govuk-heading-s">Select your work address</h2>

    <ul class="govuk-list">
        <li><p class="govuk-!-margin-bottom-0"><a href="your-email-address">12 Chris Church Road, KT19</a></p></li>
        <li><p class="govuk-!-margin-bottom-0"><a href="your-email-address">14 Chris Church Road, KT19</a></p></li>
        <li><p class="govuk-!-margin-bottom-0"><a href="your-email-address">16 Chris Church Road, KT19</a></p></li>
        <li><p class="govuk-!-margin-bottom-0"><a href="your-email-address">18 Chris Church Road, KT19</a></p></li>
        <li><p class="govuk-!-margin-bottom-0"><a href="your-email-address">20 Chris Church Road, KT19</a></p></li>
        
    </ul>

    <p>Or</p>

    <p><a href="#">My work address is not on the list</a></p>



  </div>
</div>

{% endblock %}