{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l"><span class="govuk-caption-l govuk-caption--bottom">Register to use this service</span>
      What is your full name?
    </h1>

    <form action="me-full-name" role="form" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="your-first-name">
          First name
        </label>
        <input class="govuk-input" id="your-first-name" name="your-full-name-first" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="your-last-name">
          Last name
        </label>
        <input class="govuk-input" id="your-last-name" name="your-full-name-last" type="text">
      </div>

      <button class="govuk-button" type="submit">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}