{% extends "layouts/prototype-main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        

        <form action="login-page" method="post">
            <h1 class="govuk-heading-l">Sign in</h1>

            <!-- Warning text -->
            <div class="govuk-warning-text govuk-form-group govuk-!-padding-bottom-3 govuk-!-padding-top-4">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <span class="govuk-warning-text__text">
                    Once you have signed in, if you do not do anything for 60 minutes any information you have not saved will be deleted.
                </span>
            </div>
<!--
            <div class="govuk-form-group">
                <label class="govuk-label" for="username">
                    Email address
                </label>
                <input class="govuk-input govuk-input--width-20" id="username" name="username" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                    Password
                </label>
                <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password">
            </div>
            <p><a class="govuk-link" href="#">Forgot your password?</a></p>

            <button class="govuk-button" type="submit">
                Sign in
            </button>
            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

            <a href="care-id-select" class="nhslogin-button">Sign in with Care ID</a>
            <h2 class="govuk-heading-s">What is CareID?</h2>
            <p>Content to explain CIS2 will be displayed here</p><br>
            
        </form>

    </div>
    
</div>

{% endblock %}