{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">#327463</span>
            MCCD summary
        </h1>



       


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Deceased person's details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['deceased-first-name']}} {{ data['deceased-middle-name']}} {{ data['deceased-last-name']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            NHS number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['nhs-number']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['dob-day']}} {{ data['dob-month']}} {{ data['dob-year']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Age
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['deceased-age']}}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sex
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['what-is-their-sex']}}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Ethnicity
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['ethnicity']}}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['date-of-death']}}
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Seen by attending practitioner before death?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Was the death in a hospital?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location of death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['death-in-hospital'] == 'no' %}
                            {% if data['location-of-death'] == 'no' %}
                            {{ data['location-death']}}
                            {% else %}
                            {% if data['select-another-address'] %}
                            {{ data['select-another-address'] }}
                            {% else %}
                            {{ data['address-line-1']}}
                            {{ data['address-line-2']}}<br>
                            {{ data['address-town']}}<br>
                            {{ data['address-county']}}<br>
                            {{ data['address-postcode']}}<br>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            {% if data['select-hospital-address'] %}
                            {{ data['select-hospital-address'] }}
                            {% else %}
                            {{ data['address-line-1']}}
                            {{ data['address-line-2']}}<br>
                            {{ data['address-town']}}<br>
                            {{ data['address-county']}}<br>
                            {{ data['address-postcode']}}<br>
                            {% endif %}
                            {% endif %}
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Actions after death</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Post-mortem?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['death-circumstances']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implants in body?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['implant']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implant details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['implant-details']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Implants removed?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['implant-removed']}}
                        </dd>
                    </div>
                    
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Cause of death</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(a) Disease or condition directly leading to death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['main-cause'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Time between onset and death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['duration1'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(b) Other disease or condition
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data ['secondary-cause']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Time between onset and death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['duration2'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(c) Other disease or condition
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['other-conditions-c'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Time between onset and death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['duration3'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            1(d) Other disease or condition
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['other-conditions-d'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Time between onset and death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['duration4'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            2 other signficant conditions
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['other-significant-conditions']}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Time between onset and death
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data ['duration5'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Death affected by employment?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['caused-by-employment']}}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        {% if data['role-type'] == 'me' or data['role-type'] == 'both' %}

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Attending practitioners information</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            James Cameron
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GMC number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            12345678
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Primary qualification
                        </dt>
                        <dd class="govuk-summary-list__value">
                            MB ChB 2010 University of Edinburgh
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Work address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            123 Hospital Road, Wing 4,<br>
                            Newcastle,<br>
                            Tyne and Wear,<br>
                            NE12 3AB
                        </dd>
                    </div>
                </dl>
                {% endif %}
            </div>
        </div>
        {% if data['role-type'] == 'me' or data['role-type'] == 'both' %}
            {% if data['declaration-approve'] %}
                <a href="dashboard" class="govuk-button">Back to dashboard</a>
            {% else %}
            <form action="me-declaration" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                                Medical examiner declaration
                            </h2>
                        </legend>
                        
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="declaration-approve-yes"
                                    name="declaration-approve" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="declaration-approve-yes">
                                    Approve certificate
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="declaration-approve-no"
                                    name="declaration-approve" type="radio" value="no"
                                    data-aria-controls="conditional-contact">
                                <label class="govuk-label govuk-radios__label" for="declaration-approve-no">
                                    Reject certificate
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                id="conditional-contact">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="enter-details">
                                        Provide reason for rejection
                                    </label>
                                    <div id="changedName-hint" class="govuk-hint">
                                        Include any amends required for the attending practitioner to review as well as further discussions to be had if needed
                                    </div>
                                    <textarea class="govuk-textarea" id="enter-details" name="rejectReason" rows="5" aria-describedby="more-detail-hint"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" type="submit">Continue</button>
            </form>
            {% endif %}
        {% else %}
        <a href="dashboard" class="govuk-button">Back to dashboard</a>
        {% endif %}
    </div>
</div>

{% endblock %}