{% extends "layouts/prototype-main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-6">

    <h1 class="govuk-heading-xl">
        <strong class="govuk-tag govuk-tag--blue">
            Bilingual
        </strong><br>
        Create a medical certificate of cause of death (MCCD)
    </h1>
    <p>One of the main benefits of this work is to improve what is a difficult experience for the bereaved by removing the need for the bereaved to transport the MCCD in a sealed envelope to the registrar in person and instead implementing a digital transfer of the MCCD</p>

  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ================================================ -->
    <!-- Current Version -->
    <!-- ================================================ -->

    <h2 class="govuk-heading-m">Current Version</h2>
    <p>A current version will be created when the first bilingual version is live.</p>
    <!-- <p>This version of the prototype is matching as close as possible to what is currently live.</p>
    <p><a href="#">Medical Certificate of Cause of Death Journey</a></p>
    <p><a href="#">Multi-factor authentication journey</a></p>
    <p class="govuk-caption-m govuk-caption--bottom">Last updated: TO DO</p> -->

    <!-- ================================================ -->
    <!-- Iterations -->
    <!-- ================================================ -->

    <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-8">

    <h2 class="govuk-heading-m">Iterations</h2>

    <!-- Verion 6 -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 1 - Bilingual journey
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Bilingual journey</h3>
        <p class="govuk-caption-m govuk-caption--bottom">Create a bilingual journey for MCCD</p>

        <h4 class="govuk-heading-s">What we created</h4>
        <ul>
          <li>...</li>
        </ul>

        <h4 class="govuk-heading-s">What we plan to test</h4>
        <ul>
          <li>...</li>

        </ul>

        <h4 class="govuk-heading-s">What we found</h4>
        <ul>
          <li>...</li>
        </ul>

        <h4 class="govuk-heading-s">Any known issues</h4>
        <ul>
          <li>...</li>
        </ul>

        <a href="#" class="govuk-button">Medical Certificate of Cause of Death Journey</a><br>
        
        <p><a href="#">Multi-factor authentication journey</a></p>

      </div>
    </details>
  </div>

  <!-- ================================================ -->
  <!-- Useful links -->
  <!-- ================================================ -->

  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-0">
      <h2 class="govuk-heading-m">Useful links</h2>
      <p><a href="../index">English journey</a></p>
      <p><a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4194238810/Design+History">Design History</a></p>
      <p><a href="https://nhs-bsa-mccd.herokuapp.com/">Historic prototype</a><br>user/pass: bsa</p>
    </div>
  </div>
</div>

{% endblock %}