{% extends "layouts/prototype-main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-6">

    <h1 class="govuk-heading-xl">
      <strong class="govuk-tag govuk-tag--blue">
          English
      </strong><br>
      Create a medical certificate of cause of death (MCCD)
    </h1>
    <p>One of the main benefits of this work is to improve what is a difficult experience for the bereaved by removing
      the need for the bereaved to transport the MCCD in a sealed envelope to the registrar in person and instead
      implementing a digital transfer of the MCCD.</p>

  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ================================================ -->
    <!-- Current Version -->
    <!-- ================================================ -->

    <h2 class="govuk-heading-m">Current Version</h2>
    <p>This version of the prototype is matching as close as possible to what is currently live.</p>
   <p><a href="current/index?account-creation-journey=no">Medical Certificate of Cause of Death Journey</a></p>
    <p><a href="current/MFA/account-created-email">Multi-factor authentication journey</a></p>
    <p class="govuk-caption-m govuk-caption--bottom">Last updated: 19 July 2023</p>

    <!-- ================================================ -->
    <!-- Iterations -->
    <!-- ================================================ -->

    <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-8">

    <h2 class="govuk-heading-m">Iterations</h2>

    <!-- Version 10 -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 10 - Prototype in line with question protocol
        </span>
      </summary>
      <div class="govuk-details__text">

        <h4 class="govuk-heading-s">What we created</h4>
        <ul>
          <li>All questions now match the question protocol</li>
        </ul>

        <h4 class="govuk-heading-s">What we plan to test</h4>
        <ul>
          <li>End to end usability of the platform</li>

        </ul>

        <h4 class="govuk-heading-s">Any known issues</h4>
        <ul>
          <li>Method of registration</li>
          <li>Bilingual journey</li>
        </ul>

        <a href="/govuk-start" class="govuk-button govuk-button--secondary">Sign in</a>

      </div>
    </details>
    <!-- Version 9 -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 9 - New Form Fields
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">New form fields</h3>
        <p class="govuk-caption-m govuk-caption--bottom">Iteration for new form fields and dashboard content</p>

        <h4 class="govuk-heading-s">What we created</h4>
        <ul>
          <li>Start page – content design amends</li>
          <li>ME dashboard – new content, new table – Certificates reviewed by you</li>
          <li>AP dashboard – new content</li>
          <li>ME summary page – design and content changes to declaration</li>
          <li>New fields – Deceased’s NHS number and middle name of deceased</li>
          <li>MCCD summary page – Your details removed</li>
        </ul>

        <h4 class="govuk-heading-s">What we plan to test</h4>
        <ul>
          <li>AP sign in and creation of MCCD</li>
          <li>ME sign in and review of MCCD</li>

        </ul>

        <h4 class="govuk-heading-s">What we found</h4>
        <ul>
          <li>...</li>
        </ul>

        <h4 class="govuk-heading-s">Any known issues</h4>
        <ul>
          <li>...</li>
        </ul>

        <a href="v9/MFA/account-created-email" class="govuk-button">Registration journey</a><br>
        <a href="v9/index?role-type=ap" class="govuk-button govuk-button--secondary">AP sign in</a><br>
        <a href="v9/index?role-type=me" class="govuk-button govuk-button--secondary">ME sign in</a><br>

      </div>
    </details>

    <!-- Version 8 -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 8 - Iteration and postcode lookup
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Iteration and postcode lookup</h3>
        <p class="govuk-caption-m govuk-caption--bottom">Iteration for the registeration process, dashboard view and declaration content along with the implementation of a fully functional postcode lookup.</p>

        <h4 class="govuk-heading-s">What we created</h4>
        <ul>
          <li>A postcode lookup for AP/ME work address resulting in a drop down containing all the possible addresses for a postcode.</li>
        </ul>

        <h4 class="govuk-heading-s">What we plan to test</h4>
        <ul>
          <li>In Beta testing - accessibility of the address select box.</li>
        </ul>

        <h4 class="govuk-heading-s">What we found</h4>
        <ul>
          <li>N/A</li>
        </ul>

        <h4 class="govuk-heading-s">Any known issues</h4>
        <ul>
          <li>The select box may have accessibility issues.</li>
        </ul>

        <a href="v8/MFA/account-created-email" class="govuk-button">Registration journey</a><br>
        <a href="v8/index?role-type=ap" class="govuk-button govuk-button--secondary">AP sign in</a><br>
        <a href="v8/index?role-type=me" class="govuk-button govuk-button--secondary">ME sign in</a><br>

      </div>
    </details>

    <!-- Version 7 -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 7 - MES and MCCD crossover
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">MES and MCCD Crossover</h3>
        <p class="govuk-caption-m govuk-caption--bottom">Crossover testing, dashboard overhaul and AP registration</p>

        <h4 class="govuk-heading-s">What we created</h4>
        <ul>
          <li>Registration flow</li>
          <li>AP dashboard</li>
          <li>ME dashboard and MCCD review page</li>
        </ul>

        <h4 class="govuk-heading-s">What we plan to test</h4>
        <ul>
          <li>Registration flow</li>
          <li>Dashboards</li>
          <li>ME review of MCCD/li>
        </ul>

        <h4 class="govuk-heading-s">What we found</h4>
        <ul>
          <li>APs confused by dashboard</li>
          <li>Confusion around authentication app</li>
          <li>ME declaration confused usability participants</li>
        </ul>

        <h4 class="govuk-heading-s">Any known issues</h4>
        <ul>
          <li>Uncertainty around registration/signing in process – use of CIS2</li>
          <li>Administration of service</li>
        </ul>

        <a href="v7/index?account-creation-journey=no&me=no" class="govuk-button">Medical Certificate of Cause of Death Journey</a><br>
        <a href="v7/index?me=yes" class="govuk-button govuk-button--secondary">Medical Examiner Authorisation Journey</a>
        <p><a href="v7/MFA/account-created-email">Email invite to join MCCD</a></p>

      </div>
    </details>

    <!-- Version 6 -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version 6 - Moving to the GOVUK Toolkit
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Moving to the GOVUK Toolkit</h3>
        <p class="govuk-caption-m govuk-caption--bottom">Full rebrand to use the GOVUK Toolkit</p>

        <h4 class="govuk-heading-s">What we created</h4>
        <ul>
          <li>removed NHS branding</li>
          <li>implemented the GOVUK Toolkit</li>
          <li>includes over and under 28 days journey</li>
        </ul>

        <h4 class="govuk-heading-s">What we plan to test</h4>
        <ul>
          <li>is the new branding still trusted</li>

        </ul>

        <h4 class="govuk-heading-s">What we found</h4>
        <ul>
          <li>...</li>
        </ul>

        <h4 class="govuk-heading-s">Any known issues</h4>
        <ul>
          <li>...</li>
        </ul>

        <a href="v6/index?account-creation-journey=no" class="govuk-button">Medical Certificate of Cause of Death Journey</a><br>
        
        <p><a href="current/MFA/account-created-email">Multi-factor authentication journey</a></p>

      </div>
    </details>
  </div>

  <!-- ================================================ -->
  <!-- Useful links -->
  <!-- ================================================ -->

  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-0">
      <h2 class="govuk-heading-m">Useful links</h2>
      <p><a href="bilingual/bilingual-index">Bilingual journey</a></p>
      <p><a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4194238810/Design+History">Design History</a></p>
      <p><a href="https://nhs-bsa-mccd.herokuapp.com/">Historic prototype</a><br>user/pass: bsa</p>
    </div>
  </div>
</div>

{% endblock %}