<!--OFFICER REVIEW-->

<form action="officer-review" method="post">

    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                    Medical examiner officer review
                </h2>

            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="officer-review-amend" name="officer-review" type="radio"
                        value="This certificate requires amendments by the attending practitioner">
                    <label class="govuk-label govuk-radios__label" for="officer-review-amend">
                        This certificate requires amendments by the attending practitioner
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="officer-review-signoff" name="officer-review" type="radio"
                        value="This certificate requires amendments by the attending practitioner">
                    <label class="govuk-label govuk-radios__label" for="officer-review-signoff">
                        This certificate is ready for medical examiner sign off
                    </label>
                </div>

            </div>

        </fieldset>
    </div>

    <button class="govuk-button govuk-button--primary" type="submit">Save and continue</button>
    <button class="govuk-button govuk-button--secondary" type="submit">Back to dashboard</button>

</form>

<!--ME SIGN OFF-->

<form action="me-signoff" method="post">

    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                    Medical examiner sign off
                </h2>

            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="me-signoff-amend" name="me-signoff" type="radio"
                        value="This certificate requires amendments by the attending practitioner">
                    <label class="govuk-label govuk-radios__label" for="me-signoff-amend">
                        This certificate requires amendments by the attending practitioner
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="me-signoff-registrar" name="me-signoff" type="radio"
                        value="This certificate is ready to be sent to the registrar">
                    <label class="govuk-label govuk-radios__label" for="me-signoff-registrar">
                        This certificate is ready to be sent to the registrar
                    </label>
                </div>

            </div>

        </fieldset>
    </div>

    <button class="govuk-button govuk-button--primary" type="submit">Save and continue</button>
    <button class="govuk-button govuk-button--secondary" type="submit">Back to dashboard</button>

</form>

<!--DOWNLOAD & SHARE-->

<form action="download-share" method="post">

    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                <h2 class="govuk-fieldset__heading govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                    Download certificate
                </h2>
                <p>Download this certificate to your computer and send it to the registrar via email. Once you are
                    ready, come back to this screen to mark this certificate as sent by ticking the checkbox below.</p>
                <button class="govuk-button govuk-button--primary" type="submit">Download certificate</button>

            </legend>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="sent-to-registrar" name="sent-to-registrar"
                        type="checkbox" value="I have sent this certificate to the registrar">
                    <label class="govuk-label govuk-checkboxes__label" for="sent-to-registrar">
                        I have sent this certificate to the registrar
                    </label>
                </div>
            </div>

        </fieldset>
    </div>

    <button class="govuk-button govuk-button--primary" type="submit">Mark MCCD as sent to registrar</button>
    <button class="govuk-button govuk-button--secondary" type="submit">Back to dashboard</button>

</form>







<!--FEEDBACK-->


<!--FEEDBACK CAPTURE -->

<form action="give-feedback" role="form" method="post">

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Give feedback (optional)</h2>
    <h3 class="govuk-heading-s">Overall, how did you feel about using our service today?</h3>

    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

            <div class="govuk-radios">

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback-score-5" name="give-feedback" type="radio"
                        value="Very satisfied">
                    <label class="govuk-label govuk-radios__label" for="feedback-score-5">
                        Very satisfied
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback-score-4" name="give-feedback" type="radio"
                        value="Satisfied">
                    <label class="govuk-label govuk-radios__label" for="feedback-score-4">
                        Satisfied
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback-score-3" name="give-feedback" type="radio"
                        value="Neither satisfied or dissatisfied">
                    <label class="govuk-label govuk-radios__label" for="feedback-score-3">
                        Neither satisfied or dissatisfied
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback-score-2" name="give-feedback" type="radio"
                        value="Dissatisfied">
                    <label class="govuk-label govuk-radios__label" for="feedback-score-2">
                        Dissatisfied
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback-score-1" name="give-feedback" type="radio"
                        value="Satisfied">
                    <label class="govuk-label govuk-radios__label" for="feedback-score-1">
                        Very dissatisfied
                    </label>
                </div>

            </div>

        </fieldset>

    </div>

    <h5 class="govuk-heading-s govuk-!-margin-bottom-1">How can we improve this service?</h5>
    <div class="govuk-hint govuk-!-margin-bottom-2" id="hint">Do not include confidential or medical information in your
        message.</div>
    <textarea class="govuk-textarea" id="feedback-text" name="feedback-text" rows="3"
        aria-describedby="example-hint"></textarea>

    <button class="govuk-button" data-module="govuk-button">
        Send feedback
    </button>

</form>