{% extends "layouts/main.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="confirmation" method="post" novalidate>

            {% if data['role-type'] == 'ap' %}
                
                <!-- AP -->

            {% elseif data['role-type'] == 'me' %}

                <!-- ME -->
                {% if data['me-signoff'] == 'amend' %}

                    <!-- Certificate needs amendments from the AP... -->
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">Certificate returned to the attending practitioner</h1>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--m" />

                    <p class="govuk-body-l">You must contact the attending practitioner to inform them that the MCCD needs amending.</p>
                    
                    <h2 class="govuk-heading-m">What happens next</h2>
                    <p class="govuk-body">When the attending practitioner has amended this MCCD you will receive an email. You must then sign back in to the MCCD service and approve and sign-off this certificate.</p>
                
                {% else %}

                    <!-- Certificate can be submitted to registrar by MEO... -->
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">Certificate signed off</h1>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--m" />

                    <p class="govuk-body-l">Medical examiner officers in your organisation can now submit this certificate to the appropriate registrar.</p>

                    <h2 class="govuk-heading-m">What happens next</h2>
                    <p class="govuk-body">There are no further actions for you.</p>

                {% endif %}

            {% else %}

                <!-- MEO -->

                {% if data['sent-to-registrar'] %}

                    <!-- Submitted to registrar -->
                    <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">Certificate submitted to registrar</h1>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m" />

                        <h2 class="govuk-heading-m">What happens next</h2>
                        <p class="govuk-body">You’ll still have access to this certificate from your dashboard for 3 months. There are no further actions for you.</p>

                {% else %}

                    {% if data['meo-review'] == 'amend' %}

                        <!-- Certificate needs amendments from the AP... -->
                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">Certificate returned to the attending practitioner</h1>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m" />

                        <p class="govuk-body-l">You must contact the attending practitioner to inform them that the MCCD needs amending.</p>

                        <h2 class="govuk-heading-m">What happens next</h2>
                        <p class="govuk-body">You will receive an email when the attending practitioner has amended this certificate. You must then sign back in to the MCCD service and change the status of this certificate to 'For sign off by a medical examiner'.</p>
                    
                    {% else %}

                        <!-- Certificate sent to ME... -->
                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">Certificate sent to medical examiners for sign-off</h1>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m" />

                        <p class="govuk-body-l">Medical examiners in your organisation will now be able to access this certificate from their dashboard. They can review and sign off this certificate as part of the scrutiny process.</p>

                        <h2 class="govuk-heading-m">What happens next</h2>
                        <p class="govuk-body">You will receive an email when the medical examiner has signed off this certificate. You must then sign back in to the MCCD service, download the signed-off certificate and send it to the registrar.</p>

                    {% endif %}

                {% endif %}


                

            {% endif %}

            <hr class="govuk-section-break govuk-section-break--m" />

            {{ govukButton({
                text: data.translations.globalBackToDashboard[data.lang],
                classes: 'govuk-button--secondary'
            }) }}

        </form>

    </div>
</div>

{{ data | debugData | safe }}

{% endblock %}