{% extends "layouts/main_cy-en.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
  }) }}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% import 'tests/data-patients.html' as patientData %}
        {% set patient = patientData.data | getPatientDataByID( data.id ) %}

        {% if patient %}

        <!--


 ______   ________  _________     _       _____  _____      ______   
|_   _ `.|_   __  ||  _   _  |   / \     |_   _||_   _|   .' ____ \  
  | | `. \ | |_ \_||_/ | | \_|  / _ \      | |    | |     | (___ \_| 
  | |  | | |  _| _     | |     / ___ \     | |    | |   _  _.____`.  
 _| |_.' /_| |__/ |   _| |_  _/ /   \ \_  _| |_  _| |__/ || \____) | 
|______.'|________|  |_____||____| |____||_____||________| \______.' 
                                                                     


        -->

        <main class="govuk-main-wrapper">
            
            {{ patient.status | getStatusTag | safe }}
            <h1 class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-2">{{ data.translations.mccdTasklistPageTitle[data.lang] }}</h1>
            <p class="govuk-body govuk-!-margin-bottom-6">Reference number: {{ patient.id }}</p>

            {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

            <!-- DECEASED PERSONS DETAILS -->
            {{ govukSummaryList({
                card: {
                    title: { text: data.translations.pmMCCDTasklistDeceasedPersonsDetails[data.lang] }
                },
                rows: [
                    {  key: { text: data.translations.dpdCheckAnswersNHSNumber[data.lang] }, value: { text: patient.nhsNo } },
                    {  key: { text: data.translations.dpdCheckAnswersFullName[data.lang] }, value: { text: patient.name } },
                    {  key: { text: data.translations.dpdCheckAnswersDoB[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.dpdCheckAnswersAgeAtDeath[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.dpdCheckAnswersEthnicity[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.dpdCheckAnswersDoD[data.lang] }, value: { text: patient.dateOfDeath } },
                    {  key: { text: data.translations.dpdCheckAnswersDeathLocation[data.lang] }, value: { text: patient.placeOfDeath } },
                    {  key: { text: data.translations.dpdCheckAnswersConsultantName[data.lang] }, value: { text: '' } }
                ]
            }) }}

            <!-- ACTIONS AFTER DEATH -->
            {{ govukSummaryList({
                card: {
                    title: { text: data.translations.pmMCCDTasklistActionsAfterDeath[data.lang] }
                },
                rows: [
                    {  key: { text: data.translations.aadCheckAnswersPostMortem[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.aadCheckAnswersImplantsInBody[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.aadCheckAnswersImplantDetails[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.aadCheckAnswersImplantsRemoved[data.lang] }, value: { text: '' } }
                ]
            }) }}

            <!-- CAUSE OF DEATH  -->
            {{ govukSummaryList({
                card: {
                    title: { text: data.translations.pmMCCDTasklistCoD[data.lang] }
                },
                rows: [
                    {  key: { text: data.translations.CYAcodO281aMainDisease[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodO281bDiseaseLeadingTo1a[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodO281cDiseaseLeadingTo1b[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodO281dDiseaseLeadingTo1c[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodO282OtherConditions[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodO28Employment[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodO28Pregnancy[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.CYAcodO28PregnancyContributed[data.lang] }, value: { text: '' } }
                ]
            }) }}

            <!-- ATTENDING PRACTITIONERS INFORMATION -->
            {{ govukSummaryList({
                card: {
                    title: { text: data.translations.pmMCCDTasklistAttendingPractitionersInformation[data.lang] }
                },
                rows: [
                    {  key: { text: data.translations.dpdConfirmDetailsFullName[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.dpdConfirmDetailsGMC[data.lang] }, value: { text: '' } },
                    {  key: { text: data.translations.dpdConfirmDetailsWorkAddress[data.lang] }, value: { html: '' } }
                ]
            }) }}

            <!--


      _        ______  _________  _____   ___   ____  _____   ______   
     / \     .' ___  ||  _   _  ||_   _|.'   `.|_   \|_   _|.' ____ \  
    / _ \   / .'   \_||_/ | | \_|  | | /  .-.  \ |   \ | |  | (___ \_| 
   / ___ \  | |           | |      | | | |   | | | |\ \| |   _.____`.  
 _/ /   \ \_\ `.___.'\   _| |_    _| |_\  `-'  /_| |_\   |_ | \____) | 
|____| |____|`.____ .'  |_____|  |_____|`.___.'|_____|\____| \______.' 
                                                                       


            -->

            {% if data['role-type'] == 'ap' %}

                {{ govukInsetText({
                    text: 'Attending practitioner actions go here.'
                }) }}

            {% elseif data['role-type'] == 'me' %}

                {{ govukInsetText({
                    text: 'Medical examiner actions go here.'
                }) }}

            {% else %}

                {{ govukInsetText({
                    text: 'Medical examiner officer actions go here.'
                }) }}

            {% endif %}


        </main>

        {% else %}

            <h1 class="govuk-heading-l">Patient not found</h1>

            {{ govukInsetText({
                text: 'No patient information could be found for that ID.'
            }) }}

        {% endif %}

    </div>
</div>

{{ data | debugData | safe }}

{% endblock %}