{% extends "layouts/main.html" %}

{% block pageTitle %}{{ settings }} - {{ serviceName }}{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="ethnicity" method="post" novalidate>
        
            <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="ethnicity-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        What was the ethnicity of the deceased person?
                      </h1>
                    </legend>
                    <div id="ethnicity-hint" class="govuk-hint">
                      Select the ethnicity of the deceased person as it is recorded on the patient record. If there is no match with the list, or no ethnicity is recorded on the patient record, select 'not stated'.
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail" name="ethnicityDetail" type="radio" value="Black, African, Caribbean or Black British - African" {% if data['ethnicityDetail'] === 'Black, African, Caribbean or Black British - African' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail">
                            African
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail-2" name="ethnicityDetail" type="radio" value="Black, African, Caribbean or Black British - Caribbean" {% if data['ethnicityDetail'] === 'Black, African, Caribbean or Black British - Caribbean' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail-2">
                            Caribbean
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail-3" name="ethnicityDetail" type="radio" value="Black, African, Caribbean or Black British - Other" data-aria-controls="conditional-ethnicityDetail-3" {% if data['ethnicityDetail'] === 'Black, African, Caribbean or Black British - Other' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail-3">
                            Any other Black, African or Caribbean background
                          </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail-5" name="ethnicityDetail" type="radio" value="Black, African, Caribbean or Black British - Not stated" {% if data['ethnicityDetail'] === 'Black, African, Caribbean or Black British - Not stated' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail-5">
                            Not stated
                          </label>
                        </div>
                      </div>
                    
                </fieldset>

            </div>

            <button class="govuk-button" type="submit">
                Save and continue
            </button>
        </form>

    </div>
</div>
</main>
{% endblock %}