{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
    text: data.translations.globalBackLink[data.lang],
    href: 'javascript:history.back()'
}) }}

{% endblock %}
{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="ethnicity" method="post" novalidate>
        
            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset" aria-describedby="ethnicity-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What was the ethnicity of the deceased person?
                  </h1>
                </legend>
                <div id="ethnicity-hint" class="govuk-hint">
                  Select the ethnicity of the deceased person as it is recorded on the patient record. If there is no match with the list, or no ethnicity is recorded on the patient record, select 'not stated'.
                </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail" name="ethnicityDetail" type="radio" value="White - English, Welsh, Scottish, Northern Irish or British" {% if data['ethnicityDetail'] === 'White - English, Welsh, Scottish, Northern Irish or British' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail">
                            English, Welsh, Scottish, Northern Irish or British
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail-2" name="ethnicityDetail" type="radio" value="White - Irish" {% if data['ethnicityDetail'] === 'White - Irish' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail-2">
                            Irish
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail-3" name="ethnicityDetail" type="radio" value="White - Gypsy or Irish Traveller" {% if data['ethnicityDetail'] === 'White - Gypsy or Irish Traveller' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail-3">
                            Gypsy or Irish Traveller
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail-4" name="ethnicityDetail" type="radio" value="White - Other" data-aria-controls="conditional-ethnicityDetail-4" {% if data['ethnicityDetail'] === 'White - Other' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail-4">
                            Any other White background
                          </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnicityDetail-6" name="ethnicityDetail" type="radio" value="White - Not stated" {% if data['ethnicityDetail'] === 'White - Not stated' %}checked {% endif %}/>
                          <label class="govuk-label govuk-radios__label" for="ethnicityDetail-6">
                            Not stated
                          </label>
                        </div>
                      </div>
                </fieldset>

            </div>

            <button class="govuk-button" type="submit">
                Save and continue
            </button>
        </form>

    </div>
</div>
</main>
{% endblock %}